@(dealercode:String,dealerName:String,userName:String,callsbyuser: List[models.InsuranceServiceCall])
@import helper._
@import scala._
@mainPageCRE("WyzConnect - ADC",userName,dealerName,dealercode) {
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">                        
                         
                          Insurance Scheduled Call
                        </div>
                        
                         <div class="panel-body">
                            <div class="dataTable_wrapper">                            
                            <div style="overflow-x: auto">
                               <table class="table table-striped table-bordered table-hover" id="dataTables-example20">
                                    <thead>
                                 <tr> 
                                	                            	
                                    <th>Customer Name</th>
                    				<th>Address</th>                    				
                                    <th>Mobile Number</th>
                                    <th>SaleDate</th>
                                    <th>VIN Number</th>                                   
                                    <th>Model</th>
                                    <th>Variant</th>
                                    <th>Due Date</th>                                 
                                       <!--<th class="no-sort">Details</th>--> 
                                                                                                      
                                    
                                 </tr>
                              </thead>
                                <tbody>
                                
                                    
                                 @for(post <- callsbyuser) {
                                 	<tr>
                               <td>@post.customerName</td>                             
                              	<td>@post.customerAddress</td>
                              	<td>@post.customerPhone</td>
                              	<td>@post.saleDate</td>  
                              	<td>@post.vehicleNumber</td>                               	
                              	<td>@post.model</td>   
                              	<td>@post.variant</td>   
                              	<td>@post.dueDate</td>                               	
                               <td><a href="/@dealercode/CRE/MoreInfoInsuranceCRE/@post.id">More info <i class="fa fa-arrow-circle-right"></a></td>
                              	
                              	                                                                     
                                        </tr>
                                      
                                     }
                             
                                   
                                </tbody>
                               
                            </table>
                                </div>
                            </div>
                           
                            
                        </div>
                       
                    </div>
                    
                </div>
               
            </div>
            
}