@(cresList:List[String],complaintData:List[Complaint],dealerName:String,user:String,locationList:List[Location],workshopList:List[Workshop])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {
@helper.form(action=routes.CallInteractionController.assignComplaints() ,'id -> "form5"){

<!-- complaint Assignment Model statrs -->
<div class="row" >
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">   
                COMPLAINT ASSIGNMENT MODULE
            </div>
            <div class="panel-body" style="overflow-x: auto;">
                <div class="table-responsive">	
                <table id="baseTable" class="table table-striped table-bordered nowrap example4321" cellspacing="0">
                    <thead>
                        <tr id="row1">
                            <th>COMPLAINT No.</th>
                            <th>ISSUE DATE</th>
                            <th>AGING (Days)</th>
                            <th>REGISTERED BY</th>
                            <th>SOURCE</th>
                            <th>FUNCTION</th>
                            <th>CATEGORY</th>
                            <th>VEHICLE No.</th>
                            <th>MOBILE No.</th>
                            <th >View</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for(post <- complaintData){
                      
                        <tr id="rowclass" class="rowclass@post.getComplaintNumber()">
                            <td id="compNum" >@post.getComplaintNumber()</td>
                            <td id="issueDate">@post.getIssueDate()</td>
	<td id="x">@post.getAgeOfComplaint()</td>
                            <td id="userName">@post.getWyzUser().getUserName()</td>
                            <td id="y">@post.getFunctionName()</td>
                            <td id="z">@post.getSourceName()</td>
                            <td id="a">@post.getSubcomplaintType()</td>
                            <td id="vREgNO">@post.getVehicleRegNo()</td>
                            <td id="custPhone">@post.getCustomerPhone()</td>
                            <td><a class="getModel" data-id="@post.getComplaintNumber()"   href="" data-toggle="modal" data-target="#ComplaintAsignModelPopUp" data-backdrop="static" data-keyboard="false"><i class="fa fa-arrow-circle-right"></i>&nbsp;View</a></td>
							</tr>
                        }
                    </tbody>
                </table>
            </div>
            </div>
            </div>
            </div>
            </div>
            
            <!-- Assign Complaint Model Popup -->
            <div class="modal fade" id="ComplaintAsignModelPopUp" role="dialog">
                <div class="modal-dialog modal-lg">
              
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">


                            <div class="panel-group">

                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="text-align: center;"><b>COMPLAINT ASSIGNMENT MODULE<b></div>
                                                <div id="" class="panel">

                                                    <div class="panel-body">





<h4 style="color: #E80B0B;"><b>CUSTOMER DETAILS :<b></h4>      
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-condensed table-responsive table-user-information">
                        <tbody>

                            <tr>
                                <td><strong> VEHICLE NUMBER*:</strong></td>
                                <td class="text-primary" id="vNumber"></td>
                            </tr>

                            <tr>
                                <td><strong>CUSTOMER NAME:</strong></td>
                                <td class="text-primary" id="cName"></td>
                            </tr>

                            <tr>
                                <td><strong>MOBILE No: </strong></td>
                                <td class="text-primary" id="mNumber"></td>
                            </tr>

                            <tr>
                                <td><strong>EMAIL: </strong></td>
                                <td class="text-primary" id="eMail"></td>
                            </tr> 

                            <tr>
                                <td><strong>ADDRESS: </strong></td>
                                <td class="text-primary" id="aDdress"></td>
                            </tr>

                            <tr>
                                <td><strong>CHASSIS No: </strong></td>
                                <td class="text-primary" id="chassisNumber"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-condensed table-responsive table-user-information">
                        <tbody>

                            <tr>
                                <td><strong>MODEL:</strong></td>
                                <td class="text-primary" id="mOdel"></td>
                            </tr>
                            <tr>
                                <td><strong>VARIANT: </strong></td>
                                <td class="text-primary" id="vAriant"></td>
                            </tr>
                            <tr>
                                <td><strong>SALE DATE: </strong></td>
                                <td class="text-primary" id="saleDate"></td>
                            </tr>
                            <tr>
                                <td><strong>LAST SERVICE: </strong></td>
                                <td class="text-primary" id="lastService"></td>
                            </tr>
                            <tr>
                                <td><strong>SERVICE ADVISOR : </strong></td>
                                <td class="text-primary" id="serviceAdvisor"></td>
                            </tr>
                            <tr>
                                <td><strong>WORKSHOP: </strong></td>
                                <td class="text-primary" id="workShop"></td>
                            </tr>



                        </tbody>
                    </table>
                </div>

            </div>
            <h4 style="color: #E80B0B;"><b>COMPLAINT INFORMATION:<b></h4>      
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed table-responsive table-user-information">
                                    <tbody>

                                        <tr>
                                            <td><strong> FUNCTION:</strong></td>
                                            <td class="text-primary" id="funcTion"> </td>
                                        </tr>

                                        <tr>
                                            <td><strong>CATEGORY:</strong></td>
                                            <td class="text-primary" id="cateGory"></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2"><strong>DESCRIPTION:</strong></td>
                                            <td class="text-primary" id="descripTion"></td>
                                            
                                            <td class="text-primary" id="descripTion1"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-condensed table-responsive table-user-information">
                                    <tbody>

                                        <tr>
                                            <td><strong>SOURCE:</strong></td>
                                            <td class="text-primary" id="souRce">  </td>
                                        </tr>
                                        <tr>
                                            <td><strong>SUB CATEGORY 1: </strong></td>
                                            <td class="text-primary" id="subCategory1"></td>
                                        </tr>



                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 style="text-align: right;"><b><a href="#" style="color:#E80B0B;text-decoration: underline;">Resolve It</a></b></h4>
                                <h4 style="color: #E80B0B;"><b>ASSIGN COMPLAINT :<b></h4>  
                </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">CITY </label>
                            <select id="city" class="form-control" onclick="ajaxCallToLoadWorkShopByCity();">
                                <option value="0" >--Select--</option>
                                @for(location_list<-locationList){
                                
                              
                                <option value="@location_list.getName()">@location_list.getName()</option>
                              
                             }
                              </select>
                        </div>
                    </div>
                <div class="col-lg-3">
                        <div class="form-group">
                            <label for="workshop">LOCATION </label>
                            <select id="workshop" class="form-control">
                                <option value="select" >Select</option>
                                @for(workshoplist<-workshopList){
                                <option value="@workshoplist.getWorkshopName()">@workshoplist.getWorkshopName()</option>
                             }
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">FUNCTION </label>
                            <select id="FUNCTION" class="form-control">
                                <option value="0">--Select--</option>
                                <option value="SALES">SALES</option>   
                                <option value="AFTERSALES">AFTERSALES</option>
                                <option value="INSURANCE">INSURANCE</option>
                                <option value="FINANCE">FINANCE</option>
                                <option value="PARTS">PARTS</option>
                                <option value="PRODUCT">PRODUCT</option>
                                <option value="USED CAR SALES">USED CAR SALES</option>                            
                              </select>
                        </div>
                    </div>
					

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">OWNERSHIP </label>
                            
                            <select id="OWNERSHIP" class="form-control">
                                
                                <option value="0">--Select--</option>
                                @for(post1 <- cresList){
                                <option value="@post1">@post1</option>
                              
                              }
                              </select>
                             
                              
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">PRIORITY </label>
                          
                            <select id="PRIORITY" class="form-control">
                                <option value="0">--Select--</option>
                                <option value="2">High</option>
                                <option value="3" selected="selected">Medium</option>
                                <option value="4">Low</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">ESCALATION 1 </label>
                            <input type="text" class="form-control" name="ESCALATION1"  id="ESCALATION1" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">ESCALATION 2 </label>
                            <input type="text" class="form-control" name="ESCALATION2"  id="ESCALATION2" autocomplete="off" />
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-success AddComplaintResolution" type="button" >Submit</button>
                    <button type="button" class="btn btn-danger"  data-dismiss="modal">Close</button>
                </div>


                </div>
                </div>

                </div>

                </div>
                </div>
            
          

 }
 }
                    
                    
                    