@(ajaxData:List[String],dealerName:String,userName:String,callinfo: List[models.CallInteractions])
@import helper._
@import scala._
@mainPageCREManger("WyzConnectADCC",userName,dealerName) {
 <input type="hidden" id="indexBox1" value='@ajaxData'> 
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading"> CallLog</div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <div style="overflow-x: auto">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example15">
              <thead>
                <tr>
                  <th>Call Time</th>
                  <th>Agent Name</th>
                  <th>Customer Name</th>
                  <th>Customer Phone</th>
                  <th>VIN Number</th>
                  <th>Vehical RegNo</th>
                  <th>Model</th>
                  <th>Call Duration(in sec)</th>
                  <th>Direction</th>
                  <th>Status</th>
                  <th class="no-sort">Recording</th>
                  <th class="no-sort">Map</th>
                  <th class="no-sort">Details</th>
                </tr>
              </thead>
              <tbody>
              
              @for(callinfo <- callinfo) {
              <tr>
                <td>@callinfo.getCallMadeDateAndTime()</td>
                <td>@callinfo.getAgentName()</td>
                <td>@callinfo.getCustomer().getCustomerName()</td>
                <td>@callinfo.getCustomer().getCustomerPhone()</td>
                <td>@callinfo.getVehicle().getVehicleNumber()</td>
                 <td>@callinfo.getVehicle().getVehicalRegNo()</td>
                <td>@callinfo.getVehicle().getModel()</td>
                <td>@callinfo.getCallDuration()</td>
                <td>@callinfo.getCallType()</td>

            
                  
               
              </tr>
              }
                </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dialog" style="display: none">
  <div id="dvMap" style="height: 350px; width: 650px;"> </div>
</div>
}
<script type="text/javascript">
window.onload = ajaxRequestDataIndexPageCREMAn;
</script> 