@(dealerName:String,userName:String,form:play.data.Form[WyzUser])
@mainPageSalesExecutive("WyzConnect - ADC",userName,dealerName) {
@helper.form(action = routes.WyzUserController.tochangepasswordeditingSalesExecutive()){

<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div class="panel-title"></div>
        <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
      </div>
      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form >
          <div style="margin-bottom: 25px" class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="firstName" type="password" class="form-control" name="firstName" placeholder="Current password" required>
          </div>
          <div style="margin-bottom: 25px" class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="lastName" type="password" class="form-control" name="lastName" placeholder="New Password" required>
          </div>
          <div style="margin-bottom: 25px" class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Confirm New Password" required>
          </div>
         <button type="submit" class="btn btn-primary pull-right" >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div><!--End container -->

    }
   

}

