
@(dealercode:String,dealerName:String,userName:String,complaintData:List[Complaint],compalintDataclosed:List[Complaint])

@mainPageServiceAdvisor("AutoSherpaCRM",userName,dealerName,dealercode) {
<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">   
        COMPLAINT RESOLUTION MODULE</div>
		<div class="panel-body">
		<h4 style="text-align: center;color:red;"><b>OPEN COMPLAINTS</b></h4>
<table id="baseTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>COMPLAINT No.</th>
                <th>STATUS</th>
                <th>ISSUE DATE</th>
                <th>AGING (Days)</th>
                <th>REGISTERED BY</th>
                <th>SOURCE</th>
                <th>FUNCTION</th>
                <th>CATEGORY</th>
                <th>VEHICLE No.</th>
<!--                <th>MOBILE No.</th>
                <th>ASSIGNED TO</th>-->
                <th >View</th>
            </tr>
        </thead>
       
        <tbody>
               @for(post <- complaintData) {
<!--            <tr class="rowclass@post.getComplaintNumber()" value="@post.getComplaintNumber()" id="@post.getComplaintNumber()">
                <td class="complaintNum" id="tdclass@post.getComplaintNumber()">@post.getComplaintNumber()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getComplaintStatus()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getIssueDate()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getAgeOfComplaint()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getWyzUser().getUserName()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getFunctionName()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getSourceName()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getSubcomplaintType()</td>
                <td class="veh_num" id="tdclass@post.getComplaintNumber()">@post.getVehicleRegNo()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getCustomerPhone()</td>
                <td>dfgdfg</td>
                <td><a href="" class="comp@post.getComplaintNumber()" value="@post.getComplaintNumber()" data-id="@post.getComplaintNumber()" data-toggle="modal"  data-target="#OpenComplaintPopup" onclick="ajaxcomplaintNumber();" ><i class="fa fa-arrow-circle-right"></i>&nbsp;View</a></td>
                
            </tr>
            -->
            <tr id="rowclass" class="rowclass@post.getComplaintNumber()">
                            <td id="compNum" >@post.getComplaintNumber()</td>
                            <td id="status">@post.getComplaintStatus()</td>
                            <td id="issueDate">@post.getIssueDate()</td>
                            <td id="x">@post.getAgeOfComplaint()</td>
                            <td id="userName">@post.getWyzUser().getUserName()</td>
                            <td id="y">@post.getFunctionName()</td>
                            <td id="z">@post.getSourceName()</td>
           
                                                        <td id="a">@post.getSubcomplaintType()</td>

                            <td id="vREgNO">@post.getVehicleRegNo()</td>

                            <td><a class="getModel" data-id="@post.getComplaintNumber()" href="" data-toggle="modal" data-target="#OpenComplaintPopup"  data-backdrop="static" data-keyboard="false"><i class="fa fa-arrow-circle-right"></i>&nbsp;View</a></td>

                        </tr>
            }
            </tbody>
            </table>
            
            <h4 style="text-align: center;color:red;"><b>CLOSED  COMPLAINTS</b></h4>
            <table id="complaint" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>COMPLAINT No.</th>
                <th>STATUS</th>
                <th>ISSUE DATE</th>
                <th>AGING (Days)</th>
                <th>REGISTERED BY</th>
                <th>SOURCE</th>
                <th>FUNCTION</th>
                <th>CATEGORY</th>
                <th>VEHICLE No.</th>
<!--                <th>MOBILE No.</th>
                <th>ASSIGNED TO</th>-->
                <th>View</th>
            </tr>
        </thead>
  
          <tbody>
               @for(post <- compalintDataclosed) {

            <tr id="rowclass" class="rowclass @post.getComplaintNumber()">
                            <td id="compNumclosed" >@post.getComplaintNumber()</td>
                            <td id="statusclosed">@post.getComplaintStatus()</td>
                            <td id="issueDateclosed">@post.getIssueDate()</td>
                            <td id="xclosed">@post.getAgeOfComplaint()</td>
                            <td id="userNameclosed">@post.getWyzUser().getUserName()</td>
                            <td id="yclosed">@post.getFunctionName()</td>
                            <td id="zclosed">@post.getSourceName()</td>
                            
                            <td id="aclosed">@post.getSubcomplaintType()</td>

                            <td id="vREgNOclosed">@post.getVehicleRegNo()</td>

                            <td><a class="getModelclosed" data-id="@post.getComplaintNumber()" href="" data-toggle="modal" data-target="#ClosedComplaintPopup"  data-backdrop="static" data-keyboard="false"><i class="fa fa-arrow-circle-right"></i>&nbsp;View</a></td>

                        </tr>

            }
            </tbody>
            </table>
            
   </div>
   </div>
   </div>
   </div>

  <!-- Open Complain Popup -->
  <div class="modal fade" id="OpenComplaintPopup" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          
          
<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;"><b>OPEN COMPLAINT RESOLUTION FORM<b></div>
        <div id="" class="panel">
		
            <div class="panel-body">
            <h4 style="color: #E80B0B;"><b>CUSTOMER DETAILS :<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> VEHICLE NUMBER*:</strong></td>
                      <td id="veh_num_pop"class="text-primary"></td>
                    </tr>
                   
                    <tr>
                      <td><strong>CUSTOMER NAME:</strong></td>
                      <td id="cust_name_pop"class="text-primary"></td>
                    </tr>
                 
                     <tr>
                       <td><strong>MOBILE No: </strong></td>
                      <td id="cust_phone_pop" class="text-primary"></td>
                    </tr>
					 
					  <tr>
                      <td><strong>EMAIL: </strong></td>
                      <td id="cust_email"class="text-primary"></td>
                    </tr> 
				
					  <tr>
                      <td><strong>ADDRESS: </strong></td>
                      <td id="addressName"class="text-primary"></td>
                    </tr>
					
						  <tr>
                      <td><strong>CHASSIS No: </strong></td>
                      <td id="chassisno"class="text-primary"></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>MODEL:</strong></td>
                      <td id="model" class="text-primary"></td>
                    </tr>
					   <tr>
                      <td><strong>VARIANT: </strong></td>
                      <td id="variant"class="text-primary"></td>
                    </tr>
					 <tr>
                      <td><strong>SALE DATE: </strong></td>
                      <td id="saledate" class="text-primary"></td>
                    </tr>
						<tr>
                      <td><strong>LAST SERVICE: </strong></td>
                      <td id="lastserv"class="text-primary"></td>
                    </tr>
						  <tr>
                      <td><strong>SERVICE ADVISOR : </strong></td>
                      <td id="serviceadvisor"class="text-primary"></td>
                    </tr>
						  <tr>
                      <td><strong>WORKSHOP: </strong></td>
                     <td id="workshopOpen" class="text-primary"></td>
                    </tr>
					
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
			   <h4 style="color: #E80B0B;"><b>COMPLAINT INFORMATION:<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                 <tbody>

                    <tr>
                      <td><strong> FUNCTION:</strong></td>
                      <td id="function" class="text-primary"> </td>
                    </tr>
                   
                    <tr>
                      <td><strong>CATEGORY:</strong></td>
                      <td id="complaintType" class="text-primary"></td>
                    </tr>
            <tr>
                      <td rowspan="2"><strong>DESCRIPTION:</strong></td>
                      <td  id="description"class="text-primary"></td>
                    </tr>
                 
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
   
                  <tr>
                      <td><strong>SOURCE:</strong></td>
                      <td id="source"class="text-primary">  </td>
                    </tr>
                    <tr>
                      <td><strong>SUB CATEGORY 1: </strong></td>
                      <td id="subcomplaintType"class="text-primary"></td>
                    </tr>


                    
                  </tbody>

                </table>
                </div>
                           
              </div>
             <h4 style="color: #E80B0B;"><b>ASSIGN COMPLAINT :<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> CITY:</strong></td>
                      <td class="text-primary" id="cityName"> </td>
                    </tr>
                   
                    <tr>
                      <td><strong>OWNERSHIP:</strong></td>
                      <td class="text-primary" id="assignOwnership"></td>
                    </tr>
					  <tr>
                      <td><strong>ESCALATION 1:</strong></td>
                      <td class="text-primary" ></td>
                    </tr>
                 
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>FUNCTION:</strong></td>
                      <td class="text-primary" id="function">  </td>
                    </tr>
					   <tr>
                      <td><strong>PRIORITY: </strong></td>
                      <td class="text-primary" id="prorityName"></td>
                    </tr>
					 <tr>
                      <td><strong>ESCALATION 2:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
                 
				
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
              
           <div class="row">
              
              	<h4 style="color: #E80B0B;"><b>COMPLAINT RESOLUTION<b></b></b></h4>
             
           <div class="col-lg-3">
               <div class="form-group">
                <label for="complaintStatus">COMPLAINT STATUS</label>
                
                <select id="complaintStatus" class="form-control" name="complaintStatus">
                    
                    <option value="Closed">Closed</option>
                     <option value="Open">Open</option>
                    
                </select>
              </div>
            </div>
             <div class="col-lg-3">
               <div class="form-group">
                <label for="customerStatus">CUSTOMER STATUS</label>
                
                 <select id="customerStatus" class="form-control" name="customerStatus">
                    
                    <option value="Satisfied">Satisfied</option>
                     <option value="Dissatisfied">Dissatisfied</option>
                    
                </select>
              </div>
            </div>
            
             <div class="col-lg-3">
               <div class="form-group">
                <label for="actionTaken">ACTION TAKEN </label>
                <input type="text" id="actionTaken"class="form-control" name="actionTaken"   autocomplete="off" />
              </div>
            </div>
            
             <div class="col-lg-3">
               <div class="form-group">
                <label for="resolutionBy">RESOLUTION By: </label>
                <input type="text" id="resolutionBy"class="form-control" name="resolutionBy" value="@userName" autocomplete="off" />
              </div>
            </div>
           
              </div>
                <div class="row">
					 	 <div class="col-md-6">
               <div class="form-group">
                <label for="reasonfor">REASON FOR </label>
                <textarea type="text" id="reasonfor"class="form-control" name="reasonfor"  autocomplete="off" ></textarea>
              </div>
            </div>
				</div>
           
		
            </div>
        </div>
    </div>
    
  <div class="text-right">
  <button type="button" id="resolve_save" class="btn btn-success resolve_save" data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

       
    </div>
        </div>
        
      </div>
      
    </div>
  </div>
  
  <!-- Closed complaint Popup -->
    <div class="modal fade" id="ClosedComplaintPopup" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          
          
<div class="panel-group">
  
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;"><b>CLOSED COMPLAINT RESOLUTION FORM<b></div>
        <div id="" class="panel">
		
            <div class="panel-body">
            
            
            
            
            
        <h4 style="color: #E80B0B;"><b>CUSTOMER DETAILS :<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> VEHICLE NUMBER*:</strong></td>
                      <td id="veh_num_popClosed"class="text-primary"></td>
                    </tr>
                   
                    <tr>
                      <td><strong>CUSTOMER NAME:</strong></td>
                      <td id="cust_name_popClosed"class="text-primary"></td>
                    </tr>
                 
                     <tr>
                       <td><strong>MOBILE No: </strong></td>
                      <td id="cust_phone_popClosed" class="text-primary"></td>
                    </tr>
					 
					  <tr>
                      <td><strong>EMAIL: </strong></td>
                      <td id="cust_emailClosed"class="text-primary"></td>
                    </tr> 
				
					  <tr>
                      <td><strong>ADDRESS: </strong></td>
                      <td id="addressNameClosed"class="text-primary"></td>
                    </tr>
					
						  <tr>
                      <td><strong>CHASSIS No: </strong></td>
                      <td id="chassisnoClosed"class="text-primary"></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>MODEL:</strong></td>
                      <td id="modelClosed" class="text-primary"></td>
                    </tr>
					   <tr>
                      <td><strong>VARIANT: </strong></td>
                      <td id="variantClosed"class="text-primary"></td>
                    </tr>
					 <tr>
                      <td><strong>SALE DATE: </strong></td>
                      <td id="saledateClosed" class="text-primary"></td>
                    </tr>
						<tr>
                      <td><strong>LAST SERVICE: </strong></td>
                      <td id="lastservClosed"class="text-primary"></td>
                    </tr>
						  <tr>
                      <td><strong>SERVICE ADVISOR : </strong></td>
                      <td id="serviceadvisorClosed"class="text-primary"></td>
                    </tr>
						  <tr>
                      <td><strong>WORKSHOP: </strong></td>
                      <td id="workshopClosed" class="text-primary"></td>
                    </tr>
					
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
            <h4 style="color: #E80B0B;"><b>COMPLAINT INFORMATION:<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> FUNCTION:</strong></td>
                      <td id="functionClosed" class="text-primary"> </td>
                    </tr>
                   
                    <tr>
                      <td><strong>CATEGORY:</strong></td>
                      <td id="complaintTypeClosed" class="text-primary"></td>
                    </tr>
					  <tr>
                      <td rowspan="2"><strong>DESCRIPTION:</strong></td>
                      <td  id="descriptionClosed"class="text-primary"></td>
                    </tr>
                 
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>SOURCE:</strong></td>
                      <td id="sourceClosed"class="text-primary">  </td>
                    </tr>
					   <tr>
                      <td><strong>SUB CATEGORY 1: </strong></td>
                      <td id="subcomplaintTypeClosed" class="text-primary"></td>
                    </tr>
				
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
			     <h4 style="color: #E80B0B;"><b>ASSIGN COMPLAINT :<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> CITY:</strong></td>
                      <td class="text-primary" id="cityNameClosed"> </td>
                    </tr>
                   
                    <tr>
                      <td><strong>OWNERSHIP:</strong></td>
                      <td class="text-primary" id = "ownershipClosed"></td>
                    </tr>
					  <tr>
                      <td><strong>ESCALATION 1:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
                 
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>FUNCTION:</strong></td>
                      <td class="text-primary" id="functionNameClosed">  </td>
                    </tr>
					   <tr>
                      <td><strong>PRIORITY: </strong></td>
                      <td class="text-primary" id="priorityClosed"></td>
                    </tr>
					 <tr>
                      <td><strong>ESCALATION 2:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
                 
				
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
              
           <div class="row">
              
              	<h4 style="color: #E80B0B;"><b>COMPLAINT RESOLUTION<b></b></b></h4>
            
           <div class="col-lg-3">
               <div class="form-group">
                <label for="complaintStatusClosed">COMPLAINT STATUS</label>
                <input type="text" id="complaintStatusClosed"class="form-control" name="complaintStatusClosed"   autocomplete="off" readonly/>
              </div>
            </div>
             <div class="col-lg-3">
               <div class="form-group">
                <label for="customerStatusClosed">CUSTOMER STATUS</label>
                <input type="text" id="customerStatusClosed"class="form-control" name="customerStatusClosed"   autocomplete="off" readonly/>
              </div>
            </div>
            
             <div class="col-lg-3">
               <div class="form-group">
                <label for="actionTakenClosed">ACTION TAKEN </label>
                <input type="text" id="actionTakenClosed"class="form-control" name="actionTakenClosed"   autocomplete="off" readonly />
              </div>
            </div>
            
             <div class="col-lg-3">
               <div class="form-group">
                <label for="resolutionByClosed">RESOLUTION By: </label>
                <input type="text" id="resolutionByClosed"class="form-control" name="resolutionByClosed" value="@userName" autocomplete="off" readonly/>
              </div>
            </div>
           
              </div>
                <div class="row">
					  	 <div class="col-lg-6">
               <div class="form-group">
                <label for="reasonforClosed">REASON FOR </label>
                <input type="textarea" id="reasonforClosed"class="form-control" name="reasonforClosed"  autocomplete="off" ></textarea>
              </div>
            </div>
				</div>
           
		
            </div>
        </div>
    </div>
    
  <div class="text-right">
  <button type="button" id="resolve_save_closed" class="btn btn-success resolve_save_closed" data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

       
    </div>
        </div>
        
      </div>
      
    </div>
  </div>
        </div>
        
      </div>
      
    </div>
  </div>


}

<script>
	$(".getModel").on(
			"click",
			function() {

				$.blockUI();
				
				var $row = $(this).closest("tr"); // Find the row
				var complaintNum = $row.find("#compNum").text(); // Find the text
				var $text2 = $row.find("#issueDate").text();
				var $text3 = $row.find("#userName").text();
				var veh_num = $row.find("#vREgNO").text();
				var status = $row.find("#status").text();
				var $text5 = $row.find("#x").text();
				var $text6 = $row.find("#y").text();
				var $text7 = $row.find("#z").text();
				var $text8 = $row.find("#a").text();
				var $text9 = $row.find("#issueDate").text();
				var $text10 = $row.find("#custPhone").text();
				$(".resolve_save").val(complaintNum);

				var urlDisposition = "/CRE/searchcomplaintNum/" + complaintNum
						+ "/" + veh_num + "";
				$.ajax({
					url : urlDisposition

				}).done(function(data) {
					if (data != null) {
						console.log(data);
						//  console.log(complaintNum);

						$("#veh_num_pop").html(data.vehicleRegNo);
						$("#cust_phone_pop").html(data.customerMobileNo);
						$("#cust_name_pop").html(data.customerName);
						$("#cust_email").html(data.customerEmail);
						$("#serviceadvisor").html(data.serviceadvisor);
						$("#addressName").html(data.preferredAdress);
						$("#chassisno").html(data.chassisNo);
						$("#saledate").html(data.saleDate);
						$("#variant").html(data.variant);
						$("#model").html(data.model);
						$("#function").html(data.functionName);
						$("#serviceadvisor").html(data.serviceadvisor);
						$("#source").html(data.sourceName);
						$("#description").html(data.description);
						$("#subcomplaintType").html(data.subcomplaintType);
						$("#complaintType").html(data.complaintType);
						$("#function").html(data.functionName);
						$("#assignOwnership").html(data.assignedUser);
						$("#prorityName").html(data.priority);
						$("#cityName").html(data.location);
						$("#workshopOpen").html(data.workshop);
						//alert(data.preferredAdress);
						$.unblockUI();
					}
				});
			});
</script>
  <script>
			$(".resolve_save")
					.on(
							'click',
							function() {

								var complaintNum = $(".resolve_save").val();

								var reasonFor = $("#reasonfor").val();

								var complaintStatus = $("#complaintStatus")
										.val();
								var actionTaken = $("#actionTaken").val();
								var resolutionBy = $("#resolutionBy").val();
								var customerStatus = $("#customerStatus").val();

								//alert(complaintNum);

								if (reasonFor == '') {
									Lobibox.notify('warning', {
										continueDelayOnInactiveTab : true,
										msg : 'Reason for is Required'
									});

									return false;

								}
								if (actionTaken == '') {
									Lobibox.notify('warning', {
										continueDelayOnInactiveTab : true,
										msg : 'Action Taken is Required'
									});

									return false;
								} else {
									var urlDisposition = "/CRE/updateComplaintsResolution/"
											+ complaintNum
											+ "/"
											+ reasonFor
											+ "/"
											+ complaintStatus
											+ "/"
											+ customerStatus
											+ "/"
											+ actionTaken + "/" + resolutionBy;
									$
											.ajax({
												url : urlDisposition
											})
											.done(
													function(data) {
														if (data != null) {
															Lobibox
																	.alert(
																			'success',
																			{
																				msg : 'Complaint Has been Resolved for open Successfully....'
																			});

														}
														window
																.setTimeout(
																		function() {
																			location
																					.reload()
																		}, 4000)

													});

								}

							});
		</script>
	 <script>
			$(".resolve_save_closed")
					.on(
							'click',
							function() {

								//alert("closed submit");
								var complaintNumClosed = $(
										".resolve_save_closed").val();
								var reasonForClosed = $("#reasonforClosed")
										.val();
								var complaintStatusClosed = $(
										"#complaintStatusClosed").val();
								var actionTakenClosed = $("#actionTakenClosed")
										.val();
								var resolutionByClosed = $(
										"#resolutionByClosed").val();
								var customerStatusClosed = $(
										"#customerStatusClosed").val();

								//alert(complaintNumClosed);

								if (reasonforClosed == '') {
									Lobibox.notify('warning', {
										continueDelayOnInactiveTab : true,
										msg : 'Please Enter the Reason..'
									});

									return false;

								} else {
									var urlDisposition = "/CRE/updateComplaintsResolutionClosed/"
											+ complaintNumClosed
											+ "/"
											+ reasonForClosed
											+ "/"
											+ complaintStatusClosed
											+ "/"
											+ customerStatusClosed
											+ "/"
											+ actionTakenClosed
											+ "/"
											+ resolutionByClosed;
									$
											.ajax({
												url : urlDisposition
											})
											.done(
													function(data) {
														if (data != null) {
															Lobibox
																	.alert(
																			'success',
																			{
																				msg : 'Complaint Has been Resolved for closed Successfully....'
																			});

														}
														window
																.setTimeout(
																		function() {
																			location
																					.reload()
																		}, 4000)

													});

								}
							});
		</script>
    
<script>
	$(".getModelclosed").on(
			"click",
			function() {
				$.blockUI();
				
				var $row = $(this).closest("tr"); // Find the row
				var complaintNumclosed = $row.find("#compNumclosed").text(); // Find the text
				var $text2 = $row.find("#issueDateclosed").text();
				var $text3 = $row.find("#userNameclosed").text();
				var veh_numclosed = $row.find("#vREgNOclosed").text();
				var status = $row.find("#statusclosed").text();
				var $text5 = $row.find("#xclosed").text();
				var $text6 = $row.find("#yclosed").text();
				var $text7 = $row.find("#zclosed").text();
				var $text8 = $row.find("#aclosed").text();
				var $text9 = $row.find("#issueDateclosed").text();
				//     var $text10 = $row.find("#custPhoneclosed").text();
				$(".resolve_save_closed").val(complaintNumclosed);

				var urlDisposition = "/CRE/searchcomplaintNumClosed/"
						+ complaintNumclosed + "/" + veh_numclosed + "";
				$.ajax({
					url : urlDisposition

				})
						.done(
								function(data) {
									if (data != null) {
										console.log(data);
										console.log(complaintNumclosed);

										$("#veh_num_popClosed").html(
												data.vehicleRegNo);
										$("#cust_phone_popClosed").html(
												data.customerMobileNo);
										$("#cust_name_popClosed").html(
												data.customerName);
										$("#cust_emailClosed").html(
												data.customerEmail);
										$("#serviceadvisorClosed").html(
												data.serviceadvisor);
										$("#addressNameClosed").html(
												data.preferredAdress);
										$("#chassisnoClosed").html(
												data.chassisNo);
										$("#saledateClosed")
												.html(data.saleDate);
										$("#variantClosed").html(data.variant);
										$("#modelClosed").html(data.model);
										$("#serviceadvisorClosed").html(
												data.serviceadvisor);
										$("#sourceClosed")
												.html(data.sourceName);
										$("#descriptionClosed").html(
												data.description);
										$("#subcomplaintTypeClosed").html(
												data.subcomplaintType);
										$("#complaintTypeClosed").html(
												data.complaintType);
										$("#functionClosed").html(
												data.functionName);
										$("#resolutionByClosed").val(
												data.resolutionBy);
										$("#functionNameClosed").html(
												data.functionName);
										$("#priorityClosed")
												.html(data.priority);
										$("#cityNameClosed")
												.html(data.location);
										$("#ownershipClosed")
												.html(data.wyzUser);
										$("#complaintStatusClosed").val(
												data.complaintStatus);
										$("#customerStatusClosed").val(
												data.customerstatus);
										$("#actionTakenClosed").val(
												data.actionTaken);
										$("#reasonforClosed").val(
												data.reasonFor);
										$("#workshopClosed")
												.html(data.workshop);

										$.unblockUI();

										//alert(data.preferredAdress);

										//alert(data.resolutionBy);
										//            $("#address").val(data.preferredAdress);
									}
								});
			});
</script>    
  
   