@(userName:String,dealerName:String)
@import models._
@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {
@helper.form(action=routes.CallInteractionController.upload_file_Format_submit()){
	
        
             <div class="panel panel-info">
        <div class="panel-heading"><strong>Data Upload Format Creation</strong></div>
        <div class="panel-body">
             <div class="row">
               <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        
                        <div class="ibox-content">
                            <div class="form-horizontal">
                               <!-- <p>Please enter the headers of selected part master</p> -->
                                <div class="form-group">
                                    	<div class="col-lg-2" style="width: 191px;">
                                    		<select name="upload_format_name" id="upload_format_name" class="form-control" onChange="return ajaxRequest_getForm();">
	                        					<option value= "0" selected>--Select--</option>	                                                                
								                        		<option value= "sale_register">Sale Register</option>
							                                    <option value= "job_card">Job Card</option>
							                                    <option value= "bill">Bills</option>
							                                    <option value= "SMR">SMR</option>
							                                    <option value= "campaign">Campaign</option>
	                        					
	                        					
                            				</select>
                            			</div>	                       			
                            	</div>
                            </div>
                          </div>   
                          <div class="hr-line-dashed"></div>
                          <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-bordered header-fixed table-responsive" id="tableFormat" >
                                    <thead>
						                <tr>
                							<th>Required Column </th>
                							<th style="display:none">Data Type</th>
                							<th>Matching Excel Column Name</th>
										</tr>
                					</thead>
                					<tbody>
                					</tbody>
                				</table>
                			</div>
                			<div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button class="btn btn-primary" type="submit" ><i class="fa fa-check"></i>&nbsp;Submit</button> <!-- onclick="return ajaxMap_MasterDataFormat();" -->
                                 	</div>
                            	 </div>
                            </div>
                             <div class="table-responsive">
                                <table class="table table-bordered header-fixed table-responsive" id="tableData" >
                                    <thead>
						                <tr>
                							
										</tr>
                					</thead>
                					<tbody>
                					</tbody>
                				</table>
                			</div>
                       </div>
                  </div>
               </div>
        </div>
             </div>


         
                                                  
}  
}                                               