@(userName:String,dealerName:String)
@import models._
@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {

	<div class="panel panel-info">
        <div class="panel-heading"><strong>Download Upload Format</strong></div>
        <div class="panel-body">
             <div class="row">
               <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        
                        <div class="ibox-content">
                            <div class="form-horizontal">
                              
                                <div class="form-group">
                                    	<div class="col-lg-2" style="width: 191px;">
                                    		<select name="upload_format_name" id="upload_format_name" class="form-control" onChange="ajax_get_downloadFormat();">
	                        					<option value= "0" selected>--Select--</option>	                                                                
								                        		<option value= "sale_register">Sale Register</option>
							                                    <option value= "job_card">Job Card</option>
							                                    <option value= "bill">Bills</option>
							                                    <option value= "SMR">SMR</option>
							                                    <option value= "campaign">Campaign</option>
	                        					
	                        					
                            				</select>
                            			</div>	                       			
                            	</div>
                            </div>
                          </div>
                          
                          
                            
                              
                                <div class="form-group">
                                    	
                          
                             <div class="table-responsive">
                                <table class="table table-bordered header-fixed table-responsive" id="downloadTable" >
                                    <thead>
						                <tr>
                							
										</tr>
                					</thead>
                					<tbody>
                					</tbody>
                				</table>
                			</div>
                				                       			
                            	</div>
                           
                         
                       </div>
                  </div>
               </div>
        </div>
             </div>                             
 
}
<script>

function ajax_get_downloadFormat(){

	var table_name="downloadTable";	
	var upload_format = document.getElementById('upload_format_name').value;

	//alert(table_name);
	//alert(upload_format);
	
	var url_path = "/getExcelColumns/"+ upload_format;

	$.ajax({
		url : url_path
	}).done(function(json){
		if (json != null && json != '') {

	        if ($.fn.DataTable.isDataTable('#' + table_name)) {
	            var table = $('#' + table_name).DataTable();
	            table.clear();
	            table.destroy();
	        }
	        $('#' + table_name + ' thead tr').empty();
	        th = $('<tr />');
	        for (var i = 0; i < json.length; i++) {
	            th.append('<th style="background-color :#B39DDB;text-align:center;display:none">' + json[i] + '</th>');
	        }
	        $('#' + table_name + ' thead').append(th);
	        $('#' + table_name).dataTable({
	            "paging": false,
	            "ordering": false,
	            "info": false,
	            "bFilter": false,
	            dom: '<"html5buttons"B>lTfgitp',
	            buttons: [
	                {extend: 'excel', title: 'ExampleFile', text: 'Download Excel Format'},
	            ]
	        });
	        $('#' + table_name + ' tbody tr').empty();
		}
	});
	    
		
}
</script>