@(dealercode:String,dealerName:String,userName:String,editUser:models.InsuranceServiceCall)
@mainPageCRE("WyzConnect - ADC",userName,dealerName,dealercode) {
<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <a href="/@dealercode/CRE/viewInsuranceAssignedCalls" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i>&nbsp Back</a>
       Scheduled Call Log Information </div>
 <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Customer Information</a> </li>
          <li><a href="#profile" data-toggle="tab">Interaction history</a> </li>
         
        </ul>
         <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
            <div class="panel-body inf-content">
              <div class="row">
                <div class="col-md-6"> <br>
                  <div class="table-responsive">
                    <table class="table table-condensed table-responsive table-user-information">
                       <tbody>
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-user  text-primary"></span> Agent Name: </strong></td>
                          <td class="text-primary"> @{editUser.agentName} </td>
                        </tr>
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-cloud text-primary"></span> Customer Name: </strong></td>
                          <td class="text-primary"> @{editUser.customerName} </td>
                        </tr>
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-earphone text-primary"></span> Phone No: </strong></td>
                          <td class="text-primary"> @{editUser.customerPhone} </td>
                        </tr>
                         <tr>
                          <td><strong> <span class="glyphicon glyphicon-pencil text-primary"></span> Vehical RegNo: </strong></td>
                          <td class="text-primary"> @{editUser.vehicleNumber} </td>
                        </tr>
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-pencil text-primary"></span> Vehical No:</strong></td>
                          <td class="text-primary"> @{editUser.vehicalRegNo} </td>
                        </tr>
                       
                        
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-6"> <br>
                  <div class="table-responsive">
                    <table class="table table-condensed table-responsive table-user-information">
                     <tbody> 
                      <tr>
                          <td><strong> <span class="glyphicon glyphicon-tasks text-primary"></span> Model </strong></td>
                          <td class="text-primary"> @{editUser.model} </td>
                        </tr>
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-asterisk text-primary"></span> Variant : </strong></td>
                          <td class="text-primary"> @{editUser.variant} </td>
                        </tr>
                         
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-asterisk text-primary"></span> Sale Date: </strong></td>
                          <td class="text-primary"> @{editUser.saleDate} </td>
                        </tr>                    
                        
                        
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-list text-primary"></span> Notes: </strong></td>
                          <td class="text-primary"> @{editUser.notes} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile">
            <div class="panel-body inf-content">
              <div class="row">
                <div class="col-md-6"> <br>
                  <div class="table-responsive">
                    <table class="table table-condensed table-responsive table-user-information">
                       <tbody>
                        
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-equalizer text-primary"></span> Follow Up Date: </strong></td>
                          <td class="text-primary"> @{editUser.followUpDate} </td>
                        </tr>
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-equalizer text-primary"></span> Follow UpTime: </strong></td>
                          <td class="text-primary"> @{editUser.followUpTime} </td>
                        </tr>
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-tasks text-primary"></span> Service Appointment Date: </strong></td>
                          <td class="text-primary"> @{editUser.appointmentDate} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-6"> <br>
                  <div class="table-responsive">
                    <table class="table table-condensed table-responsive table-user-information">
                      <tbody>
                      <tr>
                          <td><strong> <span class="glyphicon glyphicon-cloud text-primary"></span> Status: </strong></td>
                          <td class="text-primary">
                   @{if(editUser.status==("Not Interested"))
                  { <span class="label label-warning">Not Interested</span> 
                  	
                  } else if(editUser.status==("Appointment Fixed"))
                  { 
                  <span class="label label-success">Appointment Fixed</span> 
                  	
                  } else if(editUser.status==("FollowUp Required"))
                  { 
                  <span class="label label-primary">FollowUp Required</span>
                  } else if(editUser.status==("Renewal Done-Others"))
                  { 
                  <span class="label label-primary">Renewal Done-Others</span>
                  } else if(editUser.status==("Renewal Done-Samta"))
                  { 
                  <span class="label label-primary">Renewal Done-Samta</span>
                  } else if(editUser.status==("Ringing No Response"))
                  { 
                   <span class="label label-warning">Ringing No Response</span>
                  } else if(editUser.status==("Callback Later"))
                  { 
                  	<span class="label label-warning">Callback Later</span>
                 
                  }else if(editUser.status==("Wrong Number"))
                  { 
                  <span class="label label-danger">Wrong Number</span>
                  } else if(editUser.status==("Busy"))
                  { 
                  <span class="label label-warning">Busy</span>
                  } else if(editUser.status==("Not Reachable"))
                  { 
                  <span class="label label-warning">Not Reachable</span>
                  } else if(editUser.status==("Sold Car"))
                  { 
                  <span class="label label-success">Sold Car</span>
                  }  else if(editUser.status==("Switched off"))
                  { 
                  <span class="label label-warning">Switched Off</span>
                  }
                  else if(editUser.callType==("MISSED"))
                  {
                  	<span class="label label-danger">Missed Call</span>
                  
					}
                  
                
                  } </td>
                        </tr>                
                        
                        
                        <tr>
                          <td><strong> <span class="glyphicon glyphicon-equalizer text-primary"></span> Comments: </strong></td>
                          <td class="text-primary"> @{editUser.comments} </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div><!--End tab content-->
      </div><!--End panel body-->
    </div>
  </div>
</div>

  }