@(toActivateTab1:String,toActivateTab2:String,toActivateTab3:String,toActivateTab4:String,toActivateTab5:String,userName:String,dealerName:String,dealercode:String)
@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode) {
	
	<input type="hidden" id="user" value="@userName">

<input type="hidden" id="toActivateInsTab1" value="@toActivateTab1">
<input type="hidden" id="toActivateInsTab2" value="@toActivateTab2">
<input type="hidden" id="toActivateInsTab3" value="@toActivateTab3">
<input type="hidden" id="toActivateInsTab4" value="@toActivateTab4">
<input type="hidden" id="toActivateInsTab5" value="@toActivateTab5">
	


<div class="row" >
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">   
                INSURANCE CALL LOG
            </div>
            <div class="panel-body" style="overflow-x: auto;">
            
            
            
             <ul class="nav nav-tabs">
                    <li ><a href="#homeIns" data-toggle="tab" id="TabIns1" onclick="ajaxInsuranceRemainder();">Fresh Data</a> </li>
                    <li ><a href="#profileIns" data-toggle="tab" id="TabIns2" onclick="ajaxInsuranceDisposition('4');">Follow Up Required</a> </li>
                    <li ><a href="#messagesIns" data-toggle="tab" id="TabIns3" onclick="ajaxInsuranceDisposition('25');">Appointments</a> </li>
                    <li ><a href="#settingsIns" data-toggle="tab" id="TabIns4" onclick="ajaxInsuranceDisposition('26');">Renewal Not Required</a> </li>
                    <li ><a href="#nonContactsIns" data-toggle="tab" id="TabIns5" onclick="ajaxInsuranceNonContactDispo('1');">Non Contacts</a> </li>
                    <li ><a href="#droppedBucIns" data-toggle="tab" id="TabIns6" onclick="ajaxInsuranceNonContactDispo('2');">Dropped</a> </li>
                </ul>
            
            
            <div class="tab-content">
                    <div class="tab-pane fade @toActivateTab1" id="homeIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">	
                <table id="assignedInsuInteraction" class="table table-striped table-bordered nowrap" cellspacing="0">
                    <thead>
                        <tr>
                            					<th>Campaign</th>
                            					<th>Customer ID</th>
                                             	<th>Customer Name</th>
                                             	<th>Phone</th>
                                             	<th>RegNo.</th>                                               
                                                <th>Policy Due Month</th>
                                                <th>Policy Due Date</th>
                                                <th>Next Renewal Type</th>
                                                <th>Last Insurance Company</th>
                                                
                                                
												<th class="no-sort"></th>
                        </tr>
                    </thead>

                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            
            </div>
            </div>
            </div>
           
                    <div class="tab-pane fade @toActivateTab2" id="profileIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">	
                <table id="dispoInsuInteraction4" class="table table-striped table-bordered nowrap" cellspacing="0">
                  <thead>
                                         <tr> 
                                                 
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>                                                                   
                                                <th>Vehicle RegNo.</th>                                               
                                                <th>Policy Due Date</th>
                                                 <th>Policy Due Month</th>
                                                <th>Renewal Type</th>
                                                <th>FollowUp Date</th>                                    
                                                <th>FollowUp Time</th>
                                                <th>Last Disposition</th>
                                                <th class="no-sort"></th>



                                            </tr>   
                                        </thead>
                                        <tbody>

                                        </tbody> 
                </table>
            </div>
            
            </div>
            </div>
            </div>
            
                    <div class="tab-pane fade @toActivateTab3" id="messagesIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">	
                <table id="dispoInsuInteraction25" class="table table-striped table-bordered nowrap" cellspacing="0">
                
                 <thead>
                                            <tr> 

                                                                            	
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Policy Due Date</th>
                                                <th>Renewal Type</th>
                                                <th>Appointment Date</th>  
                                                <th>Appointment Time</th> 
                                                <th>Appointment Type</th>                                              </th> 
                                                <th>Last Disposition</th>
                                                <th class="no-sort"></th>



                                            </tr>
                                        </thead>
                                        <tbody>




                                        </tbody>
                    
                </table>
            </div>
            
            </div>
            </div>
            </div>

                    <div class="tab-pane fade @toActivateTab4" id="settingsIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">	
                <table id="dispoInsuInteraction26" class="table table-striped table-bordered nowrap" cellspacing="0">
                   <thead>
                                        <tr> 
                                                                       	
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Policy Due Date</th>                                            
                                            <th>Last Disposition</th>
                                            <th>Reason</th>
                                            <th class="no-sort"></th>



                                        </tr>
                                    </thead>
                                    <tbody>




                                    </tbody>
                </table>
            </div>
            
            </div>
            </div>
            </div>
          
                    <div class="tab-pane fade @toActivateTab5" id="nonContactsIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">		
                <table id="dispoInsuNonContact1" class="table table-striped table-bordered nowrap" cellspacing="0">
                    
                    <thead>
                                        <tr> 
                                           
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Policy Due Date</th>
                                            <th>Renewal Type</th>
                                            <th>Last Disposition</th>
                                            <th>No. of Attempts</th>
                                            <th class="no-sort"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                </table>
            </div>
            
            </div>
            </div>
            </div>

                    <div class="tab-pane fade" id="droppedBucIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                <table id="dispoInsuNonContact2" class="table table-striped table-bordered nowrap" cellspacing="0">
                    
                    <thead>
                                            <tr> 

                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                               <th>Policy Due Date</th>
                                                <th>Last Disposition</th>
                                                <th>No. of Attempts</th>
												




                                            </tr>
                                        </thead>
                                        <tbody>



                                        </tbody>
                </table>
            </div>
            </div>
            
            </div>
            </div>
            </div>
            
            
            </div>
            </div>
            </div>
            </div>



}


<script type="text/javascript">
      
 function ajaxInsuranceRemainder(){
    // alert("server side data load");
     
    $('#assignedInsuInteraction').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": "/insurance/assignedInsuInteraction"
    } );
    
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
      $($.fn.dataTable.tables(true)).DataTable()
         .columns.adjust();
   });
    
    }

 function ajaxInsuranceDisposition(typeOfdispo){
	// alert(typeOfdispo);
	$('#dispoInsuInteraction'+typeOfdispo).dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": "/insurance/contactedDispoInteractions/"+typeOfdispo+""
            
    } );
    
	 }

function ajaxInsuranceNonContactDispo(typeOfdispo){

	$('#dispoInsuNonContact'+typeOfdispo).dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": "/insurance/nonContactedDispoInterac/"+typeOfdispo+""
            
    } );
	
}
 
 </script>
 
 <script type="text/javascript">
    window.onload = ajaxRequestDataOFInsuranceIndexPageWithTab;
</script>