	 @(insurAgent:List[InsuranceAgent],workshopList:List[Workshop],customerData:Customer,vehicleData:Vehicle,locationList:List[Location],interOfCall:CallInteraction,servicetypeList:List[ServiceTypes],userData:WyzUser,latestService:Service)
	 
	 <input type="hidden" name="selectedFile" value="@{if(interOfCall.getInsuranceDisposition()!=null){interOfCall.getInsuranceDisposition().getCallDispositionData().getDisposition()}}">  
		  <div style="display:none;" class="animated  bounceInRight" id="serviceBookDiv">
		  
	  
<!-- BOOK MY SERVICE -->		
	  <div class="col-md-12">
			  <div class="row">
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Select Vehicle</label>
					<select class="form-control" id="vehicle" name="vehicleId_SB">
					  
						@for(post <- customerData.getVehicles()){
                              
                              <option value="@post.vehicle_id">@post.vehicleRegNo</option>
                              
									}
					  
					  
					  
						
					</select>
				  </div>
				  </div>
				  <div class="col-md-3">
				  <div class="form-group">
					<label for="">Select City</label>
					<select class="form-control" id="city" name="cityName">					  
							
                              
                              <option value="@{userData.getLocation().getName()}">@{userData.getLocation().getName()}</option>
                              
									
					</select>
				  </div>
				</div>
				
					<div class="col-md-3">
				  <label for="">Renewal Type</label>
				  <select class="form-control"  name="renewalType" onchange="">
						<option value="0">--Select--</option>
						<option value="1st Renewal">1st Renewal</option>
						<option value="2nd Renewal">2nd Renewal</option>
						<option value="3rd Renewal">3rd Renewal</option>
						<option value="4th Renewal">4th Renewal</option>
						<option value="5th Renewal">5th Renewal</option>
						<option value="6th Renewal">6th Renewal</option>
						<option value="7th Renewal">7th Renewal</option>
						
						
						

				 </select>
				</div>
				<div class="col-md-3">
				  <label for="">Renewal Mode</label>
				  <select class="form-control" id="" name="renewalMode">
					<option value='0'>--Select--</option>
					<option value='PI'>PI</option>
					<option value='NPI'>NPI</option>
					
					
				
				  </select>
				</div>
				
				
				</div>
				 </div>
			  
			
		   <div class="col-md-12">
			  <div class="row">
			  <div class="col-md-3">	  
			  
				  <div class="form-group">
					<label class="control-label" for="inputGroup">Appointment Date<i class="lblStar">*</i></label>
					
					<input type="text" name="appointmentDate" class="form-control" id="insdate12345" readonly>					 
					 
					 
				  </div>
				</div>
			
		 <div class="col-md-3">
				  <div class="form-group">
				  <label>&nbsp;</label><br/>
					<button type="button" class="btn btn-primary btn-block" onClick="return ajaxAutoSASelectionIn('insdate12345','serviceAdvisor')">Recommend Agent</button>
					  
				  </div>
				</div>
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Assigned Insurance Agent</label>
			
					<select class="form-control insuranceAgent" name="insuranceAgentData" id="serviceAdvisor" onChange="ajaxAutoSAManualchangeIns('insdate12345','serviceAdvisor');">
												
					</select>
					
					</select>
				  </div>
				</div>
				<!--
				<div class="col-md-3">
				  <div class="form-group">
					<button type="button" class="btn btn-primary" onClick="return ajaxAutoSASelectionList('workshop','date12345','serviceAdvisor');">Change SA</button>
				  </div>
				</div>	
				-->
				
			  </div>
			
			
			<div class="pull-right">
			<button type="button" class="btn btn-primary" id="backtoMain">Back</button>
			<button type="button" class="btn btn-primary" id="nextToCustomerDrive">Next</button>
			</div>
			</div>
			</div>
			<div style="display:none;" class="animated  bounceInRight" id="CustomerDriveInDiv">
			<div class="col-md-12">
			<label>Choose one of the below option:</label>
		<br /> 
		<div class="radio-inline">
		  <label>
			<input type="radio" name="typeOfPickup" value="Home Visit" id="homeVisitId" >
			Home Visit</label>
		</div>
		<div class="radio-inline">
	  
		  <label>
			<input type="radio" name="typeOfPickup" value="Showroom Visit" id="showroomVisitId" onclick="ajaxAddShowRoom();">
			Showroom Visit</label>
	</div>
		
	  
	  <div style="display:none;" id="ShowroomListDiv">
		  <div class="animated  bounceInRight">
			  <div class="col-md-3">
				   <label for="">List Of Showrooms:</label>
					<div class="form-group">
					 
					  <select class="form-control" id="ShowroomsSelectId" name="showRoom_id">
						<option value="0">--Select--</option>
						
					  </select>
					</div>
				  </div>
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="time_From">Appointment From</label>
					  <input type="text" name="appointmentFromTime" class="timePickRange7to19 form-control" id="appoFmRoomID" readonly>
					</div>
				  </div>
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="time_To">Appointment To:</label>
					  <input type="text" name="appointmentToTime" class="timePickRange7to19 form-control" id="appoToRoomID" readonly>
					</div>
				  </div>
				  <div class="col-md-3">
					<div class="form-group">
					<br />
				   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddNewAddressPopup">Add New Address</button>
				
				</div>
				  </div>
				  
				 
			   
		  </div>
		  		
	  </div>
	  <div style="display:none;" id="pickupDivInsurance">
		  <div class="animated  bounceInRight">
			<div class="col-md-3">
			  <div class="form-group">
				<label for="addressOfVisit"><b>Confirm Address</b></label>
				<select class="form-control" name="addressOfVisit" id="pickUpAddPOPUP1" >
				  @for(addre_list <- customerData.getAddresses()){
				  	
				  	@if(addre_list.getConcatenatedAdress() == null){
                          <option value="@addre_list.getAddressLine1(),@addre_list.getAddressLine2(),@addre_list.getAddressLine3(),@addre_list.getCity(),@addre_list.getPincode()">@addre_list.getAddressLine1(),@addre_list.getAddressLine2(),@addre_list.getAddressLine3(),@addre_list.getCity(),@addre_list.getPincode()</option>
                         }else{
                         
                          <option value="@addre_list.getConcatenatedAdress(),@addre_list.getCity(),@addre_list.getPincode()">@addre_list.getConcatenatedAdress(),@addre_list.getCity(),@addre_list.getPincode()</option>
                         }
						  }
				</select>
			  </div>
			</div>
			  
			  <div class="col-md-3">
					<div class="form-group">
					  <label for="time_From">Appointment From</label>
					  <input type="text" name="appointmentFromTimeHomevisit" class="timePickRange7to19 form-control" id="appoFmHMID1" readonly>
					</div>
				  </div>
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="time_To">Appointment To:</label>
					  <input type="text" name="appointmentToTimeHomeVisit" class="timePickRange7to19 form-control" id="appoToHMID2" readonly>
					</div>
				  </div>
				   <div class="col-md-3">
					<div class="form-group">
					<br />
				   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddNewAddressPopup">Add New Address</button>
				
				</div>
				  </div>
			   
		  </div>
		  
		  
	 
		
	  </div>
	  <div class="pull-right">
	  <button type="button" class="btn btn-primary" id="BackToCunstomerDriveIndu">Back</button>
	   <button type="button" class="btn btn-primary" id="NextToLeadInsurance">Next</button>
	  </div>
	</div>
		  </div>
		  
		  <div style="display:none;" class="animated  bounceInRight" id="Add_OnsIndurace1">
		
		 <label>Any Add-Ons covers prefered by customer? (Details will be shared by the Insurance Executive) </label>
              <br>
			  <div class="radio-inline">
		  <label>
			<input type="radio" name="AddOnsYes" value="Yes" id="AddOnsYesRId" >
			Yes</label>
		</div>
		<div class="radio-inline">
		  <label>
			<input type="radio" name="AddOnsYes" value="No" id="AddOnsNoRId" >
			No</label>
		</div>
		
		<div style="display:none;" id="AllAdd_onsDiv" class="animated  bounceInRight">
		<div class="row">
              <div class="col-md-12">
              <p><b>Popular Options :</b></p>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="ComprehensivePolicy" name="addOnsPrefered_PopularOptions[0]" class="Add_Onschk">Comprehensive Policy
    </label>
           </div>
           </div>
            <div class="col-xs-3">
            <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="NCB Protect Cover" name="addOnsPrefered_PopularOptions[1]" class="Add_Onschk">NCB Protect Cover
    </label>
    </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Zero Dep Cover" name="addOnsPrefered_PopularOptions[2]" class="Add_Onschk">Zero Dep Cover
    </label>
    </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Invoice Cover" name="addOnsPrefered_PopularOptions[3]" class="Add_Onschk">Invoice Cover
    </label>
           </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Engine Protect" name="addOnsPrefered_PopularOptions[4]" class="Add_Onschk">Engine Protect
    </label>
           </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Electronic Circuit Cover" name="addOnsPrefered_PopularOptions[5]" class="Add_Onschk"> Electronic Circuit Cover
    </label>
           </div>
           </div>
          
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Passenger Cover" name="addOnsPrefered_PopularOptions[6]" class="Add_Onschk">Passenger Cover
    </label>
           </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Quick Assistance Cover" name="addOnsPrefered_PopularOptions[7]"  class="Add_Onschk">Quick Assistance Cover
    </label>
           </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Voluntary Deductible Cover" name="addOnsPrefered_PopularOptions[8]" class="Add_Onschk">Voluntary Deductible Cover
    </label>
           </div>
           </div>
           <br />

              </div>
            </div>
		<div class="row">
              <div class="col-md-12">

              <p><b>Other Options:</b></p>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Loss Of Personal Belongings" name="addOnsPrefered_OtherOptions[0]" class="Add_Onschk">Loss Of Personal Belongings
    </label>
           </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Windshield Glass Cover" name="addOnsPrefered_OtherOptions[1]" class="Add_Onschk">Windshield Glass Cover
    </label>
           </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Consumable Expenses" name="addOnsPrefered_OtherOptions[2]" class="Add_Onschk">Consumable Expenses
    </label>
           </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Hospital Daily Cash Allowance" name="addOnsPrefered_OtherOptions[3]" class="Add_Onschk">Hospital Daily Cash Allowance
    </label>
           </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Key Protector Cover" name="addOnsPrefered_OtherOptions[4]" class="Add_Onschk">Key Protector Cover
    </label>
           </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Consumable Expenses" name="addOnsPrefered_OtherOptions[5]" class="Add_Onschk">Consumable Expenses
    </label>
           </div>
           </div>
           <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Additional Expense Coverage" name="addOnsPrefered_OtherOptions[6]" class="Add_Onschk">Additional Expense Coverage 
    </label>
           </div>
           </div>
            <div class="col-xs-3">
           <div class="form-group">
           <label class="checkbox-inline">
      <input type="checkbox" value="Loss of DL / RC" name="addOnsPrefered_OtherOptions[7]" class="Add_Onschk">Loss of DL / RC
    </label>
           </div>
           </div>



           </div>
           </div>
		</div>
				
	  
	 
	  <div class="pull-right">
	  <button type="button" class="btn btn-primary" id="BackToNewInsu1">Back</button>
	   <button type="button" class="btn btn-primary" id="NextToNewInsu1">Next</button>
	  </div>
	</div>
		  
		   <div style="display:none;" class="animated  bounceInRight" id="PremiumInsu2">
			<div class="col-md-12">
			<label>Have you shared the tentative 'Insurance Premium' with customer ?:</label>
		<br /> 
		<div class="radio-inline">
		  <label>
			<input type="radio" name="PremiumYes" value="Yes" id="PremiumYesID" >
			Yes</label>
		</div>
		<div class="radio-inline">
	  
		  <label>
			<input type="radio" name="PremiumYes" value="No" id="PremiumNoID" >
			No</label>
	</div>
			
 <div  style="display:none;" id="InsurancePremiumDiv" class="animated  bounceInRight">
        <div class="row">
      <div class="col-xs-3">
       <div class="form-group">
        <label for="InsuranceCompany">Insurance Company</label>
          <select class="form-control input-sm" name="insuranceCompany" id="InsuCompSelectID">
          <option value="0">--Select--</option>
          <option value="Agriculture Insurance Company of India">Agriculture Insurance Company of India</option>
			<option value="Apollo Munich Insurance">Apollo Munich Insurance</option>
			<option value="Bajaj Allianz General Insurance">Bajaj Allianz General Insurance</option>
			<option value="Bharti AXA General Insurance">Bharti AXA General Insurance</option>
			<option value="Cholamandalam MS General Insurance">Cholamandalam MS General Insurance</option>
			<option value="Cigna TTK Health Insurance Company Ltd - Cigna TTK">Cigna TTK Health Insurance Company Ltd - Cigna TTK</option>
			<option value="ECGC (Export Credit Guarantee Corporation of India)">ECGC (Export Credit Guarantee Corporation of India)</option>
			<option value="Future Generali India Insurance Company Ltd">Future Generali India Insurance Company Ltd</option>
			<option value="HDFC ERGO General Insurance">HDFC ERGO General Insurance</option>
			<option value="ICICI Lombard General Insurance Company Limited">ICICI Lombard General Insurance Company Limited</option>
			<option value="IFFCO Tokio General Insurance Company Limited">IFFCO Tokio General Insurance Company Limited</option>
			<option value="L&T General Insurance">L&T General Insurance</option>
			<option value="Liberty Videocon General Insurance">Liberty Videocon General Insurance</option>
			<option value="Magma HDI General Insurance">Magma HDI General Insurance</option>
			<option value="Max Bupa General Insurance">Max Bupa General Insurance</option>
			<option value="National Insurance Company Limited">National Insurance Company Limited</option>
			<option value="New India Assurance">New India Assurance</option>
			<option value="Oriental Insurance Company">Oriental Insurance Company</option>
			<option value="Raheja QBE General Insurance Company Ltd - Raheja QBE">Raheja QBE General Insurance Company Ltd - Raheja QBE</option>
			<option value="Reliance General Insurance">Reliance General Insurance</option>
			<option value="Religare Health Insurance">Religare Health Insurance</option>
			<option value="Royal Sundaram General Insurance Co. Limited">Royal Sundaram General Insurance Co. Limited</option>
			<option value="SBI General Insurance Company Ltd">SBI General Insurance Company Ltd</option>
			<option value="Shriram General Insurance Company Ltd">Shriram General Insurance Company Ltd</option>
			<option value="Star Health and Allied Insurance">Star Health and Allied Insurance</option>
			<option value="Tata AIG General Insurance">Tata AIG General Insurance</option>
			<option value="United India Insurance">United India Insurance</option>
			<option value="Universal Sompo General Insurance">Universal Sompo General Insurance</option>
			<option value="Others">Others</option>
        </select>
        </div>
      </div>
      <div class="col-xs-3">
       <div class="form-group">
        <label for="InsuDSAID">DSA (if any)</label>
        <input class="form-control input-sm" id="InsuDSAID" name="dsa" type="text">
      </div>
      </div>
      
    </div>	
	 <div class="row">
	  <div class="col-md-3">
                <div class="form-group">
                  <label>Premium (with Tax)</label>
                  <div class="input-group">
                    <input type="text" class="form-control numberOnly" value="0" name="premiumwithTax" id="PremiumwithTax" readonly>
                     <span class="input-group-addon" id="editFinalPremium" style="cursor:pointer" data-toggle="tooltip" title="Reset"><i class="fa fa-pencil"></i> </span></div> 
                </div>
              </div>
			  
     
	  <div class="col-xs-3">
       <div class="form-group">
       <br />
        <button type="button" class="btn btn-primary" id="" data-target="#InsuPremiumPopup" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="ajaxODPercentage();"><i class="fa fa-calculator fa-lg"></i>&nbsp;Calculate Premium</button>
      </div>
      </div>
     
    </div>
	 </div>
	 
	  <div class="pull-right">
	  <button type="button" class="btn btn-primary" id="BackToNewInsu2">Back</button>
	   <button type="button" class="btn btn-primary" id="NextToNewInsu2">Next</button>
	  </div>
	
		  </div>
		  </div>
		   <div style="display:none;" class="animated  bounceInRight" id="nomineeDetails3">
			<div class="col-md-12">
			<label>Customer's nominee details available ?:</label>
		<br /> 
		<div class="radio-inline">
		  <label>
			<input type="radio" name="nomineeYes" value="Yes" id="nomineeYesID" >
			Yes</label>
		</div>
		<div class="radio-inline">
		  <label>
			<input type="radio" name="nomineeYes" value="No" id="nomineeNoID" >
			No</label>
		</div>
		<div class="row animated  bounceInRight" style="display:none;" id="nomineeDiv">
			<div class="col-md-3">
				<div class="form-group">
					<label>Nominee Name</label>
					<input type="text" class="form-control textOnlyAccepted" name="nomineeName" id="NomineeNameID" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>Nominee Age</label>
					<input type="text" class="form-control numberOnly" name="nomineeAge" maxlength="2" id="NomineeAgeID"  />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>Nominee's Relation with Owner</label>
					<input type="text" class="form-control textOnlyAccepted" name="nomineeRelationWithOwner" id="NomineeRelationID" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>Appointee Name</label>
					<input type="text" class="form-control textOnlyAccepted" name="appointeeName" id="AppointeeNameID"  />
				</div>
			</div>
		</div>
		
				
	  
	 
	  <div class="pull-right">
	  <button type="button" class="btn btn-primary" id="BackToNewInsu3">Back</button>
	   <button type="button" class="btn btn-primary" id="NextToNewInsu3">Next</button>
	  </div>
	</div>
		  </div>
		  
		   <div class="col-md-12 animated  bounceInRight" style="display:none;" id="finalDiv1">
			<label>Capture Lead : Is there an Upsell Opportunity.</label>
		   <br>
		   
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYes" onclick="loadLeadBasedOnLocation();" value="Capture Lead Yes" id="LeadYesID" >
				Yes</label>
			</div>
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYes" value="Capture Lead No" id="LeadNoID" >
				No</label>
			</div>
			<div class="row animated  bounceInRight" style="display:none;" id="LeadDiv">
			 <div class="col-md-12">
			  <div class="col-md-6">
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[0].upSellType" value="Insurance" id="InsuranceIDCheck">
					Periodic Maintenance Service</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="InsuranceSelect">
				 
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[0].taggedTo" id="insuranceLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments1" name="upsellLead[0].upsellComments"></textarea>
					</div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[1].upSellType" value="Warranty / EW" id="WARRANTYID" >
					Warranty / EW</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="WARRANTYSelect">
					
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[1].taggedTo" id="warrantyLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments2" name="upsellLead[1].upsellComments"></textarea>
					</div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="VAS myOutCheckbox" name="upsellLead[2].upSellType" value="VAS" id="VASID" />
					VAS</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="VASTagToSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[2].taggedTo" id="vASLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments3" name="upsellLead[2].upsellComments"></textarea>
					</div>
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[3].upSellType" value="Re-Finance / New Car Finance" id="ReFinanceIDCheck" />
					Re-Finance / New Car Finance</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="ReFinanceSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[3].taggedTo" id="reFinanceLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments4" name="upsellLead[3].upsellComments"></textarea>
					</div>
				 </div>
				</div>
				<div class="col-md-6">
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="Loan myOutCheckbox" name="upsellLead[4].upSellType" value="Sell Old Car" id="LoanID" />
					Sell Old Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="LoanSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[4].taggedTo" id="sellOldCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments5" name="upsellLead[4].upsellComments"></textarea>
					</div>
				  </div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="EXCHANGE myOutCheckbox" name="upsellLead[5].upSellType" value="Buy New Car / Exchange" id="EXCHANGEID" />
					Buy New Car / Exchange</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="EXCHANGEIDSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[5].taggedTo" id="buyNewCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments6" name="upsellLead[5].upsellComments"></textarea>
					</div>
				 	</div>
				  <div class="checkbox">
				  <label>
					<input type="checkbox" class="UsedCar myOutCheckbox" name="upsellLead[6].upSellType" value="UsedCar" id="UsedCarID" />
					Used Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="UsedCarSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[6].taggedTo" id="usedCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments7" name="upsellLead[6].upsellComments"></textarea>
					</div>
				 
				</div>
		   
			  </div>
			</div>
			 
			</div>
			  <div class="pull-right" >
			<button type="button" class="btn btn-primary" id="BackToInsuNomine">Back</button>
			  <button type="button" class="btn btn-primary" value="" id="NextToCustFeedBack"/>Next</button>
			</div>
			</div>
	
				
			<div class="row animated  bounceInRight" id="CustFeedBack" style="display:none;">
				  <div class="col-md-12">
				  
					<label>Does Customer has a feedback / compliant ?</label>
					<br>
					<div class="radio-inline">
					  <label for="feedbackYes">
						<input type="radio" name="userfeedback" onclick="loadLeadBasedOnLocationDepartment();" value="feedback Yes" id="feedbackYes" >
						Yes</label>
					</div>
					<div class="radio-inline">
					  <label for="feedbackNo">
						<input type="radio" name="userfeedback" value="feedback No" id="feedbackNo" >
						No</label> 
					</div>
				
			   
				<div class="row animated  bounceInRight" style="display:none;" id="feedbackDIV"><br>
				 <div class="col-md-12">
				  <div class="col-md-3">
					<label for="">Select Department<i class="lblStar">*</i></label>
					<select class="form-control selected_department" onchange="ajaxLeadTagByDepartment();" id="selected_department1" name="departmentForFB">
					 
					</select>
				  </div>
				  <div class="col-md-3">
					<label for="">Tag to</label>
					<select class="form-control" name="complaintOrFB_TagTo" id="LeadTagsByLocation1" name="complaintOrFB_TagTo">
					
					@{if(interOfCall.getSrdisposition()!=null){
					
					<option value={interOfCall.getSrdisposition().getComplaintOrFB_TagTo()} selected="selected">{interOfCall.getSrdisposition().getComplaintOrFB_TagTo()}</option>
					
					}}	  
					</select>
				  </div>
				
				  <div class="col-md-3">
					<label for="comments">Feedback/Comment</label>
					<textarea class="form-control" rows="1" id="commentsOfFB" name="remarksOfFB"></textarea>
				  </div>
				  <br>
				</div>
				  </div>
				  <div class="pull-right" >
			<button type="button" class="btn btn-primary" id="BackToUpsell">Back</button>
			  <button type="button" class="btn btn-primary" value="" id="NextToLastQuestion"/>Next</button>
			</div>
		  </div>
		  </div>

<div class="col-md-12 animated  bounceInRight" id="LastQuestion" style="display:none;">
				
					<label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
					<br>
					<div class="radio-inline">
					  <label for="feedbackYes">
						<input type="radio" name="CustomerFeedBackYes" value="Customer Yes" id="CustomerYes" >
						Yes</label>
					</div>
					<div class="radio-inline">
					  <label for="feedbackNo">
						<input type="radio" name="CustomerFeedBackYes" value="Customer No" id="CustomerNo" >
						No</label> 
					</div>
				
				  <div class="pull-right" >
			<button type="button" class="btn btn-primary" id="BackToCustomerFeedback">Back</button>
			  <button type="submit" class="btn btn-primary" value="bookMyAppointment" name="typeOfsubmit" id="bookMyserviceSubmit"/>Submit</button>
			</div>
				  </div>
				  
				  
				  
				  <!-- call me later -->
				  
				   <div class="row animated  bounceInRight" style="display:none;" id="callMeLattteDiv">
		   <div class="col-md-12">
			<div class="col-md-3">
			  <div class="form-group">
				<label for="followUpDate">Follow Up Date<i class="lblStar">*</i></label>
				<input type="text" name="followUpDate" class="form-control" id="FollowUpDate" readonly>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="form-group">
				<label for="followUpTime">Follow Up Time<i class="lblStar">*</i></label>
				<input type="text" name="followUpTime" class="timepicker_7 form-control" id="FollowUpTime" readonly>
			  </div>
			</div>
			<br>
			  <div class="pull-right">
			  <button type="button" class="btn btn-primary" value="" id="CallaterBack">Back</button>
				<button type="submit" class="btn btn-primary" value="callMeLater" id="callMeLaterSubmit" name="typeOfsubmit">Submit</button>
			</div>
		  </div>
		
		  </div>
				  
				  <!-- Service Not Required -->
				   <div class="row animated  bounceInRight" style="display:none;" id="alreadyserviceDIV" > 
				<!--No Service Required-->
				<div class="col-md-12" >
					<div class="col-md-12">
					  <div class="form-group">
					 
						<div class="checkbox AlreadyServiced">
						  <label>
							<input type="checkbox" class="NoService" name="renewalNotRequiredReason" value="Already Renewed" id="AlreadyServiced" >
							Already Renewed</label>
						</div>
						<div class="animated  bounceInRight alreadyservicedDiv1" style="display:none;" id="alreadyservicedDiv1">
						  <div class="col-md-12">
							<div class="radio ServicedMyDealer">
							  <label>
								<input type="radio" name="renewalDoneBy" onclick="workshopNameList();" value="Renewed At My Dealer" id="ServicedMyDealer" >
								Renewed At My Dealer</label>
							</div>
							<div class="row animated  bounceInRight" style="display:none;" id="ServicedMyDealerDiv">
							  <div class="col-md-12">
								<div class="col-md-3">
								  <label for=""><b>Last Renewal Date<b></label>
								 <input type="text" name="lastRenewalDate" value="@{vehicleData.getLastServiceDate()}" class="datepickerPrevious form-control"/>
								</div>
								<div class="col-md-3">
								  <label for=""><b>Last Renewed Location<b></label>
									<select class="form-control" name="lastRenewedLocation" id="lastServiceWorkshopList">
								  
								 	<option value=0>--Select--</option>				  
								 
								 	
								  </select>
								  
								</div>
								 <div class="col-md-2">
								  <label for=""><b>Insurance Provided By<b></label>
								  <select class="form-control" name="insuranceProvidedBy">
											<option value="0">--Select--</option>
											<option value="Agriculture Insurance Company of India">Agriculture Insurance Company of India</option>
											<option value="Apollo Munich Insurance">Apollo Munich Insurance</option>
											<option value="Bajaj Allianz General Insurance">Bajaj Allianz General Insurance</option>
											<option value="Bharti AXA General Insurance">Bharti AXA General Insurance</option>
											<option value="Cholamandalam MS General Insurance">Cholamandalam MS General Insurance</option>
											<option value="Cigna TTK Health Insurance Company Ltd - Cigna TTK">Cigna TTK Health Insurance Company Ltd - Cigna TTK</option>
											<option value="ECGC (Export Credit Guarantee Corporation of India)">ECGC (Export Credit Guarantee Corporation of India)</option>
											<option value="Future Generali India Insurance Company Ltd">Future Generali India Insurance Company Ltd</option>
											<option value="HDFC ERGO General Insurance">HDFC ERGO General Insurance</option>
											<option value="ICICI Lombard General Insurance Company Limited">ICICI Lombard General Insurance Company Limited</option>
											<option value="IFFCO Tokio General Insurance Company Limited">IFFCO Tokio General Insurance Company Limited</option>
											<option value="L&T General Insurance">L&T General Insurance</option>
											<option value="Liberty Videocon General Insurance">Liberty Videocon General Insurance</option>
											<option value="Magma HDI General Insurance">Magma HDI General Insurance</option>
											<option value="Max Bupa General Insurance">Max Bupa General Insurance</option>
											<option value="National Insurance Company Limited">National Insurance Company Limited</option>
											<option value="New India Assurance">New India Assurance</option>
											<option value="Oriental Insurance Company">Oriental Insurance Company</option>
											<option value="Raheja QBE General Insurance Company Ltd - Raheja QBE">Raheja QBE General Insurance Company Ltd - Raheja QBE</option>
											<option value="Reliance General Insurance">Reliance General Insurance</option>
											<option value="Religare Health Insurance">Religare Health Insurance</option>
											<option value="Royal Sundaram General Insurance Co. Limited">Royal Sundaram General Insurance Co. Limited</option>
											<option value="SBI General Insurance Company Ltd">SBI General Insurance Company Ltd</option>
											<option value="Shriram General Insurance Company Ltd">Shriram General Insurance Company Ltd</option>
											<option value="Star Health and Allied Insurance">Star Health and Allied Insurance</option>
											<option value="Tata AIG General Insurance">Tata AIG General Insurance</option>
											<option value="United India Insurance">United India Insurance</option>
											<option value="Universal Sompo General Insurance">Universal Sompo General Insurance</option>
											<option value="Others">Others</option>
											
										</select>
								</div>
								 <div class="col-md-2">
								  <label for=""><b>Premium (Rs.)<b></label>
								  <input type="text" name="premimum" value="" class="form-control numberOnly"/>
								</div>
								 <div class="col-md-2">
								  <label for=""><b>Cover Note (No.)<b></label>
								  <input type="text" name="coverNoteNo" value="" class="form-control"/>
								</div>
							  </div>
							</div>
							<div class="radio ServicedOtherDealer">
							  <label>
								<input type="radio" name="renewalDoneBy" value="Renewed At Other Dealer" id="renewedOtherDealer" >
								Renewed At Other Dealer</label>
							</div>
							<div class="row animated  bounceInRight" style="display:none;" id="ServicedAtOtherDealerDiv" >
							  <div class="col-md-12">
								
								 <div class="col-md-12">
									<div class="radio">
									  <label>
										<input type="radio" name="typeOfAutherization" value="OEM Authorized Dealer" id="Autorizedworkshopid" >
										OEM Authorized Dealer</label>
									</div>
								  </div>
							   
								<div class="animated  bounceInRight" style="display:none;" id="AutorizedworkshopDIV">
								  <div class="col-md-12">
								   
									  <div class="col-md-3">
										<label for="dealerName"><b>Dealer Name<b></label>
										<input type="text" name="dealerName" class="form-control textOnlyAccepted" />
									  </div>
								  
									  <div class="col-md-3">
										<label for="dateOfService"><b>Date of Renewal<b></label>
										<input type="text" name=dateOfRenewal class="datepickerPrevious form-control" />
									  </div>
								 
									  <div class="col-md-3">
										<label for="mileageAtService"><b>Insurance Provider<b></label>
										<select class="form-control" name="insuranceProvidedByOEM">
											<option value="0">--Select--</option>
											<option value="Agriculture Insurance Company of India">Agriculture Insurance Company of India</option>
											<option value="Apollo Munich Insurance">Apollo Munich Insurance</option>
											<option value="Bajaj Allianz General Insurance">Bajaj Allianz General Insurance</option>
											<option value="Bharti AXA General Insurance">Bharti AXA General Insurance</option>
											<option value="Cholamandalam MS General Insurance">Cholamandalam MS General Insurance</option>
											<option value="Cigna TTK Health Insurance Company Ltd - Cigna TTK">Cigna TTK Health Insurance Company Ltd - Cigna TTK</option>
											<option value="ECGC (Export Credit Guarantee Corporation of India)">ECGC (Export Credit Guarantee Corporation of India)</option>
											<option value="Future Generali India Insurance Company Ltd">Future Generali India Insurance Company Ltd</option>
											<option value="HDFC ERGO General Insurance">HDFC ERGO General Insurance</option>
											<option value="ICICI Lombard General Insurance Company Limited">ICICI Lombard General Insurance Company Limited</option>
											<option value="IFFCO Tokio General Insurance Company Limited">IFFCO Tokio General Insurance Company Limited</option>
											<option value="L&T General Insurance">L&T General Insurance</option>
											<option value="Liberty Videocon General Insurance">Liberty Videocon General Insurance</option>
											<option value="Magma HDI General Insurance">Magma HDI General Insurance</option>
											<option value="Max Bupa General Insurance">Max Bupa General Insurance</option>
											<option value="National Insurance Company Limited">National Insurance Company Limited</option>
											<option value="New India Assurance">New India Assurance</option>
											<option value="Oriental Insurance Company">Oriental Insurance Company</option>
											<option value="Raheja QBE General Insurance Company Ltd - Raheja QBE">Raheja QBE General Insurance Company Ltd - Raheja QBE</option>
											<option value="Reliance General Insurance">Reliance General Insurance</option>
											<option value="Religare Health Insurance">Religare Health Insurance</option>
											<option value="Royal Sundaram General Insurance Co. Limited">Royal Sundaram General Insurance Co. Limited</option>
											<option value="SBI General Insurance Company Ltd">SBI General Insurance Company Ltd</option>
											<option value="Shriram General Insurance Company Ltd">Shriram General Insurance Company Ltd</option>
											<option value="Star Health and Allied Insurance">Star Health and Allied Insurance</option>
											<option value="Tata AIG General Insurance">Tata AIG General Insurance</option>
											<option value="United India Insurance">United India Insurance</option>
											<option value="Universal Sompo General Insurance">Universal Sompo General Insurance</option>
											<option value="Others">Others</option>
											
										</select>
									  </div>
									
									  <div class="col-md-3">
										<label for="serviceType"><b>Type of Insurance <b></label>
										
										<select class="form-control" id="" name="typeOfInsurance">
										  <option value="0">--SELECT--</option>
										  <option value="PI">PI</option>
										  <option value="NPI">NPI</option>
										  
									
									</select>
									  </div>
								   
								  </div>
								</div>
							   
								  <div class="col-md-12">
									<div class="radio">
									  <label>
										<input type="radio" name="typeOfAutherization" value="Unauthorized Dealer" id="NonAutorizedworkshopid" >
										Unauthorized Dealer</label>
									</div>
								  </div>
							  
								<div class="animated  bounceInRight" style="display:none;" id="NonAutorizedworkshopDiv">
								  <div class="col-md-12">
									<div class="col-md-3">
									  <label for="dateOfRenewalNonAuth"><b>Date of Renewal<b></label>
									  <input type="text" name="dateOfRenewalNonAuth" class="datepickerPrevious form-control" />
									</div>
									<div class="col-md-3">
									  <label for="mileageAsOnDate"><b> Insurance Provider<b></label>
									 <select class="form-control" name="insuranceProvidedUnAuth">
											<option value="0">--Select--</option>
											<option value="Agriculture Insurance Company of India">Agriculture Insurance Company of India</option>
											<option value="Apollo Munich Insurance">Apollo Munich Insurance</option>
											<option value="Bajaj Allianz General Insurance">Bajaj Allianz General Insurance</option>
											<option value="Bharti AXA General Insurance">Bharti AXA General Insurance</option>
											<option value="Cholamandalam MS General Insurance">Cholamandalam MS General Insurance</option>
											<option value="Cigna TTK Health Insurance Company Ltd - Cigna TTK">Cigna TTK Health Insurance Company Ltd - Cigna TTK</option>
											<option value="ECGC (Export Credit Guarantee Corporation of India)">ECGC (Export Credit Guarantee Corporation of India)</option>
											<option value="Future Generali India Insurance Company Ltd">Future Generali India Insurance Company Ltd</option>
											<option value="HDFC ERGO General Insurance">HDFC ERGO General Insurance</option>
											<option value="ICICI Lombard General Insurance Company Limited">ICICI Lombard General Insurance Company Limited</option>
											<option value="IFFCO Tokio General Insurance Company Limited">IFFCO Tokio General Insurance Company Limited</option>
											<option value="L&T General Insurance">L&T General Insurance</option>
											<option value="Liberty Videocon General Insurance">Liberty Videocon General Insurance</option>
											<option value="Magma HDI General Insurance">Magma HDI General Insurance</option>
											<option value="Max Bupa General Insurance">Max Bupa General Insurance</option>
											<option value="National Insurance Company Limited">National Insurance Company Limited</option>
											<option value="New India Assurance">New India Assurance</option>
											<option value="Oriental Insurance Company">Oriental Insurance Company</option>
											<option value="Raheja QBE General Insurance Company Ltd - Raheja QBE">Raheja QBE General Insurance Company Ltd - Raheja QBE</option>
											<option value="Reliance General Insurance">Reliance General Insurance</option>
											<option value="Religare Health Insurance">Religare Health Insurance</option>
											<option value="Royal Sundaram General Insurance Co. Limited">Royal Sundaram General Insurance Co. Limited</option>
											<option value="SBI General Insurance Company Ltd">SBI General Insurance Company Ltd</option>
											<option value="Shriram General Insurance Company Ltd">Shriram General Insurance Company Ltd</option>
											<option value="Star Health and Allied Insurance">Star Health and Allied Insurance</option>
											<option value="Tata AIG General Insurance">Tata AIG General Insurance</option>
											<option value="United India Insurance">United India Insurance</option>
											<option value="Universal Sompo General Insurance">Universal Sompo General Insurance</option>
											<option value="Others">Others</option>
											
										</select>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							
						  </div>
						  
						  <div class="pull-right" >
					
					  <button type="button" class="btn btn-primary" value="" id="nextToAlreadySrviceUpsell"/>Next</button>
					</div>
				  </div>
		<div class="row animated  bounceInRight" id="AlreadyServiceUpsellOpp" style="display:none;">
						  <div class="col-md-12">
				   
					<label>Capture Lead : Is there an Upsell Opportunity.</label>
				   <br>
				   
					<div class="radio-inline">
					  <label>
						<input type="radio" name="LeadYesAlradyService" onclick="loadLeadBasedOnLocation();" value="Capture Lead Yes AlreadyService" id="" >
						Yes</label>
					</div>
					<div class="radio-inline">
					  <label>
						<input type="radio" name="LeadYesAlradyService" value="Capture Lead No AlreadyService" id="LeadNoUpselOpp" >
						No</label>
					</div>
					<div class="row animated  bounceInRight" style="display:none;" id="LeadDivAlreadyService">
					  <div class="col-md-6">
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="insuLead" name="upsellLead[7].upSellType" value="Insurance" id="InsuranceIDCheckAlreadyServiced">
							Periodic Maintenance Service</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="InsuranceSelectAlreadyService">
						  <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[7].taggedTo" id="insuranceLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[7].upsellComments"></textarea>
							</div>
						   </div>
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="insuLead" name="upsellLead[8].upSellType" value="Warranty / EW" id="WARRANTYIDAlreadyService" >
							Warranty / EW</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="WARRANTYSelectAlreadyService">
							<div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[8].taggedTo" id="warrantyLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[8].upsellComments"></textarea>
							</div>
						   </div>
						  
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="insuLead" name="upsellLead[9].upSellType" value="VAS" id="VASIDAlreadyService" />
							VAS</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="VASTagToSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[9].taggedTo" id="vASLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[9].upsellComments"></textarea>
							</div>
						   </div>
						  
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="insuLead" name="upsellLead[10].upSellType" value="Re-Finance / New Car Finance" id="ReFinanceIDCheckAlreadyService" />
							Re-Finance / New Car Finance</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="ReFinanceSelectAlreadyService">
						  <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[10].taggedTo" id="reFinanceLead">
								<option >Select</option>	
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[10].upsellComments"></textarea>
							</div>
						   </div>
						 
						</div>
						</div>
						 <div class="col-md-6">
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="insuLead" name="upsellLead[11].upSellType" value="Sell Old Car" id="LoanIDAlreadyService" />
							Sell Old Car</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="LoanSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[11].taggedTo" id="sellOldCarLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[11].upsellComments"></textarea>
							</div>
						   </div>
					
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="insuLead" name="upsellLead[12].upSellType" value="Buy New Car / Exchange" id="EXCHANGEIDAlreadyService" />
							Buy New Car / Exchange</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="EXCHANGEIDSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[12].taggedTo" id="buyNewCarLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[12].upsellComments"></textarea>
							</div>
						   </div>
						
						</div>
						  <div class="checkbox">
						  <label>
							<input type="checkbox" class="insuLead" name="upsellLead[13].upSellType" value="UsedCar" id="UsedCarIDAlreadyService" />
							Used Car</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="UsedCarSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[13].taggedTo" id="usedCarLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[13].upsellComments"></textarea>
							</div>
						   </div>
						  
						</div>
				   
					  </div>
					</div>
					  <div class="pull-right" >
					<button type="button" class="btn btn-primary" id="BackToAlreadySerUpsel">Back</button>
					  <button type="button" class="btn btn-primary" value="" id="NextAlreadySerFeedBack"/>Next</button>
					</div>
					
						  </div>
				
							</div>
							<div class="row animated  bounceInRight" id="AlreadyServiceFeedBAck" style="display:none;">
						  <div class="col-md-12">
						 
							<label>Does Customer has a feedback / compliant ?</label>
							<br>
							<div class="radio-inline">
							  <label for="feedbackYes">
								<input type="radio" name="userfeedbackAlreadyService" onclick="loadLeadBasedOnLocationDepartment();" value="feedback Yes AlreadyService" id="userfeedbackAlreadyService" >
								Yes</label>
							</div>
							<div class="radio-inline">
							  <label for="feedbackNo">
								<input type="radio" name="userfeedbackAlreadyService" value="feedback No AlreadyService" id="" >
								No</label> 
							</div>
						
					   
						<div class="row animated  bounceInRight" style="display:none;" id="feedbackDIVAlreadyService"><br>
						 <div class="col-md-12">
						  <div class="col-md-3">
							<label for="">Select Department<i class="lblStar">*</i></label>
						<select class="form-control selected_department" id="selected_department" name="departmentForFB1" onchange="ajaxLeadTagByDepartment();">
						 <option>select</option>
						 
							</select>
						  </div>
						  <div class="col-md-3">
							<label for="">Tag to</label>
							<select class="form-control" id="LeadTagsByLocation" name="complaintOrFB_TagTo1">
							  
							</select>
						  </div>
						
						  <div class="col-md-3">
							<label for="comments">Feedback/Comment</label>
							<textarea class="form-control" rows="1" id="comments" name="remarksOfFB1"></textarea>
						  </div>
						  <br>
						</div>
						  </div>
						  <div class="pull-right" >
					<button type="button" class="btn btn-primary" id="BackToAlreadyServUpsell">Back</button>
					  <button type="button" class="btn btn-primary" value="" id="NextToLastAlreadySerQuestion"/>Next</button>
					</div>
				  </div>
				    </div>
					
					<div class="row animated  bounceInRight" id="LastQuestionAlreadyServ" style="display:none;">
						  <div class="col-md-12">
						  <div class="col-md-12">
							<label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
							<br>
							<div class="radio-inline">
							  <label for="">
								<input type="radio" name="radio7" value="" id=""  data-toggle="modal" data-target="#addBtn" >
								Yes</label>
							</div>
							<div class="radio-inline">
							  <label for="feedbackNo">
								<input type="radio" name="radio7" value="" id="" >
								No</label> 
							</div>
						  </div>
						  </div>
						  <div class="pull-right" >
					<button type="button" class="btn btn-primary " id="BackToAlreadyServiceFeedBack">Back</button>
					 <button type="submit" class="btn btn-primary" value="alreadyRenewed" name="typeOfsubmit"id="alreadyServiced"/>Submit</button>
					</div>
						  </div>
						
						
						<div class="checkbox VehicleSold"> 
						  <label>
							<input type="checkbox" class="NoService" name="renewalNotRequiredReason" value="Vehicle Sold" id="VehicleSold" >
							Vehicle Sold</label>
						</div>
						
				
						<div class="row animated  bounceInRight" style="display:none;" id="VehicelSoldYesRNo">
						<div class="col-md-12">
                        <label>	Do you have the contact details of the new owner ?</label>
                        <br>
                        <div class="radio-inline">
                          <label for="">
                            <input type="radio" name="VehicleSoldYes" value="VehicleSold Yes" id="VehicleSoldYesbtn" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="">
                            <input type="radio" name="VehicleSoldYes" value="VehicleSoldYes No" id="VehicleSoldNobtn" >
                            No</label> 
                        </div>
                      </div>
                     <div class="pull-right backToAllSNR">
				    <button type="button" class="btn btn-primary" value="" id="backToAlreadyServicediv">Back</button>
					<button type="button" class="btn btn-primary" value="" id="NextToPurchaseNewcarNO">Next</button>
                </div>
						
                      
						</div>
						
					
						<div class="row animated  bounceInRight" style="display:none;"  id="VehicleSoldClickYes">
							 
							
				<div class="row">
			 <div class="col-md-12">
 <label>Please confirm the name of the new owner. </label><br>			 
               <div class="form-group">
      <div class="col-xs-1">
       
       <select class="form-control">
<option>Mr.</option>
<option>Ms.</option>
<option>Mrs.</option>

</select>
      </div>
      <div class="col-xs-2" style="margin-left: -28px;">
       
        <input class="form-control onlyAlphabetOnly" id="customerFNameConfirm" name="customerFName" placeholder="First Name" type="text">
      </div>
      <div class="col-xs-2">
       
        <input class="form-control onlyAlphabetOnly" name="customerLName" placeholder="Last Name" id="customerLNameConfirm" type="text">
      </div>
	  </div>
	  </div>
	  </div>
	  </br>
	  <div class="row">
			 <div class="col-md-12">
       <div class="col-xs-2">
              <input class="form-control numberOnly" maxlength="10" name="phoneList[0]" placeholder="Mobile1" id="Mobile1" type="text">
      </div>
      <div class="col-xs-2">
     
        <input class="form-control numberOnly" maxlength="10" name="phoneList[1]" placeholder="Mobile2" id="Mobile2" type="text">
      </div>
	  
      <div class="col-xs-1">
     
        <input class="form-control numberOnly" maxlength="4" name="phoneList[2]" placeholder="STD" id="STDCodeInput" type="text">
      </div>
      <div class="col-xs-2">
        
        <input class="form-control numberOnly" maxlength="8" name="phoneList[3]" placeholder="Landline No." id="LandlineInput" type="text">
      </div>
    </div>
        </div>
			</br>
            					
				
           <div class="row">
             <div class="col-md-12">
							
							  <div class="form-group">
							 
							 <div class="col-xs-2">
        <textarea rows="2" class="form-control" name="addressLine1" placeholder="Address Line1"></textarea>
        
		
      </div>
      <div class="col-xs-2">
       
         <textarea class="form-control" placeholder="Address Line2" name="addressLine2" id="" rows="2" ></textarea>
      </div>
	        </div>
			</div>
			</div>
			</br>
			   <div class="row">
             <div class="col-md-12">
       <div class="col-xs-2">

       
		 <select class="form-control" name="city" placeholder="City" id="cityInput">	
                                        <option value='select'>--Select City--</option>
                                        @for(location_list<-locationList){
                                        <option value="@location_list.getName()">@location_list.getName()</option>
                                        }
                                    </select>
      </div>
      <div class="col-xs-2">
				<select class="form-control" name="state" placeholder="State" id="stateInput">	
					<option value="0">--Select State--</option>
					<option value="Maharastra">Maharastra</option>
                            </select>
        
      </div>
       <div class="col-xs-2">
     
        <input class="form-control numberOnly" maxlength="6" name="pincode" value="0"  placeholder="Pin" id="PinInput" type="text">
		<input type="hidden" name="country" value="India">
		
      </div>
      </div>
							 </div>
            
								 <div class="pull-right backToYesSNR ">
				    <button type="button" class="btn btn-primary" value="" id="backToSNR">Back</button>
					<button type="button" class="btn btn-primary" value="" id="NextToPurchaseCar">Next</button>
                </div>
						   
						  </div>
						</div>
								<div class="row animated  bounceInRight" style="display:none;"  id="VehicleSoldClickNo">
						  <div class="col-md-12">
						  <label for=""><b>	Did you purchase another car?<b></label><br>
						     <div class="radio-inline">
                          <label for="">
                            <input type="radio" name="PurchaseYes" value="Purchase Yes" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="">
                            <input type="radio" name="PurchaseYes" value="Purchase No" id="" >
                            No</label> 
                        </div>
						   
						
						
						
							<div class="row animated  bounceInRight" style="display:none;"  id="PurchaseClickYes">
						  <div class="col-md-12">
						 
						   <div class="col-xs-2">
					        <label for=""> New Car Registration No</label>
					        <input class="form-control" id="" name="vehicleRegNo" type="text">
					      </div>
					         <div class="col-xs-2">
					        <label for=""> Brand</label>
					        <input class="form-control" id="" name="variant" type="text">
					      </div>
					         <div class="col-xs-2">
					        <label for=""> Model</label>
					        <input class="form-control" id="" name="model" type="text">
					      </div>
					      <div class="col-xs-2">
					        <label for=""> Dealership Name</label>
					        <input class="form-control" id="" name="dealershipName" type="text">
					      </div>
					      <div class="col-xs-3">
					        <label for=""> Purchase Date</label>
					        <input class="form-control datepickerPrevious" name="saleDate" id="" type="text" readonly>
					      </div>
						  </div>
					
						   
						  </div>
							  </div>  
						  <div class="pull-right">
				 <button type="button" class="btn btn-primary" value="" id="BackToPleaseComfNewOwnre">Back</button>
					<button type="button" class="btn btn-primary" value="" id="nextToFinalEditInfoVS">next</button>
                </div>
						</div>
						
 	<div class="row animated  bounceInRight" id="VehicelSoldQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio3" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio3" value="" id="">
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				<button type="button" class="btn btn-primary" id="BackToVSHVNewCar">Back</button>
                 <button type="submit" class="btn btn-primary" value="vehicleSold" name="typeOfsubmit" id="vehicleSold" />Submit</button>
                </div>
                      </div>
                      
					  
					
						
						<div class="checkbox Dissatisfiedwithpreviousservice">
						  <label>
							<input type="checkbox" class="NoService" name="renewalNotRequiredReason" onclick="advisorBasedOnWorkshop();" value="Dissatisfied with previous service" id="Dissatisfiedwithpreviousservice" >
							Dissatisfied with previous service</label>
						</div>

						<div class="row animated  bounceInRight" style="display:none;"  id="txtDissatisfiedwithpreviousservice">
						  <div class="col-md-12">
							
							  <div class="col-md-3">
								<div class="form-group">
								  <label for="lastServiceDateOfDWPS"><b>Last Service Date<b></label>
								 <input type="text" name="lastServiceDateOfDWPS" value="@{vehicleData.getLastServiceDate()}" class="form-control datepickerPrevious" />
								</div>
							  </div>
							   <div class="col-md-3">
								<div class="form-group">
								  <label for=""><b>Service Advisor ID<b></label>
								  <input type="text" name="serviceAdvisorID" value="@{if(latestService.getServiceAdvisor()!=null){latestService.getServiceAdvisor().getAdvisorName()}}" class="form-control"/> 
								</div>
							  </div>
							  
							  <div class="col-md-3">
								<div class="form-group">
								  <label for=""><b>Service Type<b></label>
								  <input type="text" name="lastServiceType" class="form-control"/> 
								</div>
							  </div>
							  <div class="col-md-3">
								<div class="form-group">
								  <label for=""><b>Assigned To<b></label>								  
								  <select class="form-control" name="assignedToSA">
								  <option value=1>@{userData.getCreManager()}</option>					  
						
								  </select>
								</div>
							  </div>
							
						   
						  </div>
						  <div class="pull-right" >
				
                  <button type="button" class="btn btn-primary" value="" id="NextDisatisfiedPrPopup"/>Next</button>
                </div>
						</div>
							<div class="row animated  bounceInRight" id="DisatisfiedPreQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio1" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio1" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				<button type="button" class="btn btn-primary " id="BackToDissatisfiedPreviosInc">Back</button>
                  <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="dissatifiedwithPreviousService"/>Submit</button>
                </div>
                      </div>
                      
					  
						<div class="checkbox Distancefrom">
						  <label>
							<input type="checkbox" class="NoService" name="renewalNotRequiredReason" value="Distance from Dealer Location" id="Distancefrom" >
							Distance from Dealer Location</label>
						</div>
						<div style="display:none;" class="animated  bounceInRight" id="DistancefromDealerLocationDIV">
						 <div class="col-md-12">
						  <div class="radio">
							<label>
							  <input type="radio" name="DistancefromDealerLocationRadio" value="Transfer to other city" id="TransfertoothercityID" >
							  Transfer to other city</label>
						  </div>
						  </div>
						  <div class="animated  bounceInRight" style="display:none;" id="txtTransfertoothercity">
						  <div class="col-md-12">
							<div class="col-md-3">
							<label for="transferedCity"><b>Enter name of the city<b></label>							
									<select class="form-control" name="transferedCity">
									@for(location_list<-locationList){
                                        <option value="@location_list.getName()">@location_list.getName()</option>
                                        }									
									<option value="Others">Others</option>									
									</select>
						   
						  </div>
						  </div>
						  </div>
						   <div class="col-md-12">
						  <div class="radio">
							<label>
							  <input type="radio" name="DistancefromDealerLocationRadio" value="Too far" id="ToofarID" onclick="ajaxgetDealerOEM();">
							  Too far(Same city)</label>
						  </div>
						  </div>
						  <div class="animated  bounceInRight" style="display:none;"  id="txtToofar">
							<div class="col-md-12">
							 
								<div class="col-md-3">
								  <label for=""><b>Enter PIN of the city<b></label>
								  <input type="text" name="pinCodeOfCity" class="form-control numberOnly" maxlength="6" />
								</div>
							  
							  
								<div class="col-md-9">
								  <label for=""><b>Would you like to opt for <input type="text" id="oemvalue" style="border:none" readonly/><b></label>
								  <br>
								  <div class="radio-inline">
									<label>
									  <input type="radio" name="optforMMS" value="yes" id="EnterPINthecityID" >
									  Yes</label>
								  </div>
								  <div class="radio-inline">
									<label>
									  <input type="radio" name="optforMMS" value="No" id="EnterPINofthecityID" >
									  NO</label>
								  </div>
								</div>
							
							</div>
						  </div>
				 <div class="pull-right" >
				    <button type="button" class="btn btn-primary" value="" id="NextDistanceForPopup"/>Next</button>
                </div>
						</div>
						<div class="row animated  bounceInRight" id="DistanceFoRRQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio4" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio4" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
					  
					  
				<button type="button" class="btn btn-primary " id="BackToDissatisfiedDelaerLoc">Back</button>
                  <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="dissatifiedwithPreviousServices"/>Submit</button>
                </div>
                      </div>
                      
						
						
						<div class="checkbox DissatisfiedwithSalesID">
						  <label>
							<input type="checkbox" class="NoService" name="renewalNotRequiredReason" onclick="ajaxLeadOnDissatisfiedWithSales(7);" value="Dissatisfied with Sales" id="DissatisfiedwithSalesID" >
							Dissatisfaction with Sales</label>
 						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="DissatisfactionwithSalesREmarksDiv">
						  <div class="col-md-12">
							
							  <div class="col-md-3">
								<label for="">Tag to</label>
								<select class="form-control" id="noServiceReasonTaggedTo" name="noServiceReasonTaggedTo">
								  <option value="select">select</option>
								  
								</select>
							  </div>
							
							  <div class="col-md-3">
								<label for="">Remarks</label>
								<textarea type="text" rows="1" name="noServiceReasonTaggedToComments" class="form-control"></textarea>
							  </div>
							
						  </div>
						   <div class="pull-right" >
				    <button type="button" class="btn btn-primary" value="" id="NextDisSatisSalePopup"/>Next</button>
                </div>
						</div>
						<div class="row animated  bounceInRight" id="DisstisFiedSaleRQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio5" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio5" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				
				<button type="button" class="btn btn-primary" id="backToDissSatiSalse"/>Back</button>
                  <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="dissatifiedwithPService"/>Submit</button>
                </div>
                      </div>
					  
						<div class="checkbox DissatisfiedwithInsuranceId">
						  <label>
							<input type="checkbox"  class="NoService" name="renewalNotRequiredReason" onclick="ajaxLeadOnDissatisfiedWithSales(1);" value="Dissatisfied with Insurance" id="DissatisfiedwithInsuranceId" >
							Dissatisfaction with Insurance</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="DissatisfactionwithInsuranceREmarksDiv">
						  <div class="col-md-12">
							
							  <div class="col-md-3">
								<label for="">Tag the case to</label>
								<select class="form-control" id="noServiceReasonTaggedTo1" name="noServiceReasonTaggedTo1">
								  <option value="select">select</option>
								</select>
							  </div>
							  <div class="col-md-3">
								<label for="">Remarks</label>
								<textarea type="text" rows="1" name="noServiceReasonTaggedToComments1" class="form-control"></textarea>
							  </div>
							
						   
						  </div>
						  <div class="pull-right" >
				    <button type="button" class="btn btn-primary" value="" id="NextDisSatInsurancPopup"/>Next</button>
                </div>
						</div>
								<div class="row animated  bounceInRight" id="DisstisInsurancQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio6" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio6" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				<button type="button" class="btn btn-primary" value="" id="bsckTodisInsu"/>Back</button>
                  <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="dissatifiedwithService"/>Submit</button>
                </div>
                      </div>
					  
					  
						 <div class="checkbox Stolen">
						  <label>
							<input type="checkbox"  class="NoService" name="renewalNotRequiredReason" value="Stolen" id="Stolen" >
							Stolen</label>
							
						</div>
						
						 <div class="checkbox Totalloss">
						  <label>
							<input type="checkbox"  class="NoService" name="renewalNotRequiredReason" value="Total loss" id="Totalloss" >
							Total loss/Damaged</label>
							
						</div>
						<div class="pull-right" style="display:none;" id="stolenHideShowSubmit">
				    <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="stolenDamageSubmit"/>Submit</button>
                </div>
						
						
						<div class="checkbox OtherLast">
						  <label>
							<input type="checkbox"  class="NoService" name="renewalNotRequiredReason" value="Other Service" id="Other" >
							Other</label>
						</div>
						<div class="animated  bounceInRight" style="display:none;" id="OtherSeriveRemarks">
						  
						   <div class="col-md-3">
							  <label for="comments">Enter other reason for no service</label>
							  <textarea class="form-control" rows="1" id="commentsOtherRemarks" name="reason" ></textarea>
						   </div>
						 
						 	  <div class="pull-right" >
				    <button type="button" class="btn btn-primary" value="" id="NextOthersPopup"/>Next</button>
                </div>
						</div>
					<div class="row animated  bounceInRight" id="OthersLastQuestion" style="display:none;">
				      <div class="col-md-12">
                      <div class="col-md-12">
                        <label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
                        <br>
                        <div class="radio-inline">
                          <label for="feedbackYes">
                            <input type="radio" name="radio8" value="" data-toggle="modal" data-target="#addBtn" id="" >
                            Yes</label>
                        </div>
                        <div class="radio-inline">
                          <label for="feedbackNo">
                            <input type="radio" name="radio8" value="" id="" >
                            No</label> 
                        </div>
                      </div>
                      </div>
                      <div class="pull-right" >
				<button type="button" class="btn btn-primary" id="BacktoOtherInsu">Back</button>
                  <button type="submit" class="btn btn-primary" value="dissatifiedwithPreviousService" name="typeOfsubmit" id="vehicleSoldStolen"/>Submit</button>
                </div>
                      </div>
					
					</div>
				</div>
						</div>
<!--Out Bound Upsel Opportunity---------->
			
		
	 
			
		  <div class="col-md-4" id="NoComments" style="display:none;">
			<div class="row">
			  <label for="comments"><b>Remarks<b></label>
			  <textarea class="form-control" rows="2" id="comments" name="comments"></textarea>
			</div>
		  </div>
		 
		
<!--  Inbound Call-->



				  
				  