@(profileList: java.util.List[org.pac4j.core.profile.CommonProfile])
@import scala.collection.JavaConverters._
@profiles() = { @profileList.toList }
<h1>protected area</h1>
<a href="..">Back</a><br />
<br /><br />
profiles: @profiles<br />