@(dealercode:String,dealerName:String,userName:String,oem:String)
@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode,oem) {

<script type="text/javascript">
  $(document).ready(function() {
    $('#customerSearchTable').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,
        "ajax": "/searchByCustomerv2"
        
    } );
} );
</script>	
	
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">Customer Search</div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
      <table class="table table-striped table-bordered table-hover" id="customerSearchTable">
                                    <thead>
                                 <tr>
                                    
                                    <th>Customer Name</th>
                                    <th>Vehicle RegNo.</th>
                                    <th>Category</th>                                   
                                    <th>Phone Number</th>                                    
                                    <th>Next Service Date</th>
                                    <th>Model</th>
                                    <th>Variant</th>
                                    <th>Last Disposition</th>
                                    <th></th>
                                 </tr>
                              </thead>
                                <tbody>
                                   
                   </tbody>
           </table>
        </div>
      </div>
    </div>
  </div>
</div>

}