
@(dealercode:String,dealerName:String,userName:String,complaintData:List[Complaint],compalintDataclosed:List[Complaint])

@mainPageCREManger("WyzConnectADCC",userName,dealerName) {
<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align:center;">   
     <b>OPEN COMPLAINTS</b></div>
		<div class="panel-body">
	 <div class="table-responsive">	
<table  class="table table-striped table-bordered nowrap    example321" cellspacing="0">
  
        <thead>
            <tr>
                <th>COMPLAINT No.</th>
                <th>STATUS</th>
                <th>ISSUE DATE</th>
                <th>AGING (Days)</th>
                <th>REGISTERED BY</th>
                <th>SOURCE</th>
                <th>FUNCTION</th>
                <th>CATEGORY</th>
                <th>VEHICLE No.</th>
                <th>MOBILE No.</th>
                <th>ASSIGNED TO</th>
            </tr>
        </thead>
       
        <tbody>
               @for(post <- complaintData) {
<!--            <tr class="rowclass@post.getComplaintNumber()" value="@post.getComplaintNumber()" id="@post.getComplaintNumber()">
                <td class="complaintNum" id="tdclass@post.getComplaintNumber()">@post.getComplaintNumber()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getComplaintStatus()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getIssueDate()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getAgeOfComplaint()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getWyzUser().getUserName()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getFunctionName()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getSourceName()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getSubcomplaintType()</td>
                <td class="veh_num" id="tdclass@post.getComplaintNumber()">@post.getVehicleRegNo()</td>
                <td id="tdclass@post.getComplaintNumber()">@post.getCustomerPhone()</td>
                <td>dfgdfg</td>
                <td><a href="" class="comp@post.getComplaintNumber()" value="@post.getComplaintNumber()" data-id="@post.getComplaintNumber()" data-toggle="modal"  data-target="#OpenComplaintPopup" onclick="ajaxcomplaintNumber();" ><i class="fa fa-arrow-circle-right"></i>&nbsp;View</a></td>
                
            </tr>
            -->
            <tr id="rowclass" class="@post.getComplaintNumber()">
                            <td id="compNum" >@post.getComplaintNumber()</td>
                            <td id="status">@post.getComplaintStatus()</td>
                            <td id="issueDate">@post.getIssueDate()</td>
                            <td id="x">@post.getAgeOfComplaint()</td>
                            <td id="userName">@post.getWyzUser().getUserName()</td>
                            <td id="y">@post.getFunctionName()</td>
                            <td id="z">@post.getSourceName()</td>
                            <td id="a">@post.getSubcomplaintType()</td>
                            <td id="vREgNO">@post.getVehicleRegNo()</td>
                            <td id="custPhone">@post.getCustomerPhone()</td>
                            <td></td>


            </tr>

            }
            </tbody>
            </table>
                </div>
    </div>
  </div>
</div>
</div>
                
                   <div class="panel panel-primary">
      <div class="panel-heading"  style="text-align:center;">   
           <b>CLOSED  COMPLAINTS</b></div>
		<div class="panel-body">
	<div class="table-responsive">	     
<!--         <table id="baseTableClosed" class="table table-striped table-bordered baseTableOpen" cellspacing="0" width="100%">-->
                <table class="table table-striped table-bordered nowrap  example321" cellspacing="0" >
        <thead>
            <tr>
                <th>COMPLAINT No.</th>
                <th>STATUS</th>
                <th>ISSUE DATE</th>
                <th>AGING (Days)</th>
                <th>REGISTERED BY</th>
                <th>SOURCE</th>
                <th>FUNCTION</th>
                <th>CATEGORY</th>
                <th>VEHICLE No.</th>
                <th>MOBILE No.</th>
                <th>ASSIGNED TO</th>
            </tr>
        </thead>
  
          <tbody>
               @for(post <- compalintDataclosed) {

            <tr id="rowclass" class="rowclass@post.getComplaintNumber()">
                            <td id="compNumclosed" >@post.getComplaintNumber()</td>
                            <td id="statusclosed">@post.getComplaintStatus()</td>
                            <td id="issueDateclosed">@post.getIssueDate()</td>
                            <td id="xclosed">@post.getAgeOfComplaint()</td>
                            <td id="userNameclosed">@post.getWyzUser().getUserName()</td>
                            <td id="yclosed">@post.getFunctionName()</td>
                            <td id="zclosed">@post.getSourceName()</td>
                            <td id="aclosed">@post.getSubcomplaintType()</td>
                            <td id="vREgNOclosed">@post.getVehicleRegNo()</td>
                            <td id="custPhoneclosed">@post.getCustomerPhone()</td>
                            <td></td>

                        </tr>

            }
            </tbody>
            </table>
            
   </div>
   </div>
                   </div>



  <!-- Open Complain Popup -->
  <div class="modal fade" id="OpenComplaintPopup" role="dialog">
    <div class="modal-dialog modal-lg">
     <input type="text" name="bookId" id="bookId" value="" />

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          
          
<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;"><b>OPEN COMPLAINT RESOLUTION FORM<b></div>
        <div id="" class="panel">
		
            <div class="panel-body">
            <h4 style="color: #E80B0B;"><b>CUSTOMER DETAILS :<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> VEHICLE NUMBER*:</strong></td>
                      <td id="veh_num_pop"class="text-primary"></td>
                    </tr>
                   
                    <tr>
                      <td><strong>CUSTOMER NAME:</strong></td>
                      <td id="cust_name_pop"class="text-primary"></td>
                    </tr>
                 
                     <tr>
                       <td><strong>MOBILE No: </strong></td>
                      <td id="cust_phone_pop" class="text-primary"></td>
                    </tr>
					 
					  <tr>
                      <td><strong>EMAIL: </strong></td>
                      <td id="cust_email"class="text-primary"></td>
                    </tr> 
				
					  <tr>
                      <td><strong>ADDRESS: </strong></td>
                      <td id="addressName"class="text-primary"></td>
                    </tr>
					
						  <tr>
                      <td><strong>CHASSIS No: </strong></td>
                      <td id="chassisno"class="text-primary"></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>MODEL:</strong></td>
                      <td id="model" class="text-primary"></td>
                    </tr>
					   <tr>
                      <td><strong>VARIANT: </strong></td>
                      <td id="variant"class="text-primary"></td>
                    </tr>
					 <tr>
                      <td><strong>SALE DATE: </strong></td>
                      <td id="saledate" class="text-primary"></td>
                    </tr>
						<tr>
                      <td><strong>LAST SERVICE: </strong></td>
                      <td id="lastserv"class="text-primary"></td>
                    </tr>
						  <tr>
                      <td><strong>SERVICE ADVISOR : </strong></td>
                      <td id="serviceadvisor"class="text-primary"></td>
                    </tr>
						  <tr>
                      <td><strong>WORKSHOP: </strong></td>
                      <td class="text-primary"></td>
                    </tr>
					
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
			   <h4 style="color: #E80B0B;"><b>COMPLAINT INFORMATION:<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> FUNCTION:</strong></td>
                      <td class="text-primary"> </td>
                    </tr>
                   
                    <tr>
                      <td><strong>CATEGORY:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
					  <tr>
                      <td rowspan="2"><strong>DESCRIPTION:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
                 
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>SOURCE:</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					   <tr>
                      <td><strong>SUB CATEGORY 1: </strong></td>
                      <td class="text-primary"></td>
                    </tr>
				
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
			     <h4 style="color: #E80B0B;"><b>ASSIGN COMPLAINT :<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> CITY:</strong></td>
                      <td class="text-primary"> </td>
                    </tr>
                   
                    <tr>
                      <td><strong>OWNERSHIP:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
					  <tr>
                      <td><strong>ESCALATION 1:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
                 
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>FUNCTION:</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					   <tr>
                      <td><strong>PRIORITY: </strong></td>
                      <td class="text-primary"></td>
                    </tr>
					 <tr>
                      <td><strong>ESCALATION 2:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
                 
				
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
              
           <div class="row">
              
              	<h4 style="color: #E80B0B;"><b>COMPLAINT RESOLUTION<b></b></b></h4>
              	 <div class="col-lg-3">
               <div class="form-group">
                <label for="reasonfor">REASON FOR </label>
                <input type="text" id="reasonfor"class="form-control" name="reasonfor"  autocomplete="off" />
              </div>
            </div>
           <div class="col-lg-3">
               <div class="form-group">
                <label for="complaintStatus">COMPLAINT STATUS</label>
                
                <select id="complaintStatus" class="form-control" name="complaintStatus">
                    
                    <option value="Closed">Closed</option>
                     <option value="Open">Open</option>
                    
                </select>
              </div>
            </div>
             <div class="col-lg-3">
               <div class="form-group">
                <label for="customerStatus">CUSTOMER STATUS</label>
                
                 <select id="customerStatus" class="form-control" name="customerStatus">
                    
                    <option value="Satisfied">Satisfied</option>
                     <option value="Dissatisfied">Dissatisfied</option>
                    
                </select>
              </div>
            </div>
            
             <div class="col-lg-3">
               <div class="form-group">
                <label for="actionTaken">ACTION TAKEN </label>
                <input type="text" id="actionTaken"class="form-control" name="actionTaken"   autocomplete="off" />
              </div>
            </div>
            
             <div class="col-lg-3">
               <div class="form-group">
                <label for="resolutionBy">RESOLUTION By: </label>
                <input type="text" id="resolutionBy"class="form-control" name="resolutionBy" value="@userName" autocomplete="off" />
              </div>
            </div>
           
              </div>
                
           
		
            </div>
        </div>
    </div>
    
  <div class="text-right">
  <button type="button" id="resolve_save" class="btn btn-success resolve_save" data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

       
    </div>
        </div>
        
      </div>
      
    </div>
  </div>
  
  <!-- Closed complaint Popup -->
    <div class="modal fade" id="ClosedComplaintPopup" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          
          
<div class="panel-group">
  
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;"><b>CLOSED COMPLAINT RESOLUTION FORM<b></div>
        <div id="" class="panel">
		
            <div class="panel-body">
            
            
            
            
            
        <h4 style="color: #E80B0B;"><b>CUSTOMER DETAILS :<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> VEHICLE NUMBER*:</strong></td>
                      <td id="veh_num_popClosed"class="text-primary"></td>
                    </tr>
                   
                    <tr>
                      <td><strong>CUSTOMER NAME:</strong></td>
                      <td id="cust_name_popClosed"class="text-primary"></td>
                    </tr>
                 
                     <tr>
                       <td><strong>MOBILE No: </strong></td>
                      <td id="cust_phone_popClosed" class="text-primary"></td>
                    </tr>
					 
					  <tr>
                      <td><strong>EMAIL: </strong></td>
                      <td id="cust_emailClosed"class="text-primary"></td>
                    </tr> 
				
					  <tr>
                      <td><strong>ADDRESS: </strong></td>
                      <td id="addressNameClosed"class="text-primary"></td>
                    </tr>
					
						  <tr>
                      <td><strong>CHASSIS No: </strong></td>
                      <td id="chassisnoClosed"class="text-primary"></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>MODEL:</strong></td>
                      <td id="modelClosed" class="text-primary"></td>
                    </tr>
					   <tr>
                      <td><strong>VARIANT: </strong></td>
                      <td id="variantClosed"class="text-primary"></td>
                    </tr>
					 <tr>
                      <td><strong>SALE DATE: </strong></td>
                      <td id="saledateClosed" class="text-primary"></td>
                    </tr>
						<tr>
                      <td><strong>LAST SERVICE: </strong></td>
                      <td id="lastservClosed"class="text-primary"></td>
                    </tr>
						  <tr>
                      <td><strong>SERVICE ADVISOR : </strong></td>
                      <td id="serviceadvisorClosed"class="text-primary"></td>
                    </tr>
						  <tr>
                      <td><strong>WORKSHOP: </strong></td>
                      <td id="workshopClosed" class="text-primary"></td>
                    </tr>
					
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
			   <h4 style="color: #E80B0B;"><b>COMPLAINT INFORMATION:<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> FUNCTION:</strong></td>
                      <td id="functionClosed" class="text-primary"> </td>
                    </tr>
                   
                    <tr>
                      <td><strong>CATEGORY:</strong></td>
                      <td id=""complaintTypeClosed class="text-primary"></td>
                    </tr>
					  <tr>
                      <td rowspan="2"><strong>DESCRIPTION:</strong></td>
                      <td  id="descriptionClosed"class="text-primary"></td>
                    </tr>
                 
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>SOURCE:</strong></td>
                      <td id="sourceClosed"class="text-primary">  </td>
                    </tr>
					   <tr>
                      <td><strong>SUB CATEGORY 1: </strong></td>
                      <td id="subcomplaintTypeClosed"class="text-primary"></td>
                    </tr>
				
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
			     <h4 style="color: #E80B0B;"><b>ASSIGN COMPLAINT :<b></h4>      
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				
                    <tr>
                      <td><strong> CITY:</strong></td>
                      <td class="text-primary"> </td>
                    </tr>
                   
                    <tr>
                      <td><strong>OWNERSHIP:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
					  <tr>
                      <td><strong>ESCALATION 1:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
                 
                    </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
				   
                  <tr>
                      <td><strong>FUNCTION:</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					   <tr>
                      <td><strong>PRIORITY: </strong></td>
                      <td class="text-primary"></td>
                    </tr>
					 <tr>
                      <td><strong>ESCALATION 2:</strong></td>
                      <td class="text-primary"></td>
                    </tr>
                 
				
					
                    
                  </tbody>
                </table>
                </div>
                           
              </div>
              
           <div class="row">
              
              	<h4 style="color: #E80B0B;"><b>COMPLAINT RESOLUTION<b></b></b></h4>
              	 <div class="col-lg-3">
               <div class="form-group">
                <label for="reasonforClosed">REASON FOR </label>
                <input type="text" id="reasonforClosed"class="form-control" name="reasonforClosed"  autocomplete="off" />
              </div>
            </div>
           <div class="col-lg-3">
               <div class="form-group">
                <label for="complaintStatusClosed">COMPLAINT STATUS</label>
                <input type="text" id="complaintStatusClosed"class="form-control" name="complaintStatusClosed"   autocomplete="off" />
              </div>
            </div>
             <div class="col-lg-3">
               <div class="form-group">
                <label for="customerStatusClosed">CUSTOMER STATUS</label>
                <input type="text" id="customerStatusClosed"class="form-control" name="customerStatusClosed"   autocomplete="off" />
              </div>
            </div>
            
             <div class="col-lg-3">
               <div class="form-group">
                <label for="actionTakenClosed">ACTION TAKEN </label>
                <input type="text" id="actionTakenClosed"class="form-control" name="actionTakenClosed"   autocomplete="off" />
              </div>
            </div>
            
             <div class="col-lg-3">
               <div class="form-group">
                <label for="resolutionByClosed">RESOLUTION By: </label>
                <input type="text" id="resolutionByClosed"class="form-control" name="resolutionByClosed" value="@userName" autocomplete="off" />
              </div>
            </div>
           
              </div>
                
           
		
            </div>
        </div>
    </div>
    
  <div class="text-right">
  <button type="button" id="resolve_save_closed" class="btn btn-success resolve_save_closed" data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

       
    </div>
        </div>
        
      </div>
      
    </div>
  </div>

  <script>
    $(document).ready(function() {
    $('.example321').DataTable();
     responsive: true
} );
</script>
    

 


}


