@(ajaxData:List[String],bookeddata:controllers.webmodels.BookedLineChartData,returnData:controllers.webmodels.PieChartCallTypeData,dealercode:String,dealerName:String,userName:String,form:Form[WyzUser])
@import models._
@import helper._
@import scala._
@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode) {
<input type="hidden" id="piechartdata" value='@returnData.missedCallCount'>
<input type="hidden" id="piechartdata1" value='@returnData.outgoingCallCount'>
<input type="hidden" id="piechartdata2" value='@returnData.incomingCallCount'>

<input type="hidden" id="areachartdata1" value='@bookeddata.callList'>
<input type="hidden" id="areachartdata2" value='@bookeddata.bookedList'>

<input type="hidden" id="indexBox1" value='@ajaxData'>


<div class="panel panel-default">
  <div class="panel-heading">Chart Reports</div>
  <div class="panel-body">
    <div class="row">
      <!-- <div class="col-md-5"> 
        
        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">Pi Chart</h3>
          </div>
          <div class="box-body">
            <canvas id="pieChartForCRE" style="height:250px"></canvas>
          </div>
        </div>
      </div> -->
      <div class="col-md-8"> 
        <!-- AREA CHART -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Calls made vs Service Booked</h3>
          </div>
          <div class="box-body">
            <div class="chart">
              <canvas id="areaChartForCRE" style="height:250px"></canvas>
            </div>
          </div>
        </div>
      </div>
   <!--  <div class="col-md-2"> 
       
        <div class="box box-primary">
          <div class="panel panel-default">
            <div class="panel-heading"> <a href="#" class="pull-right"> <em class="icon-plus text-muted"></em> </a>Contacts</div>
            <div class="list-group"> 
             
              <a href="#" class="media p mt0 list-group-item" > <span class="pull-right"> <span class="circle circle-success circle-lg"></span> </span> <span class="media-body"> <span class="media-heading"> <strong>@{userName}</strong> <br>
              <small class="text-muted">Agent</small> </span> </span> </a> 
             
              <a href="#" class="media p mt0 list-group-item text-center text-muted">View all contacts</a> </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
}
 <script type="text/javascript">
 window.onload = ajaxRequestPieChartForCRE; 
</script>