
@(dealercode:String,dealerName:String,userName:String,oem:String)

@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode,oem) {
@helper.form(routes.CallInteractionController.postAddCustomer() ,'id -> "form1")  {

<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">   
        Add Customer </div>
		<div class="panel-body">
            <div class="col-lg-3">
              <div class="form-group">
                <label for="customerName">Customer Name<i style="color:red">*</i>:</label>
                <input type="text" class="form-control textOnlyAccepted" name="customerName"  id="customerName" autocomplete="off"  required/>
              </div>
            </div>
             <div class="col-lg-3">             
              <div class="form-group">
                <label for="customerPhone">Customer Phone:<i style="color:red">*</i></label>
                <input type="text" class="form-control numberOnly" maxlength="10" name="phoneNumber" id="customerPhone" autocomplete="off" required/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="customerEmail">Customer Email:</label>
                <input type="text" class="form-control" name="emailAddress" id="customerEmail" autocomplete="off"  required/>
              </div>
            </div>
           <div class="col-lg-3">
              <div class="form-group">
                <label for="customerAddress">Customer Address :</label>
                <input type="text" class="form-control" name="addressLine1" id="customerAddress" autocomplete="off"  required/>
              </div>
            </div>
           <!--   <div class="col-lg-3">
              <div class="form-group">
                <label for="vehicleNumber">Vehicle Number :</label>
                <input type="text" class="form-control" name="vehicleNumber" id="vehicleNumber" autocomplete="off"  required/>
              </div>
            </div> -->
          <div class="col-lg-3">
              <div class="form-group">
                <label for="vehicleRegNo">Vehicle Reg No :<i style="color:red">*</i></label>
                <input type="text" class="form-control" name="vehicleRegNo" id="vehicleRegNo" autocomplete="off"  required/>
              </div>
            </div>
            
             <div class="col-lg-3">
              <div class="form-group">
                <label for="chassisNo">Chassis No :<i style="color:red">*</i></label>
                <input type="text" class="form-control" name="chassisNo"  id="chassisNo" autocomplete="off"  required/>
              </div>
            </div>
            
            <div class="col-lg-3">
              <div class="form-group">
                <label for="model">Model :<i style="color:red">*</i></label>
                <input type="text" class="form-control" name="model"  id="model" autocomplete="off"  required/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="milege">Mileage :<i style="color:red">*</i></label>
                <input type="text" class="form-control numberOnly" name="milege" maxlength="6" id="milege" autocomplete="off"  required/>
              </div>
            </div> 
            <div class="col-lg-3">                  
             <div class="form-group">
                <label for="">&nbsp;</label>
             <input type="button" class="btn btn-primary btn-block" onclick="return validatingCustomerForm()" value="Submit" />
       
      </div>
      
        </div>
        
        </div>
     </div>
     </div>
     
     </div>
     
    
     }
     }
     
        <script>
            
            function validatingCustomerForm(){
			
			var custName=$("#customerName").val();
			var custPhone=$("#customerPhone").val();
			var custRegn=$("#vehicleRegNo").val();
			var custModel=$("#model").val();
			var custMilege=$("#milege").val();
				if(custName=='' && custPhone=='' && custRegn=='' && custModel=='' && custMilege==''){
			Lobibox.notify('warning', {
							continueDelayOnInactiveTab: true,
							msg: 'Please Enter The Mandatory Fields .'
						});
						return false;
			
		}
		
		else if(custName==''){
			Lobibox.notify('warning', {
							continueDelayOnInactiveTab: true,
							msg: 'Please Enter Name'
						});
						return false;
			
		}
		else if(custPhone==''){
			Lobibox.notify('warning', {
							continueDelayOnInactiveTab: true,
							msg: 'Please Enter Phone Number'
						});
						return false;
			
		}
		else if(custPhone.length < 10 ){
			
		
			Lobibox.notify('warning', {
							continueDelayOnInactiveTab: true,
							msg: 'Invalid Phone No.'
						});
						
						return false;
						
						
			
		}
		else if(custRegn==''){
			Lobibox.notify('warning', {
							continueDelayOnInactiveTab: true,
							msg: 'Please Enter Registration No.'
						});
						return false;
			
		}
			else if(custModel==''){
			Lobibox.notify('warning', {
							continueDelayOnInactiveTab: true,
							msg: 'Please Enter Model No.'
						});
						return false;
			
		}
			else if(custMilege==''){
			Lobibox.notify('warning', {
							continueDelayOnInactiveTab: true,
							msg: 'Please Enter Milege'
						});
						return false;
			
		}
			
			
			else{
			
			}
			 
               var vehicleReg= document.getElementById("vehicleRegNo").value;
               

              // alert(vehicleReg);
               var urlDisposition = "/CRE/vehicleRegNoExist/" + vehicleReg + "";
               $.ajax({
                   url: urlDisposition

               }).done(function (data) {

                   if (data > 0) {

                	   Lobibox.notify('error', {
						msg: 'This Vehicle Reg no already exist cannot add to database'
						});
						return false;
           		    		        

                   }else{
                	   document.getElementById('form1').submit();
                	   Lobibox.notify('info', {
   						msg: 'Submitted successfully!'
   						});

                	   
   						return true;

                       }
               });
               
               }
    
  
  $('.numberOnly').keypress(function (e) {
		
        if (isNaN(this.value + "" + "." + String.fromCharCode(e.charCode))) {
					return false;
        }

    });
	
	$(".textOnlyAccepted").keypress(function (e) {
            var code = e.keyCode || e.which;
            if ((code < 65 || code > 90) && (code < 97 || code > 122) && code != 32 && code != 46)
            {
                 return false;
            }
        });
    

   
    
</script>