

@(dealerName:String,user:String)

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

@helper.form(action = routes.CallInteractionController.toUploadInteractionsByCREManager(),'enctype -> "multipart/form-data"){
  
      <div class="panel panel-info">
        <div class="panel-heading"><strong>Call Interactions Upload</strong></div>
        <div class="panel-body">
        <div class="row">
            
            <div class=col-md-8>
                  <h4>Select file from your computer</h4>
          
            <div class="form-inline">
              
             <div class="form-group">
                <input type="file" name="uploadfiles" id="js-upload-files" multiple>
               
                <span id="lblError" style="color: red;"></span>
                
              </div>
             
              <button type="submit" class="btn btn-sm btn-primary" id='js-upload-submit' name="selectedFile">Add Interactions</button>
             
            </div>
            </div>
        </div>
               					
          </div>
        </div>
    }
    
   
    
}

