
@(fromDateValue:String,toDateValue:String,user:String,dealerName:String,allCRE:List[String],allDisposition:List[CallDispositionData],locations:List[String],allworkshops:List[String])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

<input type="hidden" name="fromDateToAss" value="@fromDateValue">
<input type="hidden" name="toDateToAss" value="@toDateValue">
<div class="panel panel-primary">
        <div class="panel-heading"><strong>Select Date Range To view Call Interactions</strong></div>
        <div class="panel-body"> 
             @helper.form(action = routes.AllCallInteractionController.downloadCallHistoryReport) {
  <div class="row">
  <div class="col-md-2">   
      <div class="form-group">
        
<label>Call Date From :<span style="color:red">*</span></label>    
	   
		<input type="text" class="form-control datepickerFilter" placeholder="Enter Call Date From" id="frombilldaterange" name="frombilldaterange" readonly required>
      </div>
      </div>
  
   <div class="col-md-2">   
      <div class="form-group">   
       <label>Call Date To :<span style="color:red">*</span></label>    
					<input type="text" class="form-control datepickerFilter" placeholder="Enter Call Date To"  id="tobilldaterange" name="tobilldaterange" readonly required>
     	</div>
      </div>

   
        <div class="col-md-2">
   
                    <label>Select Location :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="location"  name="location" class="selectpicker  form-control" onchange="workshopsBasedOnLocations(this);"> 
    	                       	     
                     	@for(data3 <- locations){                       	                         
                    
                        <option value="@data3">@data3</option>
                      	
                      	}	  	
                    	</select>	
                    	<span type="label" id="locationERR" style="color:red"></span>	
           
      </div>
       </div>
       
       <div class="col-md-2">
   
                    <label>Select Workshops :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple" id="workshopname"  name="workshopname" class="selectpicker form-control" onchange="cresBasedOnLocations(this);"> 
    	                       	     
                     	  	
                    	</select>
                    	
           
      </div>
       </div>
       
       <div class="col-md-2">
   
                    <label>Select Booked Workshop :</label>
                     <div class="form-group">
    	  	<select id="workshopnames"  name="workshopnames" class="selectpicker form-control"> 
    	                <option value="select">Select</option>
                     	  	@for(data <- allworkshops){                 
                        <option value="@data">@data</option>
                        }
        	</select>
      </div>
       </div>
       
       <div class="col-md-2">
       			<label>Select Booking Status</label>
       			<div class="form-group">
       			<select id="bookingstatus" name="bookingstatus" class="selectpicker form-control">
       			    	                <option value="select">Select</option>
       			
       				<option value="Scheduled">Scheduled</option>
       				<option value="OverDue">OverDue</option>
       				<option value="Cancelled">Cancelled</option>
       				<option value="Reported">Reported</option>
       			</select>
       			</div>
       
       </div>
       </div>
       <div class="row">
       
        <div class="col-md-2">
   
                    <label>Select CRE's :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="crename"  name="crename" class="selectpicker form-control" > 
    	                       	     
                     	  	
                    	</select>
                    	<span type="label" id="crenameERR" style="color:red"></span>	
           
      </div>
       </div>
       <div class="col-md-2">
                    <label>Select Dispositions :</label>
                     <div class="form-group">
    			<select  multiple="multiple" id="all_dispositions" name="all_dispositions" class="selectpicker form-control">
                     	@for(data2 <- allDisposition){                      	                         
                        <option value="@data2.getId()">@data2.getDisposition()</option>                      				
                      	}			 	
                	</select>
                				
            </div>
             </div>
        
</div>
<div class="col-md-12">
  <div class="form-group pull-right">
  		<button type="button" name="selectedFile" class="btn btn-sm btn-primary viewCallsforReports" value="viewCalls"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;View Calls</button>		     	
  		 <button type="submit" name="downloadFile" class="btn btn-sm btn-warning"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download</button>
		</div>
</div> 
  </div>
 
  }
  </div>      
<span type="label" id="viewCallsERR" style="color:red"></span>
<div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading"><b> List Of  Call Interactions</b>
          </div>
          <div class="panel-body" style="overflow:auto">
          <table class="table table-striped table-bordered table-hover"
						id="datatableCallIntraction">
						<thead>
							<tr>

								<th>Assigned Date</th> 
                                    <th>Call Campaign</th> 
                                    <th>Call Type</th>                                   
                                    <th>Call Date</th>
                                    <th>Call Time</th>
                                    <th>CRE Name</th>
                                    <th>Chassis no</th>
                                    <th>Veh Reg No</th>
                                    <th>Model</th>
                                    <th>Customer Name</th>
                                    <th>Email ID</th>
                                    <th>Preffered Contact number</th>
                                    <th>Location DB</th>
                                    <th>Address Office</th>
                                    <th>Address Permanent</th>
                                    <th>Address Residential</th>
                                    <th>ForeCast Logic</th>
                                    <th>ForeCast Service Date</th>
                                    <th>ForeCast Service Type</th>
                                    <th>Is Call Initiated</th>
                                    <th>Ring Time</th>
                                    <th>Call Duration</th>
                                    <th>Primary Disposition</th>
                                    <th>Secondary Disposition</th>
                                    <th>Tertiary Disposition</th>
                                    <th>Follow Up Date</th>
                                    <th>Follow Up Time</th>
                                    <th>No Service Reason</th>
                                    <th>4th Disposition</th>
                                    <th>Already Service Date</th>
                                    <th>Verified with DMS</th>
                                    <th>Authorized Workshop or Not</th>
                                    <th>Already Serviced Type</th>
                                    <th>Already Serviced Dealer Name</th>
                                    <th>Already Serviced Mileage Recorded</th>
                                    <th>Transferred City</th>
                                    <th>PinCode</th>
                                    <th>Lead Source For Incoming Call</th>
                                    <th>Current Mileage</th>
                                    <th>Expected Visit Date</th>
                                    <th>Remarks1</th>
                                    <th>Remarks2</th>
                                    <th>Remarks3</th>
                                    <th>Remarks NonContact Others</th>
                                    <th>Booking Status</th>
                                    <th>Reschedule Status</th>
                                    <th>Booking Scheduled Date</th>
                                    <th>Booking Scheduled Time</th>
                                    <th>Booking Service Type</th>
                                    <th>Assigned SA</th>
                                    <th>PickUp Option</th>
                                    <th>PickUp Driver</th>
                                    <th>PickupTimeFrom</th>
                                    <th>PickupTimeUpto</th>
                                    <th>PickUp Address</th>
                                    <th>Booked Workshop</th>
                                    <th>Reported Status</th>
                                    <th>Reported Date</th>
                                    <th>Reported RO</th>
                                    <th>Last SA Name</th>
                                    <th>Last Service Date</th>
                                    <th>Last Service Type</th>
                                    <th>Is Upsell Done</th>
                                    <th>Customer Category</th>
                                    <th>Offer Validity</th>
                                    <th>Offer Details</th>
                                    <th>Offer Code</th>
                                    <th>Offer Benefit</th>
                                    <th>Offer Condition</th>
                                    <th>Is Feedback or Complaint</th>
                                    <th>Complaint For Department</th>
                                    <th>Complaint Remark</th>
                                    
                                    


							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
                     
          </div>
          <!-- /.panel-body --> 
        </div>
        <!-- /.panel --> 
      </div>
      <!-- /.col-lg-12 --> 
    </div>
}
	
<script>

	$('.viewCallsforReports').click(function(){
    	
        var fromDate     = $("#frombilldaterange").val();
        var toDate       = $("#tobilldaterange").val();
       console.log("frombilldaterange:"+frombilldaterange);
              
        var UserIds="",j,k;
        var dispositions="";
        var location ="";
        var workshop = "";
        var workshops="";
        var bookingstatus ="";
        var locations="";



        if(fromDate=='' || toDate == ''){
        	 Lobibox.notify('warning', {
                 msg: "Please Select Date range"
             });
             return false;
    	}else{
        
        myOption = document.getElementById('crename');
        console.log("here"+myOption);		        
	    for (j=0;j<myOption.options.length;j++){
	        if(myOption.options[j].selected){
	            if(myOption.options[j].value != "Select"){
	        		UserIds = UserIds + myOption.options[j].value + ",";
	            }else{
					UserIds ="";
	            }
	        }
	    }
    	/*if(UserIds.length > 0){
        	UserIds = UserIds.substring(0, UserIds.length - 1);
        	
    	}else{
    		UserIds="";
    	}*/

    	

    	mydispo = document.getElementById('all_dispositions');
        console.log("here"+mydispo);
    	 for (j=0;j<mydispo.options.length;j++){
    	        if(mydispo.options[j].selected){
    	            if(mydispo.options[j].value != "Select"){
    	        		dispositions = dispositions + mydispo.options[j].value + ",";
    	            }else{
						dispositions ="";

    	            }
        	            
    	        }
    	    }	   	
    	/* if(dispositions.length > 0){
    		 dispositions = dispositions.substring(0, dispositions.length - 1);
         	
     	}else{
     		dispositions="";
     	}*/


    	 myloc = document.getElementById('location');
         console.log("here"+myloc);
     	 for (j=0;j<myloc.options.length;j++){
     	        if(myloc.options[j].selected){
     	            if(myloc.options[j].value != "Select"){
     	        		locations = location + myloc.options[j].value + ",";
     	        		console.log("loc in view page:"+locations);
     	            }else{
						locations ="";
     	            }
     	        }
     	    }	   	
     	 /*if(location.length > 0){
     		 locations = location.substring(0, myloc.length - 1);
          	
      	}else{
      		locations="";
      	}*/

     	 myworkshop = document.getElementById('workshopname');
         
     	 for (j=0;j<myworkshop.options.length;j++){
        	 
     	        if(myworkshop.options[j].selected){
     	            if(myworkshop.options[j].value != "Select"){
     	        		workshop = workshop + myworkshop.options[j].value + ",";
     	        		
     	            }else{
     	        		workshop = "";
         	            
     	            }
     	        }
     	    }
     	console.log("here work"+workshop);	   	
     	 /*if(workshop.length > 0){
     		 workshop = workshop.substring(0, myworkshop.length - 1);
  	      	console.log("myworkshop in view page:"+workshop);
          	
      	}else{
      		workshop="";
      	}*/

     	myworkshops = document.getElementById('workshopnames');
        
    	 for (j=0;j<myworkshops.options.length;j++){
           	 
    	        if(myworkshops.options[j].selected){
    	            if(myworkshops.options[j].value != "select"){
    	        		workshops = workshops + myworkshops.options[j].value + ",";
    	        		
    	            }else{
    	        		workshops = "";
        	            
    	            }
    	        }
    	    }	   	
 	    
    	 if(workshops.length > 0){
    		 workshops = workshops;
         	
     	}else{
     		workshops="";
     	}

    	 console.log("here"+workshops);


    	 mybookingstatus = document.getElementById('bookingstatus');

    	if($("#bookingstatus :selected").val() == "select"){
   		 bookingstatus = "";

    	}else{
    		bookingstatus = $("#bookingstatus :selected").val();

    	}

console.log("bookingstatus::"+bookingstatus);
        	
     	var urlLink = "/CREManager/getAllCallHistoryData"
    	    console.log("location in link:"+workshops);
    	    $('#datatableCallIntraction').dataTable( {
    	     "bDestroy": true,
    	     "processing": true,
    	     "serverSide": true,
    	      "scrollY": 400,
 	        "scrollX": true,
    	     "paging": true,
    	     "searching": false,
    	     "ordering":false,
    	     "ajax": {
    		        'type': 'POST',
    		        'url': urlLink,
    		        'data': {    		        	
    		        	fromDate:''+fromDate,
    		        	toDate:''+toDate ,
    		        	UserIds:''+UserIds,
    		        	dispositions:''+dispositions,
    		        	locations:''+locations,
    		        	workshop:''+workshop,	       
    		        	workshops:''+workshops,
    		        	bookingstatus:''+bookingstatus	    		        	
    		        }
        	        
    	     },
    	     "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                 $('td', nRow).attr('nowrap','nowrap');
                 return nRow;
                 }
    	 } );
    	}

    });
</script>