@(toActivateTab1:String,toActivateTab2:String,toActivateTab3:String,toActivateTab4:String,toActivateTab5:String,dealercode:String,dealerName:String,userName:String,oem:String,campaignList :List[Campaign],serviceTypeList :List[ServiceTypes],bookedServiceTypeList:List[String],dispoList:List[CallDispositionData])
@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode,oem) {

<input type="hidden" id="user" value="@userName">

<input type="hidden" id="toActivateTab1" value="@toActivateTab1">
<input type="hidden" id="toActivateTab2" value="@toActivateTab2">
<input type="hidden" id="toActivateTab3" value="@toActivateTab3">
<input type="hidden" id="toActivateTab4" value="@toActivateTab4">
<input type="hidden" id="toActivateTab5" value="@toActivateTab5">

<style>
    td, th {
                
        border: 1px solid black;
        overflow: hidden; 
        text-align:center!important;
    }
</style>

<div class="row" >

        <div class="col-sm-2"> 
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><div id="FreshCallsCountCRE"><i class="fa fa-spinner fa-pulse fa-fw"></i></div></h3>
              <p>Fresh Calls</p>
            </div>
            <div class="icon"> <i class="ion-android-call"></i> </div>
             
            <!--<span class="pull-left" data-toggle="modal" data-target=".myModal1">View Details</span>--> 
          </div>
        </div>      <!-- ./col -->
        <div class="col-sm-2 col-half-offset"> 
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3><div id="followupcountCRE"><i class="fa fa-spinner fa-pulse fa-fw"></i></div></h3>
              <p>Pending Follow Ups</p>
            </div>
            <div class="icon"> <i class="ion-android-checkbox-outline"></i> </div>
            </div>
        </div>        <!-- ./col -->
        <div class="col-sm-2 col-half-offset"> 
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3><div id="nonContactsCRE"><i class="fa fa-spinner fa-pulse fa-fw"></i></div></h3>
              <p>Non Contacts</p>
            </div>
            <div class="icon"> <i class="ion-person-add"></i> </div>	
             </div>
        </div>        <!-- ./col -->
        <div class="col-sm-2 col-half-offset"> 
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3><div id="overDueCountCRE"><i class="fa fa-spinner fa-pulse fa-fw"></i></div></h3>
              <p>Over Due Bookings</p>
            </div>
            <div class="icon"> <i class="ion-android-download"></i> </div>
             </div>
        </div>
        <div class="col-sm-2 col-half-offset"> 
          <!-- small box -->
          <div class="small-box bg-yellow" style="height: 102px;">
             <div class="row"  style="margin-left:4px">
   <div class=" col-sm-12 col-xs-12">
                 
                 <h4><span id="creTotalBookingsperDay" style="font-size: 22px; font-weight: bold;"></span>&nbsp;&nbsp;&nbsp;&nbsp;Booking</h4>
  </div>
  </div>
  <p style="border-bottom:4px solid white;width:55px; margin-left:4px"></p>
 <div class="row" style="position:absolute;margin-top:-12px; margin-left:4px">
   <div class="col-sm-12 col-xs-12">
                 
                  <h4><span id="creTotalCallsperDay" style="font-size: 22px; font-weight: bold;"></span> &nbsp;&nbsp;&nbsp;&nbsp;Total Calls</h4>
</div></div>
 <div class="pull-left" style="margin-left: 100px; position: absolute; margin-top: 20px;" id="creCurrentdate">...</div>
 
           
          </div>
        </div>  
		     <!-- ./col --> 
    
</div>
<div class="row">



    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading"> <b>Call Log Information</b> </div>
            <div class="panel-body">
			<div class="panel panel-default">
                <ul class="nav nav-tabs">
                    <li><a href="#home" data-toggle="tab" id="Tab1" onclick="assignedInteractionData();">Scheduled</a> </li>
                    <li><a href="#profile" data-toggle="tab" id="Tab2" onclick="ajaxCallForFollowUpRequiredServer();">Follow Up Required</a> </li>
                    <li><a href="#messages" data-toggle="tab" id="Tab3" onclick="ajaxCallForServiceBookedServer();">Service Booked</a> </li>
                    <li><a href="#settings" data-toggle="tab" id="Tab4" onclick="ajaxCallForServiceNotRequiredServer();" >Service Not Required</a> </li>
                    <li><a href="#nonContacts" data-toggle="tab" id="Tab5" onclick="ajaxCallForNonContactsServer();">Non Contacts</a> </li>
                    <li><a href="#droppedBuc" data-toggle="tab" id="Tab6" onclick="ajaxCallForDroppedCallsServer();">Dropped</a> </li>
                </ul>
                <div class="tab-content">
				<div class="panel panel-default" style="border-top: #fff;">
				<div class="panel-body">
                 <div class="row">
                <div class="col-md-3 tab-pane" id="campaignDiv">
                                
                                <label>Select Campaign</label>
						<select class="filter form-control" id="campaignName" data-column-index="0" name="campaignName">
							<option value="0" >--Select--</option>
							@for(campaign_List<-campaignList){
		                                <option value="@campaign_List.getCampaignName()">@campaign_List.getCampaignName()</option>
		                             }
		                                
						</select>
					</div>
					
					<div class="col-md-3" id="fromDateDiv">
					<label>From Date : </label>
					<input type="text" class="filter form-control datepickerFilter" data-column-index="1" placeholder="Enter From Date" id="fromduedaterange" name="fromduedaterange" readonly>
				  </div>
				   <div class="col-md-3" id="toDateDiv">
					<label>To Date : </label>
					<input type="text" class="filter form-control datepickerFilter" data-column-index="2" placeholder="Enter To Date" id="toduedaterange" name="toduedaterange" readonly>
				  </div>
						<div class="col-md-3" id="serviceTypeDiv">
					
			
						<label>Select service type</label>
						<select class="filter form-control" id="ServiceTypeName" data-column-index="3" name="ServiceTypeName">
							<option value="0" >--Select--</option>
							@for(serviceType_List<-serviceTypeList){
			                                <option value="@serviceType_List.getServiceTypeName()">@serviceType_List.getServiceTypeName()</option>
			                             }
			                                
						</select>
					</div>
					<div class="col-md-3" id="serviceBookTypeDiv" style="display:none">						
					<label>Select Booked service type</label>
						<select class="filter form-control" id="serviceBookedType" data-column-index="4" name="serviceBookedType">
							<option value="0" >--Select--</option>
							@for(bookedServiceType_List<-bookedServiceTypeList){
 <option value="@bookedServiceType_List">@bookedServiceType_List</option>					                   
           }
					                                
						</select>
					</div>
					<div class="col-md-3" id="lastDispoTypeDiv" style="display:none">						
					<label>Last Disposition</label>
						<select class="filter form-control" id="lastDispo" data-column-index="5" >
							<option value="0" >--Select--</option>
								@for(dispo <- dispoList){
			<option value="@dispo.getDisposition()">@dispo.getDisposition()</option>
			
		}
							
					                                
						</select>
					</div>
					<div class="col-md-3" id="droppedcountDiv" style="display:none">						
					<label>Dropped Count</label>
						<select class="filter form-control" id="droppedCount" data-column-index="6">
							<option value="0" >--Select--</option>
							<option value="1" >1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							
					                                
						</select>
					</div>
				</div>
				</div>
				</div>
                                
                            
                    <div class="panel panel-default tab-pane fade @toActivateTab1" id="home">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                
                                        <table class="table table-striped table-bordered table-hover" id="assignedInteractionTable" width="100%">
                                        <thead>
                                            <tr> 
											<th>Campaign</th>	
                                             <th>Customer&nbsp;Name</th>
                                                <th>RegNo.</th>
                                                <th>Model</th> 
                                                <th>Category</th>                                                
                                                <th>DueDate</th>
                                                <th>Type</th>                                                
                                                <th>PSFStatus</th>
                                                <th>DND</th>
                                                <th>Complaint</th>
						<th class="no-sort"></th>





                                            </tr>
                                        </thead>
                                        <tbody>								




                                        </tbody>

                                    </table>




                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default tab-pane fade @toActivateTab2" id="profile">
                        <div class="panel-body inf-content">

                            <div class="dataTable_wrapper">                            
                                
                                    <table class="table table-striped table-bordered table-hover" id="followUpRequiredServerData">
                                        <thead>
                                         <tr> 
                                                <th>Campaign</th> 
                                                <th>Call Date</th>
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>                                                                   
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>FollowUp Date</th>                                    
                                                <th>FollowUp Time</th>
                                                <th>Last Disposition</th>
                                                <th class="no-sort"></th>



                                            </tr>   
                                        </thead>
                                        <tbody>

                                        </tbody>

                                    </table>

                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default tab-pane fade @toActivateTab3" id="messages">
                        <div class="panel-body inf-content">


                            <div class="dataTable_wrapper">                            
                                
                                    <table class="table table-striped table-bordered table-hover" id="serviceBookedServerData">
                                        <thead>
                                            <tr> 
												<th>Booking ID</th>												
                                                <th>Campaign</th> 
                                                <th>Call Date</th>                           	
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>Service ScheduledDate</th>  
                                                <th>Service ScheduledTime</th> 
                                                <th>Service Advisor</th>  
                                                <th>Booking Status</th>
                                                <th>Last Disposition</th>
                                                <th class="no-sort"></th>



                                            </tr>
                                        </thead>
                                        <tbody>




                                        </tbody>

                                    </table>


                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default tab-pane fade @toActivateTab4" id="settings">
                         <div class="panel-body inf-content">

                        <div class="dataTable_wrapper">                            
                            <div style="overflow-x: auto">
                                <table class="table table-striped table-bordered table-hover" id="serviceNotRequiredServerData">
                                    <thead>
                                        <tr> 
                                            <th>Campaign</th>
                                            <th>Call Date</th>                           	
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Service Due</th>
                                            <th>Last Disposition</th>
                                            <th>Reason</th>
                                            <th class="no-sort"></th>



                                        </tr>
                                    </thead>
                                    <tbody>




                                    </tbody>

                                </table>




                            </div>

                        </div>
                    </div>

                    </div><!--End tab panel-->
                    <div class="panel panel-default tab-pane fade @toActivateTab5" id="nonContacts">
                        
                        <div class="panel-body inf-content"> 
                           
                            <div style="overflow-x: auto">
                                <table class="table table-striped table-bordered table-hover" id="nonContactsServerData" width="100%">
                                    <thead>
                                        <tr> 
                                           
                                           <th>Campaign</th> 
                                           <th>Call Date</th>
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Service Due</th>
                                            <th>Last Disposition</th>
                                            <th class="no-sort"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>


                    <div class="panel panel-default tab-pane fade" id="droppedBuc">
                        <div class="panel-body inf-content">


                            <div class="dataTable_wrapper">                            
                                <div style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover" id="droppedCallsServerData" width="100%">
                                        <thead>
                                            <tr> 
												   <th>Campaign</th>
												   <th>Call Date</th>
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Service Due</th>
                                                <th>Last Disposition</th>





                                            </tr>
                                        </thead>
                                        <tbody>



                                        </tbody>

                                    </table>




                                </div>

                            </div>

                        </div>
                    </div>
                    </div>




                </div><!--End tab content-->
            </div><!--End panel body-->
        </div>
    </div>
</div>

}
<script type="text/javascript">
    window.onload = ajaxRequestDataOFCREIndexPageWithTab;
</script>
<script>

    function getvalMain(sel) {
        var selVal = sel.value;
        var selValuess = 'Already Serviced';

        if (selVal == selValuess) {
            $('.show1').css('display', 'block');
        } else {
            $('.show1').css('display', 'none');

        }
    }

    function getval(sel) {
        var onSelVal = sel.value;
        var selValuesTab2 = 'Serviced At Other Dealer';

        if (onSelVal == selValuesTab2) {
            $('.show2').css('display', 'block');
        } else {
            $('.show2').css('display', 'none');

        }
    }

</script>

<script type="text/javascript">
      
 function assignedInteractionData(){
    // alert("server side data load");
    document.getElementById("campaignDiv").style.display = "block";
    document.getElementById("serviceBookTypeDiv").style.display = "none";
    document.getElementById("serviceTypeDiv").style.display = "block";
    document.getElementById("fromDateDiv").style.display = "block";
	document.getElementById("toDateDiv").style.display = "block";
	document.getElementById("lastDispoTypeDiv").style.display = "none";
	document.getElementById("droppedcountDiv").style.display = "none";
     
    var table= $('#assignedInteractionTable').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		"scrollX": true,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": "/assignedInteractionTableData",
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
    } );

    FilterOptionData(table);
    
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
      $($.fn.dataTable.tables(true)).DataTable()
         .columns.adjust();
   });
    
    }
    
    
    function ajaxCallForFollowUpRequiredServer(){
    	document.getElementById("campaignDiv").style.display = "block";
    	document.getElementById("serviceBookTypeDiv").style.display = "none";
    	document.getElementById("serviceTypeDiv").style.display = "block";
    	document.getElementById("fromDateDiv").style.display = "block";
    	document.getElementById("toDateDiv").style.display = "block";
    	document.getElementById("lastDispoTypeDiv").style.display = "none";
    	document.getElementById("droppedcountDiv").style.display = "none";

    	
              
        //alert("follow up server side data");
        var table= $('#followUpRequiredServerData').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		"scrollX": true,
        "paging": true,
        "searching": true,
        "ordering":false,	
        "ajax": "/followUpCallLogTableData",
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
    } );

        FilterOptionData(table);
        
    }
    
    
    
    function ajaxCallForServiceBookedServer(){

    	document.getElementById("campaignDiv").style.display = "block";
    	document.getElementById("serviceBookTypeDiv").style.display = "block";
    	document.getElementById("serviceTypeDiv").style.display = "none";
    	document.getElementById("fromDateDiv").style.display = "block";
    	document.getElementById("toDateDiv").style.display = "block";
    	document.getElementById("lastDispoTypeDiv").style.display = "none";
    	document.getElementById("droppedcountDiv").style.display = "none";
        
    	 var table= $('#serviceBookedServerData').dataTable( {
        "bDestroy": true,  
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		"scrollX": true,
        "paging": true,
        "searching": true,
        "ordering":false,		
        "ajax": "/serviceBookedServerDataTable",
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
    } );  
    	 FilterOptionData(table);
        
    }
    
    function ajaxCallForServiceNotRequiredServer(){
    	document.getElementById("campaignDiv").style.display = "block";
    	document.getElementById("serviceBookTypeDiv").style.display = "none";
    	document.getElementById("serviceTypeDiv").style.display = "none";
    	document.getElementById("fromDateDiv").style.display = "none";
    	document.getElementById("toDateDiv").style.display = "none";
    	document.getElementById("lastDispoTypeDiv").style.display = "none";
    	document.getElementById("droppedcountDiv").style.display = "none";
        
    	 var table= $('#serviceNotRequiredServerData').dataTable( {
        
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		"scrollX": true,
        "paging": true,
        "searching": true,
        "ordering":false,		
        "ajax": "/serviceNotRequiredServerDataTable",
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
    } );    

    	 FilterOptionData(table);  
        
    }
    
    
    function ajaxCallForNonContactsServer(){

    	document.getElementById("campaignDiv").style.display = "block";
    	document.getElementById("serviceBookTypeDiv").style.display = "none";
    	document.getElementById("serviceTypeDiv").style.display = "none";
    	document.getElementById("fromDateDiv").style.display = "block";
    	document.getElementById("toDateDiv").style.display = "block";
    	document.getElementById("lastDispoTypeDiv").style.display = "block";
    	document.getElementById("droppedcountDiv").style.display = "block";
      
    	var table= $('#nonContactsServerData').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		"scrollX": true,
        "paging": true,
        "searching": true,
        "ordering":false,				
        "ajax": "/nonContactsServerDataTable",
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('nowrap','nowrap');
              return nRow;
              }
    } );
        
         FilterOptionData(table);  
        
    }
    
    
    function ajaxCallForDroppedCallsServer(){
        
    	document.getElementById("campaignDiv").style.display = "none";
    	document.getElementById("serviceBookTypeDiv").style.display = "none";
    	document.getElementById("serviceTypeDiv").style.display = "none";
    	document.getElementById("fromDateDiv").style.display = "none";
    	document.getElementById("toDateDiv").style.display = "none";
    	document.getElementById("lastDispoTypeDiv").style.display = "none";
    	document.getElementById("droppedcountDiv").style.display = "none";
        
       $('#droppedCallsServerData').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		"scrollX": true,
        "paging": true,
        "searching": true,
        "ordering":false,        
        "ajax": "/droppedCallsServerDataTable",
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('nowrap','nowrap');
              return nRow;
              }
    }); 
       FilterOptionData(table);    
    }
    
</script>
<script>
	 
	var urlDisposition = "/CRE/dashboardCounts";
    $.ajax({
        url: urlDisposition

    }).done(function (dashboardCount) {

        //console.log(dashboardCount);
        var dateis = GetFormattedDate();
	
	 console.log("dateis : "+dateis);
	 	
       $("#creCurrentdate").html(dateis);

  	  var dashCount = dashboardCount;
  		 $("#FreshCallsCountCRE").html(dashCount[0]);
  		 $("#followupcountCRE").html(dashCount[1]);
  	     $("#nonContactsCRE").html(dashCount[2]);
  	     $("#overDueCountCRE").html(dashCount[3]);
  	     $("#creTotalBookingsperDay").html(dashCount[4]);
  	   	 $("#creTotalCallsperDay").html(dashCount[5]);
        
    });



</script>
<script>

function FilterOptionData(table){
	var values = [];
	$('.filter').on('change', function() {
    	console.log("inside filteroptionsdata data");
	    var i= $(this).data('columnIndex');
	    var v = $(this).val();
		console.log(v);
		console.log(i);
	    
	    if(v.length>0){
		    	   
		   values[i] = v;
	    
	    }
	    
	    	console.log(JSON.stringify(values));	   	
	  	  //clear global search values
	 	  //table.api().search('');
	 	  $(this).data('columnIndex');

	 	 if(values.length>0) {
			 for(var i=0;i<values.length;i++){	
			    table.api().columns(i).search(values[i]);
			 }
			 table.api().draw();
			 } 
		 	  
	});
	
	
}
</script>