

@(fromTransfer:List[WyzUser],toTransfer:List[WyzUser],dealerName:String,userName:String)
@mainPageCREManger("AutoSherpaCRM",userName,dealerName){
 @helper.form(action = routes.CallInteractionController.reAssigningCallsofselectCRE()) {
    <div class="row">
<div class="col-lg-12">
  <div class="panel panel-info">
    <div class="panel-heading"><strong>Select CRE</strong> <small>|To Transfer Calls</small></div>
    <div class="panel-body">
    
    <div class="col-sm-4 selectFrom">
      <label>From :</label>
      <select id="selectedValues" name="selectedValues[]" class="selectpicker" multiple required="required">
       @for(data <- fromTransfer){                      	                         
                <option value="@data.userName">@data.userName</option>
                }
               
       
      </select>
      </div>
      <div class="col-sm-4 selectTo" style="display:none;">
      <label>To :</label>
      <select id="data[]" name="data[]" class="selectpicker" multiple required="required">        
                            			 
                              	                         
      @for(data <- toTransfer){                      	                         
                <option value="@data.userName">@data.userName</option>
                }
                      				
                      		
        
        
      </select>
      </div>
     <div class="col-sm-2">
          <label class="btn btn-primary"  id="viewCalls" onclick="getChangeAssignmentCalls();">View Calls</label>
      </div>
        
      <div class="col-sm-2 assignCalls"style="display:none;">
          <button type="submit" class="btn btn-primary" id="js-upload-submit1">Assign Calls</button>
      </div>
    	
   
  </div>
</div>
</div>
    </div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-success">
      <div class="panel-heading"> List of Interactions For Change Assignment </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example51">
            <thead>
              <tr>
                                    <th>Agent Name</th>
                                    <th>Customer Name</th>
                                    <th>Mobile Number</th>
                                    <th>Vehicle RegNo</th>
                                    <th>Model</th>
                                    <th>SaleDate</th>                                    
                                    <th>Next Service Due </th>
                                    
              </tr>
            </thead>
           
          </table>
        </div>
      </div>
      <!-- /.panel-body --> 
    </div>
    <!-- /.panel --> 
  </div>
  <!-- /.col-lg-12 --> 
</div>
}
}
<script>
$('#viewCalls').click(function () {
$('.selectTo').css('display', 'block');
$('.assignCalls').css('display', 'block');
$('.selectFrom').css('display', 'none');
$('#viewCalls').css('display', 'none');
});

$('.assignCalls').click(function () {

$('.selectFrom').css('display', 'block');
$('#viewCalls').css('display', 'block');
$('.selectTo').css('display', 'none');
$('.assignCalls').css('display', 'none');

});


</script>