@(dealerName:String,userName:String,form: play.data.Form[Dealer])
@main("AutoSherpaCRM",userName,dealerName) {
@helper.form(action = routes.DealerController.adddealerForm ,'id -> "myFormValidation"){
   
<div class="fluid-container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Dealer Registration </h3>
        </div>
        <div class="panel-body">
          
            <div class='row'>
              <div class='col-sm-6'>
                <div class='form-group'>
                <label for="dealerId">Dealer Id :</label>   
                 <div class="input-group" data-validate="userName">       		
         		<input type="text" class="form-control" name="dealerId" placeholder="Enter Dealer Id ..." title="DealerId is required" required>   
         		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>        		
                 </div>
                 <div class='form-group'>
                <label for="dealerName">Dealer Name :</label>  
                 <div class="input-group" data-validate="userName">        		
         		<input type="text" class="form-control" name="dealerName" placeholder="Enter Dealer Name..." title="DealerName is required" required>  
         		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>         		
                 </div>                
              </div>
              <div class='col-sm-6'>
              <div class='form-group'>
                <label for="dealerAddress">Dealer Address :</label> 
                 <div class="input-group" data-validate="userName">         		
         		<input type="text" class="form-control" name="dealerAddress" placeholder="Enter Dealer Address..." title="Dealer Address is required" required> 
         		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>          		
                 </div> 
                 <div class='form-group'>
                <label for="dealerCode">Dealer Code :</label> 
                 <div class="input-group" data-validate="userName">         		
         		<input type="text" class="form-control" name="dealerCode" placeholder="Enter Dealer Code..." title="Dealer Code is required" required>   
         		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>        		
                 </div>
                <div class='text-right'>
                  <input type='submit' class='btn btn-primary' value='Submit'/>
                </div>
              </div>
            </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
    }
   

}

