@(dealerName:String,userName:String,id: Long,editUser:models.WyzUser,form:Form[WyzUser])
@import models._
@import scala._
@main("AutoSherpaCRM",userName,dealerName) {
@helper.form(routes.WyzUserController.postEditUser(id), args= 'class -> "form-horizontal",'enctype ->     "multipart/form-data", 'id -> "updateForm")  {
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Edit User </h3>
      </div>
      <div class="panel-body">
        <form >
          <div class='row'>
            <div class='col-sm-12'>
              <div class='col-sm-4'>
                <div class='form-group'>
                  <label for="firstName">First Name:</label>
                  <input type="text" class="form-control" name="firstName" value='@{editUser.firstName}' id="firstName" autocomplete="off"  />
                </div>
              </div>
              <div class='col-sm-4'>
                <div class='form-group'>
                  <label for="lastName">Last Name :</label>
                  <input type="text" class="form-control" name="lastName" value='@{editUser.lastName}' id="lastName" autocomplete="off"  />
                </div>
              </div>
              <div class='col-sm-4'>
                <div class='form-group'>
                  <label for="userName">User Name :</label>
                  <input type="text" class="form-control" name="userName" value='@{editUser.userName}' id="userName" autocomplete="off"  />
                </div>
              </div>
              
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              
              <div class='col-sm-4'>
                <div class='form-group'>
                  <label for="phoneNumber">PhoneNumber :</label>
                  <input type="text" class="form-control" name="phoneNumber" value='@{editUser.phoneNumber}' id="phoneNumber" autocomplete="off"  />
                </div>
              </div>
              <div class='col-sm-4'>
                <div class='form-group'>
                  <label for="phoneIMENo">Phone IMEI No :</label>
                  <input type="text" class="form-control" name="phoneIMEINo" value='@{editUser.phoneIMEINo}' id="phoneIMEINo" autocomplete="off"  />
                </div>
              </div>
               <div class='col-sm-4'>
                <div class='form-group'>
                  <label for="emailId">EmailId :</label>
                  <input type="text" class="form-control" name="emailId" value='@{editUser.emailId}' id="emailId" autocomplete="off"  />
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              
             
              <div class='col-sm-4'>
                <div class='form-group'>
                  <label for="password">Password :</label>
                  <input type="text" class="form-control" name="password" value='@{editUser.password}' id="password" autocomplete="off"  />
                </div>
              </div>
              <div class='text-right'>
                <input type="submit" onclick="myFunction()" class="btn btn-primary" value="UPDATE" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>   

        }
        

}