@(locationList:List[Location],dealerCode:String,userName:String)
@mainPageCREManger("AutoSherpaCRM",userName,dealerCode) {

@helper.form(action = routes.InsuranceHistoryController.uploadExcelDataHistory(), 'enctype -> "multipart/form-data") {




<div class="panel panel-info">
    <div class="panel-heading"><strong>Insurance Master Data Upload</strong></div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-primary">
                    <div class="panel-heading"><b>Select file from your computer</b></div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-3">
                                <label>Select File Format:</label>
                                <select name="dataType" id="upload_form_name" class="form-control">
                                     <option value= "InsuranceHistory">Insurance</option>

                                </select> 
                            </div>
                            
                            <div class="col-lg-3" style="display:none" >  
                                <label>Sheet Name:</label>                                           
                                <input type="text" class="form-control" name="sheetName" id="sheetName" value="Sheet1" required>
                            </div>

                            <div class="col-lg-3">
                                <label>&nbsp;</label>  
                                <input type="file" name="uploadfiles" id="uploadfiles" >  
                                <span id="lblError" style="color: red;"></span>
                            </div>

                        </div>
                        <div class="row"> 
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cityName">Select City</label>
                                    <select class="form-control" id="city" name="name" onchange="ajaxCallToLoadWorkShopByCity();" required>	
                                        <option value='select'>--Select City--</option>
                                        @for(location_list<-locationList){
                                        <option value="@location_list.getName()">@location_list.getName()</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="workshopId">Select Location</label>
                                    <select class="form-control" id="workshop" name="id" required>					  
                                        <option value=""></option>
                                    </select>
                                </div>				 
                            </div>
                           
                            
                        </div>
                        <input type="submit" class="btn btn-primary pull-right" name="submit" id="uploadFileSubmit" value="Submit" >
                      
                               
                    </div>
                    
                     

                </div>
                
                
            </div>	
            
           
                            

        </div>
       


    </div>
    <script>
        $(document).ready(function () {
            $.fn.checkFileType = function (options) {
                var defaults = {
                    allowedExtensions: [],
                    success: function () {},
                    error: function () {}
                };
                options = $.extend(defaults, options);

                return this.each(function () {

                    $(this).on('change', function () {
                        var value = $(this).val(),
                                file = value.toLowerCase(),
                                extension = file.substring(file.lastIndexOf('.') + 1);

                        if ($.inArray(extension, options.allowedExtensions) == -1) {
                            options.error();
                            $(this).focus();
                        } else {
                            options.success();

                        }

                    });

                });
            };
            $('#uploadfiles').checkFileType({
                allowedExtensions: ['xlsx'],
                error: function () {
                    Lobibox.alert('warning', {
                        msg: "Please select XLSX file only"
                    });
                }
            });
           


            $("#uploadFileSubmit").click(function () {
                var uploadName = $("#upload_form_name").val();
                var sheetName = $("#sheetName").val();
                var city = $("#city").val();
                var workshop = $("#workshop").val();
                var uploadfiles = $("#uploadfiles").val();

                if (uploadName != 'select' && sheetName != '' && uploadfiles != '' && city != 'select' && workshop != 'select') {
                    Lobibox.notify('success', {
                        msg: "Uploaded Successfully"
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                    return true;
                } else {

                    if (uploadName == 'select' || uploadName == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the type of file"
                        });
                        return false;

                    }
                    if (sheetName == '') {

                        Lobibox.notify('warning', {
                            msg: "Please enter the sheet name"
                        });
                        return false;

                    }
                    if (uploadfiles == '') {

                        Lobibox.notify('warning', {
                            msg: "Please choose the file"
                        });
                        return false;

                    }
                    if (city == 'select' || city == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the city"
                        });
                        return false;

                    }
                    if (workshop == 'select' || workshop == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the workshop"
                        });
                        return false;

                    }
                }
            });

            
        });

    </script>


    }
    }