@(vehicleData:Vehicle,userName:String,dealername:String,latestService:Service)

  <div class="panel panel-primary">
   <div class="panel-heading" align="center"; style="background-color:#1797be;"><img src="@routes.Assets.at("images/INTERACTION HISTORY.png")" style="width:17px"/>&nbsp;<b>PSF Next Day Calling</b> 
</div>
    <div class="panel-body">
		<div class="col-md-12">
			<div class="form-group">
					<div id="PSFconnectCall1">
		  <label for=""><b>Did you talk to the customer ?</b></label>
		  <br>
		  <div class="radio-inline">
			<label>
			  <input type="radio" name="isContacted" value="Yes" id="">
			  Yes </label>
		  </div>
		  <div class="radio-inline">
			<label>
			  <input type="radio" name="isContacted" value="No" id="" >
			  No</label>
		  </div>
		 </div>
		 
		 <div style="display:none;" class="row animated  bounceInRight" id="PSFNotSpeachDiv"><br>
		 <div class="col-md-12">
			<label for=""><b>Choose reason for not being able to talk to customer:</b></label>
			<br>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Ringing No response" id="">
				Ringing No response </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Wrong Number" id="">
				Wrong Number </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Busy" id="" >
				Busy</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Switched Off / Unreachable" id="" >
				Switched Off / Unreachable</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Invalid Number" id="" >
				Invalid Number</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="NoOther" id="" >
				Other</label>
			</div>
			
			
			<div class="row animated  bounceInRight" style="display:none;"  id="PSFOtherDivShow">
			<div class="col-md-3">
			<label><b>Please Specify</b></label>
			<textarea type="text" class="form-control" rows="1" name="other"></textarea>
			</div>
			</div>
			<div class="pull-right">
						
					<button type="submit" class="btn btn-info" name="" value="">Submit</button>
			</div>
		  </div>
		  </div>
		  
		   <div style="display:none;" class="row animated  bounceInRight" id="PSFYesTalk" >
			<div class="col-md-12">
				<p>Namaskar. Am I speaking with  <b>@{vehicleData.getCustomer().getCustomerName()} </b>?</p>
		 <div class="radio-inline">
			<label>
			  <input type="radio" name="PSFYesNamaskar"  class='psfYesNamaskarbtn' value="Yes" id="psfYesNamaskarbtn">
			  Yes </label>
		  </div>
		   <div class="radio-inline">
			<label>
			  <input type="radio" name="PSFYesNamaskar" value="No" data-target="#addBtn" data-toggle="modal">
			  No </label>
		  </div>
		  <!--  <div class="radio-inline">
			<label>
			  <input type="radio" name="PSFYesNamaskar" value="NotInterested" id="PSFNotInterested">
			  Not Interested </label>
		  </div> -->
			</div>
			<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo1stMQAge">Back</button>						
					
			</div>
		  </div>
		    <div style="display:none;" class="row animated  bounceInRight" id="PSFYesNamaskarYesDiv" >
			<div class="col-md-12">
			<p>I am <b>@userName</b> from <b> Harpreet Ford </b> Your car no <b>@{vehicleData.getVehicleRegNo()}</b> was serviced on <b>@{latestService.getJobCardDateStr()}</b>, we would like to know about your service experience at our dealership. Is it right time to speak to you?
</p>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="disposition" value="PSF_Yes" id="PSF1Yess">
					  Yes </label>
				</div>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="disposition" value="Call Me Later" id="PSF1Noo">
					 No </label>
				</div>
				<div style="display:none;" class="row animated  bounceInRight" id="PSFYesNamaskarNoDiv" >
				
				<div class="col-md-3">
					<label for="">Choose the service mode</label>
					<select class="form-control" id="dropDownCheckedSelect1">
						<option value="0">--Select--</option>
						<option value="Self Drive-in">Self Drive-in</option>
						<option value="Pick-Up">Pick-Up</option>
						<option value="MMS">MMS</option>
						
					</select>
				</div>
			</div>
				<div style="display:none;" class="row animated  bounceInRight" id="foardCallMelater" >
				 <div class="col-md-12">
			 	<p>May I know your suitable time to connect</p>
			 </div>
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="followUpDate">Call Back Date</label>
					  <input type="text" name="psfFollowUpDate" class="datepickerPlus30Days form-control" id="">
					</div>
				  </div>
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="followUpTime">Call Back Time</label>
					  <input type="text" name="psfFollowUpTime" class="single-input form-control" id="">
					</div>
				  </div>
				  <div class="col-md-6">
					<div class="form-group">
					  <label for="followUpTime">Remarks</label>
					  <textarea type="text" name="remarksList[1]" class="form-control" id=""></textarea>
					</div>
				  </div>
				  </br>
				  <div class="pull-right" id="" >
					<button type="button" class="btn btn-info" name="" id="BackToDidUtlakPSFH" >Back</button>
					<button type="submit" class="btn btn-info" name="" id="" >Submit</button>
				</div>
				
			</div>
				
			<!-- <div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTospeak">Back</button>						
					 <button type="submit" class="btn btn-info" name="NextToPSFDriveIN" value="" id="NextToPSFDriveIN">Next</button> 
			</div> -->
			
			</div>
			</div>
			
			<div style="display:none;" class="row animated  bounceInRight" id="PsfSelfDriveINYes" >
			<div class="col-md-12">
					
	
			<p>Thank you for your service business with <b><< Harpreet Ford >> </b>. This is a feedback call and this may be monitored and recorded for internal quality and training purposes. Questions can be answered on a scale of 1-10, where 1 is termed as Dis-Satisfied and 10 is Completely Satisfied
</p>
			<div class="row">
				<table class=" table table-responsive table-striped table-bordered">
        <thead>
            <tr>
                <th>Sl No.</th>
                <th>Questions</th>
                <th>Rating</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>How would you rate <b>  Harpreet Ford  </b> in terms of your Overall Service Experience? (1-10 scale)</td>
                <td > <select class="form-control input-sm " id="1stQSelectAbove2" name="qFordQ1">
        <option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
               
            </tr>
			
				<tr>
					<td>2</td>
					<td>How would you rate our service advisor <b>  @{latestService.getSaName()}  </b> in terms of Understanding Your Service Needs? (1-10 Scale)</td>
					<td><select class="form-control input-sm" id="2ndQSelectAbove2" name="qFordQ2">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>3</td>
					<td>How would you rate us in terms of Returning Your Vehicle Clean and Tidy? (1-10 Scale)</td>
					<td ><select class="form-control input-sm " id="3rdQSelectAbove2" name="qFordQ3">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>4</td>
					<td>How would you rate Harpreet Ford dealer facility (1-10 Scale)</td>
					<td ><select class="form-control input-sm " id="4thQSelectAbove2" name="qFordQ4">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>5</td>
					<td>Did you find our dealership clean and tidy?  (YES/NO Scale)</td>
					<td ><select class="form-control input-sm " id="5thQSelectAbove2" name="qFordQ5" >
					<option value="">--Select--</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
       
      </select></td>
				</tr>
				<tr>
					<td>6</td>
					<td>Was your vehicle ready at the promised time? (YES/NO Scale)</td>
					<td ><select class="form-control input-sm " id="6thQSelectAbove2" name="qFordQ6">
					<option value="">--Select--</option>
          <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select></td>
				</tr>
				<tr>
					<td>7</td>
					<td>How would you rate us in terms of overall delivery experience? (1-10 Scale)</td>
					<td ><select class="form-control input-sm " id="7thQSelectAbove2" name="qFordQ7">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>8</td>
					<td>First Right First Time FIRFT ? (YES/NO Scale)</td>
					<td ><select class="form-control input-sm " id="8thQSelectAbove2" name="qFordQ8">
					<option value="">--Select--</option>
         <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select></td>
				</tr>
				<tr>
					<td>9</td>
					<td>Did you get your service appointment on the desired day and time? (YES/NO Scale) </td>
					<td><select class="form-control input-sm " id="9thQSelectAbove2" name="qFordQ9">
					<option value="">--Select--</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select></td>
				</tr>
				<tr>
					<td>10</td>
					<td>How would you rate us in terms of Service Initiation? (1-10 Scale)</td>
					<td ><select class="form-control input-sm " id="7thQSelectAbove2" name="qFordQ10">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
					<tr>
					<td>11</td>
					<td>Were you updated on Vehicle Readiness Status? (YES/NO Scale)</td>
					<td><select class="form-control input-sm " id="9thQSelectAbove2" name="qFordQ11">
					<option value="0">--Select--</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select></td>
				</tr>
				<tr>
					<td>12</td>
					<td>Was review done for your vehicle? (YES/NO Scale)</td>
					<td><select class="form-control input-sm " id="9thQSelectAbove2" name="qFordQ12">
					<option value="">--Select--</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select></td>
				</tr>
				<tr>
					<td>13</td>
					<td>How would you rate us in terms of overall time taken to service? (1-10 Scale)</td>
					<td ><select class="form-control input-sm " id="7thQSelectAbove2" name="qFordQ13">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>14</td>
					<td>Were you informed about the next appointment? (YES/NO Scale) </td>
					<td><select class="form-control input-sm " id="9thQSelectAbove2" name="qFordQ14">
					<option value="">--Select--</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select></td>
				</tr>
				<tr>
					<td>15</td>
					<td>How would you rate us in terms of quality of work? (1-10 Scale)</td>
					<td ><select class="form-control input-sm " id="7thQSelectAbove2" name="qFordQ15">
					<option value="0">--Select--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select></td>
				</tr>
				<tr>
					<td>16</td>
					<td>Job explanation was provided? (YES/NO Scale)  </td>
					<td><select class="form-control input-sm " id="9thQSelectAbove2" name="qFordQ16">
					<option value="">--Select--</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select></td>
				</tr>
			</tbody>
			</table>
			 </div> 
              <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Remarks</label>
                      <textarea type="text" name="remarksList[2]" class="form-control" rows="2" id=""></textarea>
                    </div>
                  </div>
			 							
					<div class="pull-right">
                        <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#IncompleteSurvey">Incomplete Survey</button>
					<button type="button" class="btn btn-info" id="BackTospeak">Back</button>	
                    <button type="button" class="btn btn-primary" id="nextToPASageAbove2">Next</button> 					
					<!-- <button type="submit" class="btn btn-info" id="psfAgeAbove2Submit">Submit</button> -->
			</div>
			</div>
			</div>
		
			<div class="col-md-12 animated  bounceInRight" style="display:none;" id="upsellFoard">
			<label>Capture Lead : Is there an Upsell Opportunity.</label>
		   <br>
		   
			<div class="radio-inline">
			  <label>
			<input type="radio" name="LeadYesH" value="Yes" id="LeadYesID3Hyndai" >
				Yes</label>
			</div>
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYesH" value="No" id="LeadNoID3Hyndai" checked>
				No</label>
			</div>
			<div class="row animated  bounceInRight" style="display:none;" id="PsfLeadFoard">
			 <div class="col-md-12">
			  <div class="col-md-6">
			  <div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[0].upsellId" value="10" id="MaxicareIDCheck" onClick="loadLeadBasedOnUserLocation('MaxicareIDCheck','maxicareLead')">
					Extended Warranty</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="MaxicareSelect">
				 
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[0].taggedTo" id="maxicareLead">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments1" name="upsellLead[0].upsellComments"></textarea>
					</div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[1].upsellId" value="1" id="InsuranceIDCheck" onClick="loadLeadBasedOnUserLocation('InsuranceIDCheck','insuranceLead1')">
					Insurance</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="InsuranceSelect">
				 
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[1].taggedTo" id="insuranceLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments1" name="upsellLead[1].upsellComments"></textarea>
					</div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[2].upsellId" value="12" id="ShieldID" onClick="loadLeadBasedOnUserLocation('ShieldID','warrantyLead1')">
					New Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="ShieldSelect">
					
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[2].taggedTo" id="warrantyLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments2" name="upsellLead[2].upsellComments"></textarea>
					</div>
				 
				</div>
				
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="VAS myOutCheckbox" name="upsellLead[3].upsellId" value="3" id="VASID" onClick="loadLeadBasedOnUserLocation('VASID','vASLead1')"/>
					Flexi Plan</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="VASTagToSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[3].taggedTo" id="vASLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments3" name="upsellLead[3].upsellComments"></textarea>
					</div>
				</div>
				</div>
				
				<div class="col-md-6">
			
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="EXCHANGE myOutCheckbox" name="upsellLead[4].upsellId" value="6" id="EXCHANGEID" onClick="loadLeadBasedOnUserLocation('EXCHANGEID','buyNewCarLead1')"/>
					Exchange</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="EXCHANGEIDSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[4].taggedTo" id="buyNewCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments6" name="upsellLead[4].upsellComments"></textarea>
					</div>
				 	</div>
				  <div class="checkbox">
				  <label>
					<input type="checkbox" class="UsedCar myOutCheckbox" name="upsellLead[5].upsellId" value="9" id="UsedCarID" onClick="loadLeadBasedOnUserLocation('UsedCarID','usedCarLead1')"/>
					Used Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="UsedCarSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[5].taggedTo" id="usedCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments7" name="upsellLead[5].upsellComments"></textarea>
					</div>
				 
				</div>
				 <div class="checkbox">
				  <label>
					<input type="checkbox" class="UsedCar myOutCheckbox" name="upsellLead[6].upsellId" value="11" id="RoadSideAsstID" onClick="loadLeadBasedOnUserLocation('RoadSideAsstID','RoadSideAssiLead1')"/>
					Road Side Assistance</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="RoadSideAssiSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[6].taggedTo" id="RoadSideAssiLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments7" name="upsellLead[6].upsellComments"></textarea>
					</div>
				 
				</div>
		   
			  </div>
			</div>
			 
			</div>
		
			  <div class="pull-right" >
			<button type="button" class="btn btn-info" id="BackToUpselFoard">Back</button>
			  <button type="button" class="btn btn-info" id="NextToUpselFoard">Next</button>
			</div>
			</div>
				 <div style="display:none;" class="row animated  bounceInRight" id="psffeedBackFoard" >
		   <div class="col-md-12">
			 	<p>May i take a moment to update your information </p>
			 				 
				  	<div class="radio-inline">
					<label>
					  <input type="radio" name="q12_FeedbackTaken" value="Yes" id="feedbackYes1" data-target="#addBtn" data-toggle="modal">
					  Yes </label>
				</div>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="q12_FeedbackTaken" value="No" id="feedbackNo2" checked>
					 No </label>
				</div>

				
			
			 
			 <div style="display:none;" class="row animated  bounceInRight" id="feedbackPSFNo" >
			 <div class="col-md-12">
			 	<p>Sir, We shall again call you after 12 days to take your feedback. Our Contact No. is <Company Phone No.> till then should you  </p>
				<p>still have any area of concern please let us know. </p>
				<p>Thank you for your valuable feedback and time. Have a nice day. </p>
			 				 </div>
				 
			</div>
							 <div class="pull-right" id=""  >
					<button type="button" class="btn btn-info" name="" id="BackToSirMamDiv" >Back</button>
					<button type="submit" class="btn btn-info" name="" id="SubmitDivMamDiv" >Submit</button>
				</div>
				</div>
		  </div>
			
		
			
		  
			</div><!-----panel Group End---->
		</div>
	</div><!---panel Body End--->
   
  </div>
  
  <script src="@routes.Assets.at("javascripts/psf2ndDayFordDisposition.js")" type="text/javascript"></script>