@(vehicleData:Vehicle,userName:String,dealerName:String,latestService:Service,workshopList:List[Workshop])

 <div class="panel panel-primary">
 <div class="panel-heading" align="center"; style="background-color:#1797be;"><img src="@routes.Assets.at("images/INTERACTION HISTORY.png")" style="width:17px"/>&nbsp;<b>PSF DISPOSITION FORM NEXT DAY</b> 
		</div>    
     <div class="panel-body">
		<div class="col-md-12">
			<div class="form-group">
		<div id="MaruthiFirstQ" class="animated  bounceInRight">
		  <label for=""><b>1.Are you able to connect with the customer?</b></label>
		  <br>
		  <div class="radio-inline">
			<label>
			  <input type="radio" name="isContacted" value="Yes" id="">
			  Yes </label>
		  </div>
		  <div class="radio-inline">
			<label>
			  <input type="radio" name="isContacted" value="No" id="" >
			  No</label>
		  </div>
		 </div>
		 
		 <div style="display:none;" class="animated  bounceInRight" id="MaruthiNotConnect">
			<label for=""><b>Choose reason for not being able to talk to customer:</b></label>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Ringing No response" id="">
				Ringing No response </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Busy" id="" >
				Busy</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Switched Off / Unreachable" id="" >
				Switched Off / Unreachable</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="Invalid Number" id="" >
				Invalid Number</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="PSFDispositon" value="NoOther" id="MaruthiOthersCheck" >
				Other</label>
			</div>
			
			
			<div class="row animated  bounceInRight"  id="">
			<div class="col-md-3">
			<label><b>Remarks</b></label>
			<textarea type="text" class="form-control" rows="1" name="OtherComments"></textarea>
			</div>
			</div>
			<div class="pull-right">
						
					<button type="button" class="btn btn-info" name="" id="BackToMaruti1stQ">Back</button>
					<button type="submit" class="btn btn-info" name="" value="">Submit</button>
			</div>
		  </div>
		  
		   <div style="display:none;" class="animated  bounceInRight" id="MaruthiGoodM" >
			
			<div class="">
			<p>2.Good morning/Afternoon/Evening. Sir/Madam, I am <b>@userName </b>, Calling from <b> @dealerName</b>, Am I speaking to Mr./Ms.<b>@{vehicleData.getCustomer().getCustomerName()}</b></p>
		 <div class="radio-inline">
			<label>
			  <input type="radio" name="qM4_confirmingCustomer" value="Yes" id="goodYes">
			  Yes </label>
		  </div>
		   <div class="radio-inline">
			<label>
			  <input type="radio" name="qM4_confirmingCustomer" value=""   id="goodNo" data-target="#addBtn" data-toggle="modal" data-backdrop="static" data-keyboard="false">
			  No </label>
		  </div>
		  </div>
		   <div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo1stMQ">Back</button>						
					<!-- <button type="button" class="btn btn-info" id="NextToQuest3">Next</button> -->
			</div>
		  </div>
		  
		  <div style="display:none;" class="animated  bounceInRight" id="Ques2FollowUp">
		    	<p>Sorry to bother you. May I know the suitable time when I can speak to Mr./Ms. <b>@{vehicleData.getCustomer().getCustomerName()}</b></p>
				 <div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo2ndQClLat">Back</button>						
					<button type="submit" class="btn btn-info" id="subNextDay1PSF">Submit</button>
			</div>
		</div>
				
		
			
		  
		    <div style="display:none;" class="animated  bounceInRight" id="ManhindarYesC">
			<div class="col-md-12">
			<p>3.Thank you Sir/Madam. If this is right time to speak to you, then I would like to enquire about your car I attended yesterday.</p>
			 <div class="radio-inline">
			<label>
			  <input type="radio" name="qM4_confirmingCustomerRightTime" value="Yes" id="righttimeYes">
			  Yes </label>
		  </div>
		   <div class="radio-inline">
			<label>
			  <input type="radio" name="qM4_confirmingCustomerRightTime" value="No" id="righttimeNo">
			  No </label>
		  </div>
			  <div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo2ndMahiQ">Back</button>						
					<button type="button" class="btn btn-info" id="NextToQuest4">Next</button>
			</div>
			</div>
			</div>
		   
		     <div style="display:none;" class="animated  bounceInRight" id="Ques3FollowUp">
		    	 	<p>Sorry to bother you. May I know the suitable time when I can speak to you</p>
				<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo3rdQMAhis">Back</button>						
					<button type="submit" class="btn btn-info" id="submitNextDayFalloup2">Submit</button>
			</div>
				</div>
				
			 <div class="col-xs-12" style="display:none;" id="onlyFollowUpDiv">
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="followUpDate">Follow Up Date</label>
					  <input type="text" name="psfFollowUpDate" class="showOnlyFutureDate form-control" id="followupDTNextDAYID">
					</div>
				  </div>
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="followUpTime">Follow Up Time</label>
					  <input type="text" name="psfFollowUpTime" class="single-input form-control" id="followupTMNextDAYID">
					</div>
				  </div>
				   <div class="col-md-3">
					<div class="form-group">
					  <label for="followUpTime">Remarks</label>
					  <textarea type="text" name="remarksList[0]" class="form-control" id=""></textarea>
					</div>
				  </div>
				  <br /> 
				 
			
				
			</div>
			
			 
	
	<div style="display:none;" class="animated  bounceInRight" id="MahindraYesLastQ" >
	
			<p>4.Thank You Sir/Madam, Trust you were satisfied with quality of services.</p>
			 <div class="radio-inline">
			<label>
			  <input type="radio" name=qM1_SatisfiedWithQualityOfServ value="Yes" id="satisfiedSID">
			  Yes </label>
		  </div>
		   <div class="radio-inline">
			<label>
			  <input type="radio" name="qM1_SatisfiedWithQualityOfServ" value="No" id="satisfiedNID">
			  No </label>
		  </div>
						<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo3rdQuesMa">Back</button>						
					<button type="button" class="btn btn-info" id="NextTOMahi5thQ">Next</button>
			</div>
			
			
			
			</div>
			
			<div style="display:none;" class="animated  bounceInRight" id="SatisfiedYesMa" >
	
			<b>Thank you Sir/madam. Wish you happy motoring.</b>
			<p>(if customer asks about the phone number of Mahindra Relationship Centre - Hyderabad, pl tell the same. The phone number is 040 - 30125700. Customers get calls from this number only.)</p>
			
						<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo3rdQuest">Back</button>						
					<button type="submit" class="btn btn-info" id="">Submit</button>
			</div>
			
			
			
			</div>
			<div style="display:none;" class="animated  bounceInRight" id="MahindraNoLastQ" >
			<p>My apologies to you. Kindly let me know my area of improvement. (Understand the type of concern by carefully listening to the customer)</p>
			<p>If the concern is related to:</p>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="qM2_ReasonOfAreaOfImprovement" value="Quality Of Serive" id="serviceQualityID">
					  Quality Of Service </label>
				</div>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="qM2_ReasonOfAreaOfImprovement" value="Product" id="ProductIDMa">
					 Product </label>
				</div>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="qM2_ReasonOfAreaOfImprovement" value="General" id="generalIdMa">
					 General(softer issues) </label>
				</div>
				<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo4QMahindra">Back</button>						
					<button type="button" class="btn btn-info" id="NextToSubQMAhai">Next</button>
			
			</div>
			</div>
			
			<div style="display:none;" class="animated  bounceInRight" id="qualityDiv1">
				<div class="radio-inline">
					<label>
					  <input type="radio" name="qM3_SubReasonOfAreaOfImprovement1" value="Minor Issues" id="MinorIssuesID">
					  Minor Issues </label>
				</div>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="qM3_SubReasonOfAreaOfImprovement1" value="Car is required at workshop" id="workhoIDMahi">
					 Car is required at workshop </label>
				</div>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="qM3_SubReasonOfAreaOfImprovement1" value="Quality of Serive" id="QualitySubMahi">
					 Washing & Cleaning</label>
				</div>
				<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo1stAppolagy">Back</button>						
					<button type="button" class="btn btn-info" id="nextTosubQSubMa">Next</button>
				</div>
			</div>
			<div style="display:none;" class="animated  bounceInRight" id="productSubDiv1">
			
			<div class="col-md-12">
				<p>Sir/Madam, we will come to your place and resolve the issue to your satisfaction*</p>
		
				<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackToMhindraQSub">Back</button>						
					<button type="submit" class="btn btn-info" id="">Submit</button>
				</div>
			</div>
			</div>
			
			<div style="display:none;" class="animated  bounceInRight" id="GeneralPlaceDiv">
			
			<div class="col-md-12">
				<p>suitable date and time when I can come and meet you at your place.</p>
			
				<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackToQuestPlaceBk">Back</button>						
					<button type="submit" class="btn btn-info" id="">Submit</button>
				</div>
			</div>
			</div>

			<div style="display:none;" class="animated  bounceInRight" id="productSubDiv2">
			
			<div class="col-md-12">
				<p>Sir/Madam, I am arranging a free Pick up & Drop to attend the car at our workshop** (Arrange loaner car for customer if needed)</p>
				
				<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackToMhinQsu2">Back</button>						
					<button type="submit" class="btn btn-info" id="">Submit</button>
				</div>
			</div>
			</div>
			
			<div style="display:none;" class="animated  bounceInRight" id="minorSubDiv1">
			<div class="col-md-12">
				<p>Sir/Madam, we will come to your place and resolve the issue to your satisfaction*</p>
				<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackToMinorIss1">Back</button>						
					<button type="submit" class="btn btn-info" id="">Submit</button>
				</div>
				</div>
				</div>
				<div style="display:none;" class="animated  bounceInRight" id="minorSubDiv3">
			<div class="col-md-12">
				<p>Sir/Madam, I am arranging for a dry cleaning of your car at your doorstep. Kindly confirm the address where we can come and attend the car.<b>note down the address, date and time,</b></p>
			
				<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackToMinorIss3">Back</button>						
					<button type="submit" class="btn btn-info" id="">Submit</button>
				</div>
			</div>
			</div>
			<div class=""  style="display:none;" id="OnlyAppoDateAndTm">
			<div class="col-md-12">
				<div class="col-md-2">
					<div class="form-group">
						<label>Appointment Date</label>
						<input type="text" name="psfAppointmentDate" class="showOnlyFutureDate form-control" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label>Appointment Time</label>
						<input type="text" name="psfAppointmentTime" class="single-input form-control" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label>Select Address</label>
						<select class="form-control AddressMSSId" name="psfAddressForVisit">
							@for( addre_list <- vehicleData.getCustomer().getAddresses()){
											
									@{if(addre_list.getConcatenatedAdress() !=null)
									
									<option value={addre_list.getConcatenatedAdress()}>{addre_list.getConcatenatedAdress()}</option>
									else 
										<option value={addre_list.getConcatenatedAddressWith()}>{addre_list.getConcatenatedAddressWith()}</option>
										}
									}
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label>&nbsp;</label><br />
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddNewAddressPopup">Add New Address</button>
					</div>
				</div>
				</div>
				<p>Thank you for your time. Good day.</p>
				
			
			</div>
			
			
			<div style="display:none;" class="animated  bounceInRight" id="minorSubDiv2">
			<div class="col-md-12">
				<p>Sir/Madam, I am arranging a free Pick up & Drop to attend the car at our workshop** (Arrange loaner car for customer if needed)</p>
				<div class="pull-right" >
					<button type="button" class="btn btn-info" id="BackToMinorIss2">Back</button>						
					<button type="submit" class="btn btn-info" id="">Submit</button>
				</div>
				</div>
				</div>
				<div style="display:none;" id="OnlyPicUpAddDiv">
				<div class="col-md-12" > 
			
				<div class="col-md-3">
					<div class="form-group">
						<label>Select Address</label>
						<select class="form-control AddressMSSId" name="pickUpAddress">
							@for( addre_list <- vehicleData.getCustomer().getAddresses()){
											
									@{if(addre_list.getConcatenatedAdress() !=null)
									
									<option value={addre_list.getConcatenatedAdress()}>{addre_list.getConcatenatedAdress()}</option>
									else 
										<option value={addre_list.getConcatenatedAddressWith()}>{addre_list.getConcatenatedAddressWith()}</option>
										}
									}
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label>Select Workshop</label>
						<select class="form-control" name="workshopId" id="workshop">
							<option value=0>--Select--</option>
					@for(worklist <- workshopList){
					
					@{if(worklist.id ==(if(latestService.getWorkshop()!=null){latestService.getWorkshop().getId()})){
									
									<option value={worklist.id.toString()} selected="selected">{worklist.workshopName}</option>
									}else {
										<option value={worklist.id.toString()} >{worklist.workshopName}</option>
										}
									}
                              
                             
                              
									}
						</select>
					</div>
				</div>
			
			
				<div class="col-md-3">
					
						<br />						
						
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddNewAddressPopup">Add New Address</button>
						<button type="button" class="btn btn-success" id="AssignBtnBkreview" data-toggle="modal" data-target="#DriverAllcationPOPUp">Assign Driver</button>
					
				</div>
			
				<div class="col-md-4">
					<div class="form-group">
						<label>Remarks</label>
						<textarea type="text" class="form-control" name="remarksList[1]"></textarea>
						
					</div>
				</div>
				
				
			</div>
			<p>Thank you for your time. Good day.</p>
			</div>
			
		
			
			<div style="display:none;" class="animated  bounceInRight" id="ProductDiv2">
				<div class="radio-inline">
					<label>
					  <input type="radio" name="qM3_SubReasonOfAreaOfImprovement2" value="Minor Issues" id="ProduMinorIDMa">
					  Minor Issues </label>
				</div>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="qM3_SubReasonOfAreaOfImprovement2" value="Car is required at workshop" id="ProduworkSpIDMa">
					 Car is required at workshop </label>
				</div>
				<div class="pull-right"><br />
					<button type="button" class="btn btn-info" id="BackTo2minor">Back</button>						
					<button type="button" class="btn btn-info" id="nextToSubMahiQ">Next</button>
			
			</div>
			</div>
			
			
			
	
				<!--panel Group End-->
		</div>
	</div><!--panel Body End-->
   
  </div>
</div>




<script src="@routes.Assets.at("javascripts/psfNextDayDisposition.js")" type="text/javascript"></script>
