
@(fromDateValue:String,toDateValue:String,user:String,dealerName:String,allUsers:List[String],locations:List[String])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

<input type="hidden" name="fromDateToAss" value="@fromDateValue">
<input type="hidden" name="toDateToAss" value="@toDateValue">
<div class="panel panel-primary">
        <div class="panel-heading"><strong>Select Date Range To view SMS Interactions</strong></div>
        <div class="panel-body"> 
                     @helper.form(action = routes.AllCallInteractionController.downloadSMSHistoryReport) {
        
  <div class="row">
  <div class="col-md-2">   
      <div class="form-group">
        
<label>Call Date From :<span style="color:red">*</span></label>    
	   
		<input type="text" class="form-control datepickerFilter" placeholder="Enter Call Date From" id="frombilldaterange" name="frombilldaterange" readonly>
      </div>
      </div>
  
   <div class="col-md-2">   
      <div class="form-group">   
       <label>Call Date To :<span style="color:red">*</span></label>    
					<input type="text" class="form-control datepickerFilter" placeholder="Enter Call Date To"  id="tobilldaterange" name="tobilldaterange" readonly>
     	</div>
      </div>

     <div class="col-md-2">
   
                    <label>Select Location :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="location"  name="locations[]" class="selectpicker  form-control" onchange="workshopsBasedOnLocations(this);" required> 
    	                       	     
                     	@for(data3 <- locations){                       	                         
                    
                        <option value="@data3">@data3</option>
                      	
                      	}	  	
                    	</select>	
                    	<span type="label" id="locationERR" style="color:red"></span>	
           
      </div>
       </div>
       
       <div class="col-md-2">
   
                    <label>Select Workshops :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="workshopname"  name="workshopname[]" class="selectpicker form-control" onchange="cresBasedOnLocations(this);"  required> 
    	                       	     
                     	  	
                    	</select>
                    	
           
      </div>
       </div>
       
        <div class="col-md-2">
   
                    <label>Select CRE's :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="crename"  name="crename[]" class="selectpicker form-control"  required> 
    	                       	     
                     	  	
                    	</select>
                    	<span type="label" id="crenameERR" style="color:red"></span>	
           
      </div>
       </div>
       <div class="col-md-2">
                    <label>Select SMS Sent Status :</label>
                     <div class="form-group">
    			<select  multiple="multiple" id="all_dispositions" name="all_dispositions" class="selectpicker form-control" >
    					                       			    
						<option value="1">Success</option>
						<option value="0">Failure</option>
						 	
                      					
                	</select>
                				
            </div>
             </div>
       <!-- <div class="col-md-2">
   
                    <label>Select CRE's :</label>
                     <div class="form-group">
              <select class="selectpicker form-control"  id="crename" name="crename" multiple>
    					                      			    
                     				 	
                    	</select>
           
      </div>
       </div> --> 
</div>
<div class="col-md-12">
  <div class="form-group pull-right">
  		<button type="button" name="selectedFile" class="btn btn-sm btn-primary viewSMSReports" value="viewSMS"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;View SMS Interactions</button>		     	
  		 <button type="submit" name="downloadFile" class="btn btn-sm btn-warning"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download</button>
		</div>
</div> 
  </div>


}

  </div>      
<span type="label" id="viewSMSERR" style="color:red"></span>
<div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading"><b> List Of SMS Interactions</b>
          </div>
          <div class="panel-body" style="overflow:auto">
          <table class="table table-striped table-bordered table-hover"
						id="datatableSMSIntraction">
						<thead>
							<tr>

								<th>Interaction Date</th> 
                                    <th>Interaction Time</th> 
                                    <th>Message content</th>                                   
                                    <th>SMS Status</th>
                                    <th>Mobile Number</th>
                                    <th>Customer Name</th>
                                    <th>Vehicle Reg No</th>
                                    <th>User name</th>
                                    
                                  


							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
                     
          </div>
          <!-- /.panel-body --> 
        </div>
        <!-- /.panel --> 
      </div>
      <!-- /.col-lg-12 --> 
    </div>
}
	
<script>
$(document).ready(function () {
	$('.viewSMSReports').click(function(){
    	
        var fromDate     = $("#frombilldaterange").val();
        var toDate       = $("#tobilldaterange").val();
       
              
        var UserIds="",j,k;
        var sentStatuses="";       
        
        myOption = document.getElementById('crename');
        console.log("here"+myOption);		        
    for (j=0;j<myOption.options.length;j++){
        if(myOption.options[j].selected){
            if(myOption.options[j].value != "Select"){
        		UserIds = UserIds + myOption.options[j].value + ",";
            }else{
				UserIds ="";
            }
        }
    }
    	if(UserIds.length > 0){
        	UserIds = UserIds.substring(0, UserIds.length - 1);
        	
    	}else{
    		UserIds="";
    	}

    	sentStatus = document.getElementById('all_dispositions');
    	 for (j=0;j<sentStatus.options.length;j++){
    	        if(sentStatus.options[j].selected){
    	            if(sentStatus.options[j].value != "Select"){
    	            	sentStatuses = sentStatuses + sentStatus.options[j].value + ",";
    	            }else{
    	            	sentStatuses ="";
    	            }
    	        }
    	    }	   	
    	 if(sentStatuses.length > 0){
    		 sentStatuses = sentStatuses.substring(0, sentStatuses.length - 1);
         	
     	}else{
     		sentStatuses="";
     	}


        console.log("sentStatuses::"+sentStatuses);
     	var urlLink = "/CREManager/getAllSMSHistoryData"
    	    
    	    $('#datatableSMSIntraction').dataTable( {
    	     "bDestroy": true,
    	     "processing": true,
    	     "serverSide": true,
    	     "scrollY": 400,
 	         "scrollX": true,
    	     "paging": true,
    	     "searching": false,
    	     "ordering":false,
    	     "ajax": {
    		        'type': 'POST',
    		        'url': urlLink,
    		        'data': {    		        	
    		        	fromDate:''+fromDate,
    		        	toDate:''+toDate ,
    		        	UserIds:''+UserIds,
    		        	sentStatuses:''+sentStatuses, 		        	
    		        }
        	        
    	     },
    	     "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                 $('td', nRow).attr('nowrap','nowrap');
                 return nRow;
                 }
    	 } );


    });
});
</script>
