@(alltypeOfReport:TreeMap[String,String],dealercode:String,dealerName:String,userName:String)
@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {
	
	<div class="panel panel-info">
   
    <div class="panel-body"> 
	     @helper.form(action = routes.ReportsController.downloadUploadSummaryReport) {
	
	 <div class="row">
	<div class="col-md-12" id="" style="">   
							<div class="col-lg-2">
							<label>Select File Type :</label>
							<div class="form-group">
                                
                                <select id="dataFileType" class="filter form-control selectpicker" data-column-index="0">                                                                                                        
                                   @for(key <- alltypeOfReport.keySet()){                       
                                    
							
										<option value=@key >@alltypeOfReport.get(key)</option>							
					  
                    
                    }

                                </select> 
                            </div>
                            </div>
                            
                            <div class="col-lg-2">
                            <div class="form-group">
                                <label>From Date :</label>
                                <input type='text' id="fromDate" placeholder="Enter From Date" data-column-index="1" class="filter form-control datepickerFilterDefault" required readonly/>                               
                            </div>
                            </div>
                            
                             <div class="col-lg-2">
                             <div class="form-group">
                                <label>To Date :</label>
                                <input type='text' id="toDate" placeholder="Enter To Date" data-column-index="2" class="filter form-control datepickerFilterDefault" required readonly/>                               
                            </div>
                            </div>
                             
				            <div class="col-lg-4">
				            <div class="form-group">
				            <lable>&nbsp;</lable><br/>
				              <button type='button' class="btn btn-primary" id="searchCust" ><i class="fa fa-list" aria-hidden="true"></i> View</button>
				               <button type="submit" id="searchCust" name="downloadFile" class="btn btn-warning"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download</button>
				              </div>
				            </div>
				         
            
                            
                            
                            </div>
                            </div>
                            </div>
                            }
                            </div>
	
	

<div class="panel panel-info">
    <div class="panel-heading"><strong>Upload Summary Day wise Table</strong></div>
    <div class="panel-body"> 
	  <div class="dataTable_wrapper">
              
                  <table class="table table-striped table-bordered table-hover" id="uploadSummaryReport">
        <thead>
            <tr>
                <th>DATE</th>
                <th>DAY</th>
                <th>RECORDED DATE</th>
                <th>COUNT</th>
                <th>LOCATION</th>				
            </tr>
        </thead>
 
        <tbody>                   
                  </tbody>
                </table>
             
              <!-- /.table-responsive -->
            </div>
    </div>
 </div>


    
	
    }
    <script type="text/javascript">

 $(document).ready(function() {
    var table = $('#uploadSummaryReport').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,
        "ajax": "/CREManager/uploadSummaryDataTable"
        
    } );

    var values=[];

  
	
   $('.filter').on('change', function() {
	   
	   var i= $(this).data('columnIndex');
	   var v = $(this).val();
	   if(v.length>0){

			    values[i] = v;
		  		   
	   }
	   
	   	console.log(JSON.stringify(values));
	   	
     	  //clear global search values
    	  //table.api().search('');
    	  $(this).data('columnIndex');
    	  
    	  
   });


   $('#searchCust').on('click',function(){

	  // alert(values.length);
	   if(values.length>0) {
			for(var i=0;i<values.length;i++){
				
			   table.api().columns(i).search(values[i]);
			}
			table.api().draw();
	   }
	}); 

  
 });
 </script>
      
 
	