@(dealerName:String,user:String,form:Form[WyzUser],allcre:List[WyzUser])
@import models._
@import helper._
@import scala._
@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

<div class="panel panel-info">
  <div class="panel-heading">Chart Reports</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5"> 
        <!-- LINE CHART -->
        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">Call type Pie</h3>
          </div>
          <div class="box-body">
            <canvas id="pieChart" style="height:250px"></canvas>
          </div>
        </div>        <!-- /.box --> 
      </div>
      <div class="col-md-5"> 
        <!-- AREA CHART -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Calls made vs Service Booked</h3>
          </div>
          <div class="box-body">
            <div class="chart">
              <canvas id="areaChart" style="height:250px"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"> 
        <!-- AREA CHART -->
        <div class="box box-primary">
          <div class="panel panel-default">
            <div class="panel-heading"> <a href="#" class="pull-right"> <em class="icon-plus text-muted"></em> </a>Contacts</div>
            <div class="list-group"> 
              <!-- START User status--> 
              <a href="#" class="media p mt0 list-group-item"> <span class="pull-right"> <span class="circle circle-success circle-lg"></span> </span> <span class="media-body"> <span class="media-heading"> <strong>@{user}</strong> <br>
              <small class="text-muted">Manager</small> </span> </span> </a> 
              <!-- END User status--> 
              @for(data <- allcre){
              <!-- START User status--> 
              <a href="#" class="media p mt0 list-group-item"> <span class="pull-right"> <span class="circle circle-success circle-lg"></span> </span> <span class="media-body"> <span class="media-heading"> <strong>@data.getUserName()</strong> <br>
              <small class="text-muted">Agent</small> </span> </span> </a> 
              <!-- END User status--> 
              }
             
              <a href="#" class="media p mt0 list-group-item text-center text-muted">View all contacts</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}